include "gbhw.inc"
include "cgbhw.inc"
include "dma.inc"
		
include "sprite.inc"	


SECTION "Vblank", ROM0[$0040]
	JP	DMA_ROUTINE
SECTION "LCDC", ROM0[$0048]
	reti
SECTION "Timer", ROM0[$0050]
	reti
SECTION "Serial", ROM0[$0058]
	reti
SECTION "Joypad", ROM0[$0060]
	reti

SECTION "ROM_entry_point", ROM0[$0100]	
	nop
	jp	code_begins

SECTION "rom header", ROM0[$0104]
	NINTENDO_LOGO	; add nintendo logo. Required to run on real hardware
DB "K32:SuperRocket"
DB $80;80 DMG+CGB
DB $30,$38
DB $00
DB $00
DB $00
DB $00
DB $01
DB $33
DB $00
DB $63
DB $BD,$F7
include "memory.asm"
;ship
	SpriteAttr	ship0
	SpriteAttr	ship1
	SpriteAttr	ship2
	SpriteAttr	ship3
;pews
	SpriteAttr	pew1
	SpriteAttr	pew2
	SpriteAttr	pew3
;enemies
	SpriteAttr	e1o0 ;obj 8
	SpriteAttr	e1o1
	SpriteAttr	e1o2
	SpriteAttr	e1o3
	SpriteAttr	e2o0
	SpriteAttr	e2o1
	SpriteAttr	e2o2
	SpriteAttr	e2o3
	SpriteAttr	e3o0
	SpriteAttr	e3o1
	SpriteAttr	e3o2
	SpriteAttr	e3o3
	SpriteAttr	e4o0
	SpriteAttr	e4o1
	SpriteAttr	e4o2
	SpriteAttr	e4o3
	SpriteAttr	e5o0
	SpriteAttr	e5o1
	SpriteAttr	e5o2
	SpriteAttr	e5o3
;other
	SpriteAttr	se1
	SpriteAttr	se2
	SpriteAttr	se3
	SpriteAttr	i1
	SpriteAttr	i2
	SpriteAttr	i3
	SpriteAttr	o4
	SpriteAttr	o5
	SpriteAttr	o6
	SpriteAttr	o7
	SpriteAttr	s8
	SpriteAttr	s9
	SpriteAttr	s10
;;;;;these last sprites wont get displayed and are used by the enemy update routine
	SpriteAttr	var0
	SpriteAttr	var1
	SpriteAttr	var2
	SpriteAttr	var3

code_begins:
	ld [system],a
	di	
	ld	SP, $ffff	; set stack to top of HRAM
	dma_Copy2HRAM	; sets up routine from dma.inc that updates sprites
ld	a, IEF_VBLANK	
	ld	[rIE], a	; Set only Vblank interrupt flag
	ei	
			
    ld a, %11100100;set the dmg palettes
	ld [rBGP], a
	ld a, %11010010
	ld [rOBP0], a
	ld a, %00011011
	ld [rOBP1], a

  ld	a, [rLCDC]	; fetch LCD Config. (Each bit is a flag)
	and %11101111   ; use tiles from $9000 for BKG 
	or LCDCF_WIN9C00 | LCDCF_WINON;enable window
	or	LCDCF_OBJON | LCDCF_OBJ8	; enable 8bit wide sprites
	ld	[rLCDC], a	; save LCD Config. Sprites are now visible. 
	ld hl,titlepalettes
	call rgb_SetAllBGP
	ld hl,objpalettes
	call rgb_SetAllOBP
	ld a,3
	ld [bombcount],a
	ld a,104
	ld [rWY],a
	ld a, 7
	ld [rWX],a

	ld a,$77
	ld [rNR50],a
	ld a,$FF
	ld [rNR51],a
	ld a,$80
	ld [rNR52],a
	call	lcd_Stop
	ld	hl, maintiles	; ROM address where we insert  tiles
	ld	de, _VRAM	
	ld	bc, maintilesend - maintiles
	call	mem_Copy

	ld	hl, uitiles	; ROM address where we insert  tiles
	ld	de, $8930
	ld	bc, uitilesend - uitiles
	call	mem_Copy
	ld	hl, titletiles + 2048	; ROM address where we insert  tiles
	ld	de, $8800
	ld	bc, 304
	call	mem_Copy
	ld	hl, titletiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, titletilesend - titletiles
	call	mem_Copy
	ld a,$FF
	ld [$ff4f],a
	ld	hl, titlecgb	; ROM address where we insert  tiles
	ld	de, $9800
	call	settiles
	ld	hl, titlewincgb	; ROM address where we insert  tiles
	ld	de, $9C00
	call	settiles
	ld a,$00
	ld [$ff4f],a
	ld	hl, titlemap	; ROM address where we insert  tiles
	ld	de, $9800
	call	settiles
	ld	hl, titlewinmap	; ROM address where we insert  tiles
	ld	de, $9C00
	call	settiles
	ld	hl, gamenamemap0	; ROM address where we insert  tiles
	ld	de, $9C0B
	ld	c, 7
	call	mem_Copy
	ld	de, $9C2B
	ld	c, 7
	call	mem_Copy
	ld	de, $9C4B
	ld	c, 7
	call	mem_Copy
	ld	hl, t_superrocket	; ROM address where we insert  tiles
	ld	de, $9c67
	ld	c, 12
	call	mem_Copy
	ld	de, $9c87
	ld	c, 11
	call mem_Copy

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	call clearspriteram


	ld a,$ff
	ld hl,$ff30
	ld bc,4
	call mem_Set
	ld a,$00
	ld bc,4
	call mem_Set
	ld a,$ff
	ld bc,4
	call mem_Set
	ld a,$00
	ld bc,4
	call mem_Set


.titlescreenloop
call pause
call lcd_Stop
ld	hl, uitiles	; ROM address where we insert  tiles
ld	de, $8800
ld	bc, uitilesend - uitiles
call mem_Copy
ld	hl, characters	; ROM address where we insert  tiles
ld	de, $9530
ld	bc, charactersend - characters
call	mem_Copy

ld	a, [rLCDC]
or	LCDCF_ON
ld	[rLCDC], a	; turn LCD back on

call intro



call lcd_Stop
ld a,$80
ld hl,$9800
ld bc,$009f
call mem_Set
ld hl,pausetxt
ld de,$9847
ld bc,5
call mem_Copy
ld	a, [rLCDC]
or	LCDCF_ON
ld	[rLCDC], a	; turn LCD back on

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


ld a,0
ld [varb],a

call setupearthorbit
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,1
	ld [bosspalette],a
	ld a,$55
	ld [bosspewtile],a
	ld a,$8
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupmercury
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,2
	ld [bosspalette],a
	ld a,$55
	ld [bosspewtile],a
	ld a,$a
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupvenus
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,3
	ld [bosspalette],a
	ld a,$55
	ld [bosspewtile],a
	ld a,$c
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupmars
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,5
	ld [bosspalette],a
	ld a,$55
	ld [bosspewtile],a
	ld a,$f
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupjupiter
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,5
	ld [bosspalette],a
	ld a,$57
	ld [bosspewtile],a
	ld a,$3
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setuptitan
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,4
	ld [bosspalette],a
	ld a,$57
	ld [bosspewtile],a
	ld a,$4
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupuranus
call MainLoop
	ld a,$ff
	ld [levelend],a
	ld a,4
	ld [bosspalette],a
	ld a,$57
	ld [bosspewtile],a
	ld a,$5
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call setupneptune
call MainLoop
	ld a,10
	ld [varb],a
	ld a,$ff
	ld [levelend],a
	call playlastboss
	ld a,12
	ld [fuel],a
	ld [health],a
	ld a,1
	ld [bosspalette],a
	ld a,$52
	ld [bosspewtile],a
	ld a,$7
	ld [bosshealth],a
	ld a,$a
	ld [bossit],a
call BossLoop
call levelcomplete

call ending
call playmaintheme
.loop
	call UpdateCH1
	call UpdateCH2
	call UpdateCH4
	call UpdateChannels1
	ld a,4
.loop2
	halt 
	nop
	dec a
	jr nz,.loop2
jr .loop

pausetxt:: 
	db $9a,$8b,$9f,$9d,$8f
pausetxtend::

pause::
	halt 
	nop 
	call jpad_GetKeys
	and PADF_START 
jr nz,.aaaaa
jr pause
.aaaaa
	halt 
	nop 
	call jpad_GetKeys
	and PADF_START 
	ret z
	jr .aaaaa

pauseifstart::

	ld a,[jpad]
	and PADF_START 
	ret z
	call sound2
	ld a,0
	ld [rSCX],a
	ld a,10
	.aaaaa
	halt 
	nop 
	call jpad_GetKeys
	and PADF_START 
	jr z,.xd
	jr .aaaaa
.xd
	call pause

ret 


MainLoop::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
	call updatebar
	call levelupdate
	call waitvbl
	call char
	call jpad_GetKeys
	call updateship
	call pauseifstart
	call updatepews
	call updateitems
	call waitvbl
	call charpals
	call updateenemies
	call checkhealth
	call updatesmallenemies
	call updatebar
	call waitvbl
	call levelupdate
	call itemupdate
	call waitvbl
	call txtanim
	call jpad_GetKeys
	call updateship
	call pauseifstart
	call updatepews
	call updateitems
	call waitvbl
	ld a,[scspeed]
	ld b,a
	ld a,[rSCX]
	add b
	ld [rSCX],a
	call updateenemies
	call checkhealth
	call UpdateCH1
	call UpdateCH2
	call UpdateCH4
	call UpdateChannels1
	call updatesmallenemies
	call updatetext
	call shipflyingeffect

	ld a,[levelend]
	cp $80
jp	nz,MainLoop;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
ret


BossLoop::
	call updatebar
	call waitvbl
	call char
	call jpad_GetKeys
	call updateship
	call pauseifstart
	call updatepews
	call updateitems

	call waitvbl
	call charpals
	call checkhealth
	call updatesmallenemies
	call updatebar
	call waitvbl
	ld a,[scspeed]
	ld b,a
	ld a,[rSCX]
	add b
	ld [rSCX],a
	call updateboss1

	call waitvbl
	call txtanim
	call jpad_GetKeys
	call updateship
	call pauseifstart
	call updatepews
	call updateitems
	call waitvbl
	call checkhealth
	call UpdateCH1
	call UpdateCH2

	call UpdateCH4
	call UpdateChannels1
	call updatesmallenemies
	call shipflyingeffect
	ld a,[scspeed]
	ld b,a
	ld a,[rSCX]
	add b
	ld [rSCX],a
	ld a,[levelend]
	cp $80
jp	nz,BossLoop
ret


updateboss1::


	sprite_PutTile e1o0, $58
	sprite_PutTile e1o1, $59
	sprite_PutTile e1o2, $5a
	sprite_PutTile e1o3, $5b
	sprite_PutTile e2o0, $5c
	sprite_PutTile e2o1, $5d
	sprite_PutTile e2o2, $5e
	sprite_PutTile e2o3, $5f
	sprite_PutTile e3o0, $60
	sprite_PutTile e3o1, $62
	sprite_PutTile e3o2, $61
	sprite_PutTile e4o0, $63
	sprite_PutTile e4o1, $64
	sprite_PutTile e4o2, $65
	sprite_PutTile e4o3, $66

	ld a,[bosspalette]
	and %00001111
	sprite_PutFlags e1o0, a
	sprite_PutFlags e1o1, a
	sprite_PutFlags e1o2, a
	sprite_PutFlags e1o3, a
	sprite_PutFlags e4o0, a
	sprite_PutFlags e4o1, a
	sprite_PutFlags e4o2, a
	sprite_PutFlags e4o3, a
	sprite_PutFlags e2o0, a
	sprite_PutFlags e2o1, a
	sprite_PutFlags e2o2, a
	sprite_PutFlags e2o3, a
	sprite_PutFlags e3o0, 5
	sprite_PutFlags e3o1, a
	sprite_PutFlags e3o2, 4

	
	ld a,[bossit]
	cp 0
	call nz,invboss

	ld a,[varb]
	cp $0a
	jp z,.lastb
	PutSpriteXAddr e4o0,$0
	PutSpriteXAddr e4o1,$0
	PutSpriteXAddr e4o2,$0
	PutSpriteXAddr e4o3,$0
	PutSpriteXAddr e1o0,$50
	PutSpriteXAddr e1o1,$50
	PutSpriteXAddr e1o2,$58
	PutSpriteXAddr e1o3,$58
	PutSpriteXAddr e3o0,$5c
	PutSpriteXAddr e3o1,$5c
	PutSpriteXAddr e3o2,$5c
	PutSpriteXAddr e2o0,$60
	PutSpriteXAddr e2o1,$60
	PutSpriteXAddr e2o2,$68
	PutSpriteXAddr e2o3,$68
	ld a,$5c
	ld [x],a

.lastbs


	GetSpriteYAddr e1o0
	ld b,a
	GetSpriteYAddr ship0
	cp b
	jr c,.down
	ld a,b
	inc a
	jr .putY
	.down
	ld a,b
	dec a
	.putY

	sub 8
	PutSpriteYAddr e3o0,a
	add 8
	ld [y],a
	PutSpriteYAddr e1o0,a
	PutSpriteYAddr e1o2,a
	PutSpriteYAddr e4o0,a
	PutSpriteYAddr e4o2,a
	PutSpriteYAddr e2o0,a
	PutSpriteYAddr e2o2,a
	add 8
	PutSpriteYAddr e1o1,a
	PutSpriteYAddr e1o3,a
	PutSpriteYAddr e4o1,a
	PutSpriteYAddr e4o3,a
	PutSpriteYAddr e2o1,a
	PutSpriteYAddr e2o3,a
	add 4
	PutSpriteYAddr e3o1,a
	add 8
	PutSpriteYAddr e3o2,a
	

	GetSpriteXAddr pew1
		ld [x1],a
		GetSpriteYAddr pew1
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp1
		sprite_GetTile pew1
		cp 3
		call z,drophf
		sprite_PutTile pew1,0
		jp bossupdatehealth
		.skipp1
		GetSpriteXAddr pew2
		ld [x1],a
		GetSpriteYAddr pew2
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp2
		sprite_GetTile pew2
		cp 3
		call z,drophf
		sprite_PutTile pew2,0
		jp bossupdatehealth
		.skipp2
		GetSpriteXAddr pew3
		ld [x1],a
		GetSpriteYAddr pew3
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp3
		sprite_GetTile pew3
		cp 3
		call z,drophf
		sprite_PutTile pew3,0
		jp bossupdatehealth
		.skipp3
		GetSpriteYAddr ship0
		add 4
		ld [y1],a
		GetSpriteXAddr ship0
		ld [x1],a
		call checkcollision16
		cp $F0
		jr nz,.skip
		ld a,[health]
		sub 2
		ld [health],a
		jp enemyupdatehealth
		.skip
	ld a,[timer]
	and %00001111
	cp 0
	ret nz
	sprite_GetTile se1
	cp 0
	jr z,.putlp1
	sprite_GetTile se2
	cp 0
	jr z,.putlp2
	sprite_GetTile se3
	cp 0
	jr z,.putlp3
	ret
	.putlp1
	ld a,[bosspewtile]
	sprite_PutTile se1,a
	ld a,[x]
	PutSpriteXAddr se1,a
	ld a,[y]
	PutSpriteYAddr se1,a
	ret
	.putlp2
	ld a,[bosspewtile]
	sprite_PutTile se2,a
	ld a,[x]
	PutSpriteXAddr se2,a
	ld a,[y]
	PutSpriteYAddr se2,a
	ret
	.putlp3
	ld a,[bosspewtile]
	sprite_PutTile se3,a
	ld a,[x]
	PutSpriteXAddr se3,a
	ld a,[y]
	PutSpriteYAddr se3,a
ret
.lastb
	GetSpriteXAddr e1o0
	ld b,a
	GetSpriteXAddr ship0
	cp b
	jr c,.l
	ld a,b
	inc a
	jr .putx
.l
	ld a,b
	dec a
	.putx

	PutSpriteXAddr e1o0,a
	PutSpriteXAddr e1o1,a
	add 8
	PutSpriteXAddr e1o2,a
	PutSpriteXAddr e1o3,a
	add 8
	PutSpriteXAddr e4o0,a
	PutSpriteXAddr e4o1,a
	add 4
	PutSpriteXAddr e3o0,a
	PutSpriteXAddr e3o1,a
	PutSpriteXAddr e3o2,a
	ld [x],a
	add 4
	PutSpriteXAddr e4o2,a
	PutSpriteXAddr e4o3,a
	add 8

	PutSpriteXAddr e2o0,a
	PutSpriteXAddr e2o1,a
	add 8
	PutSpriteXAddr e2o2,a
	PutSpriteXAddr e2o3,a
jp .lastbs

lcd_Stop:
    ld	a, [rLCDC]	; LCD-Config
    and	LCDCF_ON	; compare config to lcd-on flag
    ret	z		; return if LCD is already off
  .wait4vblank
    ldh	a, [rLY]   ; ldh is a faster version of ld if in [$FFxx] range
    cp	145  ; are we at line 145 yet?  (finished drawing screen then)
    jr	nz, .wait4vblank
  .stopLCD
    ld	a, [rLCDC]
    xor	LCDCF_ON	; XOR lcd-on bit with lcd control bits. (toggles LCD off)
    ld	[rLCDC], a	; `a` holds result of XOR operation
ret
jpad_GetKeys:
  ; Uses AF, B
  ; get currently pressed keys. Register A will hold keys in the following
  ; order: MSB --> LSB (Most Significant Bit --> Least Significant Bit)
  ; Down, Up, Left, Right, Start, Select, B, A
  ; This works by writing

	; get action buttons: A, B, Start / Select
	ld	a, JOYPAD_BUTTONS; choose bit that'll give us action button info
	ld	[rJOYPAD], a; write to joypad, telling it we'd like button info
	ld	a, [rJOYPAD]; gameboy will write (back in address) joypad info
	ld	a, [rJOYPAD]
	cpl		; take compliment
	and	$0f	; look at first 4 bits only  (lower nibble)
	swap	a	; place lower nibble into upper nibble
	ld	b, a	; store keys in b
	; get directional keys
	ld	a, JOYPAD_ARROWS
	ld	[rJOYPAD], a ; write to joypad, selecting direction keys
	ld	a, [rJOYPAD]
	ld	a, [rJOYPAD]
	ld	a, [rJOYPAD]	; delay to reliablly read keys
	ld	a, [rJOYPAD]	; since we've just swapped from reading
	ld	a, [rJOYPAD]	; buttons to arrow keys
	ld	a, [rJOYPAD]
	cpl			; take compliment
	and	$0f		; keep lower nibble
	or	b		; combine action & direction keys (result in a)
	ld	b, a

	ld	a, JOYPAD_BUTTONS | JOYPAD_ARROWS
	ld	[rJOYPAD], a		; reset joypad

	ld	a, b	; register A holds result. Each bit represents a key
	ld	[jpad],a
ret
updateship:
  	ld a,[jpad]
	and PADF_UP
	jr z,.noup
	GetSpriteYAddr	ship0
	cp 56
	jr c,.noup
   ; move the metasprite
	GetSpriteYAddr ship0  
	sub 2
	PutSpriteYAddr ship0, a
	PutSpriteYAddr ship2, a
	add 8
	PutSpriteYAddr ship1, a
	PutSpriteYAddr ship3, a
	jr .udend
   .noup
  	ld a,[jpad]
	and PADF_DOWN
	jr z,.nodown
	GetSpriteYAddr	ship0
	cp 144
	jr nc,.nodown
   ; move the metasprite
	GetSpriteYAddr ship0  
	add 2
	PutSpriteYAddr ship0, a
	PutSpriteYAddr ship2, a
	add 8
	PutSpriteYAddr ship1, a
	PutSpriteYAddr ship3, a
	jr .udend
	.nodown
	;if not moving then return to main tiles
	ld a,[jpad]
	and %11110000
	jr nz,.ab
	.udend
	sprite_PutTile	ship0,	4;change to main tiles
	sprite_PutTile	ship1,	5
	sprite_PutTile	ship2,	6
	sprite_PutTile	ship3,	7
	.ab 			
	ld a,[jpad]
	and PADF_LEFT
	jp z,.noleft
	sprite_PutTile	ship0,	8;change to breaking animation tiles
	sprite_PutTile	ship1,	9
	sprite_PutTile	ship2,	6
	sprite_PutTile	ship3,	7
	GetSpriteXAddr	ship0
	cp 11
	jr c,.noleft
   ; move the metasprite
	GetSpriteXAddr ship0  
	sub 4
	PutSpriteXAddr ship0, a
	PutSpriteXAddr ship1, a
	add 8
	PutSpriteXAddr ship2, a
	PutSpriteXAddr ship3, a
   .noleft
  	ld a,[jpad]
	and PADF_RIGHT
	jp z,.noright
	sprite_PutTile	ship0,	4;change to main tiles
	sprite_PutTile	ship1,	$78
	sprite_PutTile	ship2,	6
	sprite_PutTile	ship3,	7
	GetSpriteXAddr	ship0
	cp 150
	jr nc,.noright
   ; move the metasprite
	GetSpriteXAddr ship0  
	add 2
	PutSpriteXAddr ship0, a
	PutSpriteXAddr ship1, a
	add 8
	PutSpriteXAddr ship2, a
	PutSpriteXAddr ship3, a
   .noright
	ld a,[pewtimer] 		;get timer for projectiles
	cp 00 				;check if time has passed since last pew(projectile) was fired
	jr nz,.noab			;time not passed then jump to .noa
	ld a,[jpad]
	and PADF_A
	call nz,shoot;call shooting routine if abutton pressed
	ld a,[jpad]
	and PADF_B
	call nz,bomb;call bomb throw routine if b button pressed
	.noab
	ld a,[pewtimer]
	cp 0
	ret z
	dec a
	ld [pewtimer],a
ret
shoot::

	sprite_GetTile	pew1 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	jr nz,.askip1 			;not available then skip the first pew obj
	sprite_PutTile	pew1,	1
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew1,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew1,	a
	ld a,4
	ld [pewtimer],a
	jp sound
	.askip1
	sprite_GetTile	pew2 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	jr nz,.askip2 			;not available then skip the first pew obj
	sprite_PutTile	pew2,	1
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew2,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew2,	a
	ld a,4
	ld [pewtimer],a
	jp sound
	.askip2
	sprite_GetTile	pew3 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	ret nz			;not available then skip the first pew obj
	sprite_PutTile	pew3,	1
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew3,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew3,	a
	ld a,4
	ld [pewtimer],a
	jp sound
bomb::
	ld a,[bombcount]
	cp 0
	ret z
	sprite_GetTile	pew1 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	jr nz,.askip1	;not available then skip to the next pew obj
	sprite_PutTile	pew1,	3
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew1,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew1,	a
	ld a,4
	ld [pewtimer],a
	ld a,[bombcount]
	dec a
	ld [bombcount],a
	ret
	.askip1
	sprite_GetTile	pew2 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	jr nz,.askip2			;not available then skip to the next pew obj
	sprite_PutTile	pew2,	3
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew2,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew2,	a
	ld a,4
	ld [pewtimer],a
	ld a,[bombcount]
	dec a
	ld [bombcount],a
	ret
	.askip2
	sprite_GetTile	pew3 		;get tile to check if pew1 is available
	cp 0 ;available?  		;if available a=0
	ret nz			;not available then skip the third pew obj
	sprite_PutTile	pew3,	3
	GetSpriteXAddr 	ship3
	PutSpriteXAddr	pew3,	a
	GetSpriteYAddr 	ship3
	PutSpriteYAddr	pew3,	a
	ld a,4
	ld [pewtimer],a
	ld a,[bombcount]
	dec a
	ld [bombcount],a
ret
updatepews::
	.pew1
	sprite_GetTile	pew1
	cp 0
	jr z,.nopew1
	.pew1move
	GetSpriteXAddr 	pew1
	add 4  
	PutSpriteXAddr	pew1,	a
	cp 168
	jr c,.pew2
	sprite_PutTile	pew1,	0
	.nopew1
	PutSpriteXAddr	pew1,	0
	PutSpriteYAddr	pew1,	0

	.pew2
	sprite_GetTile	pew2
	cp 0
	jr z,.nopew2
	.pew2move
	GetSpriteXAddr 	pew2
	add 4  
	PutSpriteXAddr	pew2,	a
	cp 168
	jr c,.pew3
	sprite_PutTile	pew2,	0
	.nopew2
	PutSpriteXAddr	pew2,	0
	PutSpriteYAddr	pew2,	0

	.pew3
	sprite_GetTile	pew3
	cp 0
	jr z,.nopew3
	.pew3move
	GetSpriteXAddr 	pew3
	add 4  
	PutSpriteXAddr	pew3,	a
	cp 168
	ret c
	sprite_PutTile	pew3,	0
	.nopew3
	PutSpriteXAddr	pew3,	0
	PutSpriteYAddr	pew3,	0

ret


bossupdatehealth::
	ld a,[bossit]
	cp 0
	ret nz
	ld a,10
	ld [bossit],a

	ld a,[bosshealth]
	dec a
	ld [bosshealth],a
	cp 0
	ret nz
	ld a,$80
	ld [levelend],a
ret

invboss::
	sprite_PutFlags e1o0, %00010100
	sprite_PutFlags e1o1, %00010100
	sprite_PutFlags e1o2, %00010100
	sprite_PutFlags e1o3, %00010100
	sprite_PutFlags e4o0, %00010100
	sprite_PutFlags e4o1, %00010100
	sprite_PutFlags e4o2, %00010100
	sprite_PutFlags e4o3, %00010100
	sprite_PutFlags e2o0, %00010100
	sprite_PutFlags e2o1, %00010100
	sprite_PutFlags e2o2, %00010100
	sprite_PutFlags e2o3, %00010100
	sprite_PutFlags e3o0, %00010100
	sprite_PutFlags e3o1, %00010100
	sprite_PutFlags e3o2, %00010100
	ld a,[bossit]
	dec a
	ld [bossit],a
ret

updateenemies::
;;;;;;;;;;;;;;;;;;;;;;;e1
	ld a,[e1h]
	ld [enemyhealth],a
	sprite_GetTile e1o0
	sprite_PutTile var0,a
	GetSpriteXAddr e1o0
	PutSpriteXAddr var0,a
	GetSpriteYAddr e1o0
	PutSpriteYAddr var0,a
	sprite_GetFlags e1o0
	sprite_PutFlags var0,a
	call updatevar
	.e1u
	sprite_GetTile var0
	sprite_PutTile e1o0,a
	GetSpriteXAddr var0
	PutSpriteXAddr e1o0,a
	GetSpriteYAddr var0
	PutSpriteYAddr e1o0,a
	sprite_GetFlags var0
	sprite_PutFlags e1o0,a

	sprite_GetTile var1
	sprite_PutTile e1o1,a
	GetSpriteXAddr var1
	PutSpriteXAddr e1o1,a
	GetSpriteYAddr var1
	PutSpriteYAddr e1o1,a
	sprite_GetFlags var1
	sprite_PutFlags e1o1,a

	sprite_GetTile var2
	sprite_PutTile e1o2,a
	GetSpriteXAddr var2
	PutSpriteXAddr e1o2,a
	GetSpriteYAddr var2
	PutSpriteYAddr e1o2,a
	sprite_GetFlags var2
	sprite_PutFlags e1o2,a

	sprite_GetTile var3
	sprite_PutTile e1o3,a
	GetSpriteXAddr var3
	PutSpriteXAddr e1o3,a
	GetSpriteYAddr var3
	PutSpriteYAddr e1o3,a
	sprite_GetFlags var3
	sprite_PutFlags e1o3,a
	ld a,[enemyhealth]
	ld [e1h],a
;;;;;;;;;;;;;;;;;;;;;;;e2
	ld a,[e2h]
	ld [enemyhealth],a
	sprite_GetTile e2o0
	sprite_PutTile var0,a
	GetSpriteXAddr e2o0
	PutSpriteXAddr var0,a
	GetSpriteYAddr e2o0
	PutSpriteYAddr var0,a
	sprite_GetFlags e2o0
	sprite_PutFlags var0,a
	call updatevar
	.e2u
	sprite_GetTile var0
	sprite_PutTile e2o0,a
	GetSpriteXAddr var0
	PutSpriteXAddr e2o0,a
	GetSpriteYAddr var0
	PutSpriteYAddr e2o0,a
	sprite_GetFlags var0
	sprite_PutFlags e2o0,a

	sprite_GetTile var1
	sprite_PutTile e2o1,a
	GetSpriteXAddr var1
	PutSpriteXAddr e2o1,a
	GetSpriteYAddr var1
	PutSpriteYAddr e2o1,a
	sprite_GetFlags var1
	sprite_PutFlags e2o1,a

	sprite_GetTile var2
	sprite_PutTile e2o2,a
	GetSpriteXAddr var2
	PutSpriteXAddr e2o2,a
	GetSpriteYAddr var2
	PutSpriteYAddr e2o2,a
	sprite_GetFlags var2
	sprite_PutFlags e2o2,a

	sprite_GetTile var3
	sprite_PutTile e2o3,a
	GetSpriteXAddr var3
	PutSpriteXAddr e2o3,a
	GetSpriteYAddr var3
	PutSpriteYAddr e2o3,a
	sprite_GetFlags var3
	sprite_PutFlags e2o3,a
	ld a,[enemyhealth]
	ld [e2h],a
;;;;;;;;;;;;;;;;;;;e3
	ld a,[e3h]
	ld [enemyhealth],a
	sprite_GetTile e3o0
	sprite_PutTile var0,a
	GetSpriteXAddr e3o0
	PutSpriteXAddr var0,a
	GetSpriteYAddr e3o0
	PutSpriteYAddr var0,a
	sprite_GetFlags e3o0
	sprite_PutFlags var0,a
	call updatevar
	.e3u
	sprite_GetTile var0
	sprite_PutTile e3o0,a
	GetSpriteXAddr var0
	PutSpriteXAddr e3o0,a
	GetSpriteYAddr var0
	PutSpriteYAddr e3o0,a
	sprite_GetFlags var0
	sprite_PutFlags e3o0,a

	sprite_GetTile var1
	sprite_PutTile e3o1,a
	GetSpriteXAddr var1
	PutSpriteXAddr e3o1,a
	GetSpriteYAddr var1
	PutSpriteYAddr e3o1,a
	sprite_GetFlags var1
	sprite_PutFlags e3o1,a

	sprite_GetTile var2
	sprite_PutTile e3o2,a
	GetSpriteXAddr var2
	PutSpriteXAddr e3o2,a
	GetSpriteYAddr var2
	PutSpriteYAddr e3o2,a
	sprite_GetFlags var2
	sprite_PutFlags e3o2,a

	sprite_GetTile var3
	sprite_PutTile e3o3,a
	GetSpriteXAddr var3
	PutSpriteXAddr e3o3,a
	GetSpriteYAddr var3
	PutSpriteYAddr e3o3,a
	sprite_GetFlags var3
	sprite_PutFlags e3o3,a
	ld a,[enemyhealth]
	ld [e3h],a
;;;;;;;;;;;;;;;;;;;;;;;;;e4
	ld a,[e4h]
	ld [enemyhealth],a
	sprite_GetTile e4o0
	sprite_PutTile var0,a
	GetSpriteXAddr e4o0
	PutSpriteXAddr var0,a
	GetSpriteYAddr e4o0
	PutSpriteYAddr var0,a
	sprite_GetFlags e4o0
	sprite_PutFlags var0,a
	call updatevar
	.e4u
	sprite_GetTile var0
	sprite_PutTile e4o0,a
	GetSpriteXAddr var0
	PutSpriteXAddr e4o0,a
	GetSpriteYAddr var0
	PutSpriteYAddr e4o0,a
	sprite_GetFlags var0
	sprite_PutFlags e4o0,a

	sprite_GetTile var1
	sprite_PutTile e4o1,a
	GetSpriteXAddr var1
	PutSpriteXAddr e4o1,a
	GetSpriteYAddr var1
	PutSpriteYAddr e4o1,a
	sprite_GetFlags var1
	sprite_PutFlags e4o1,a

	sprite_GetTile var2
	sprite_PutTile e4o2,a
	GetSpriteXAddr var2
	PutSpriteXAddr e4o2,a
	GetSpriteYAddr var2
	PutSpriteYAddr e4o2,a
	sprite_GetFlags var2
	sprite_PutFlags e4o2,a

	sprite_GetTile var3
	sprite_PutTile e4o3,a
	GetSpriteXAddr var3
	PutSpriteXAddr e4o3,a
	GetSpriteYAddr var3
	PutSpriteYAddr e4o3,a
	sprite_GetFlags var3
	sprite_PutFlags e4o3,a
	ld a,[enemyhealth]
	ld [e4h],a
;;;;;;;;;;;;;;;;;;;;;;;;;e5
	ld a,[e5h]
	ld [enemyhealth],a
	sprite_GetTile e5o0
	sprite_PutTile var0,a
	GetSpriteXAddr e5o0
	PutSpriteXAddr var0,a
	GetSpriteYAddr e5o0
	PutSpriteYAddr var0,a
	sprite_GetFlags e5o0
	sprite_PutFlags var0,a
	call updatevar
	.e5u
	sprite_GetTile var0
	sprite_PutTile e5o0,a
	GetSpriteXAddr var0
	PutSpriteXAddr e5o0,a
	GetSpriteYAddr var0
	PutSpriteYAddr e5o0,a
	sprite_GetFlags var0
	sprite_PutFlags e5o0,a

	sprite_GetTile var1
	sprite_PutTile e5o1,a
	GetSpriteXAddr var1
	PutSpriteXAddr e5o1,a
	GetSpriteYAddr var1
	PutSpriteYAddr e5o1,a
	sprite_GetFlags var1
	sprite_PutFlags e5o1,a

	sprite_GetTile var2
	sprite_PutTile e5o2,a
	GetSpriteXAddr var2
	PutSpriteXAddr e5o2,a
	GetSpriteYAddr var2
	PutSpriteYAddr e5o2,a
	sprite_GetFlags var2
	sprite_PutFlags e5o2,a

	sprite_GetTile var3
	sprite_PutTile e5o3,a
	GetSpriteXAddr var3
	PutSpriteXAddr e5o3,a
	GetSpriteYAddr var3
	PutSpriteYAddr e5o3,a
	sprite_GetFlags var3
	sprite_PutFlags e5o3,a
	ld a,[enemyhealth]
	ld [e5h],a
ret


explotionanimation::
	ld a,1
	ld [noise],a
	sprite_PutTile var1, $15
	sprite_PutTile var2, $16
	sprite_PutTile var3, $17
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	ld a,[enemyhealth]
	dec a
	ld [enemyhealth],a
	cp 0
	ret nz
	sprite_PutTile var0, $18
	ld a,7
	ld [enemyhealth],a
	sprite_PutTile var1, $19
	sprite_PutTile var2, $1a
	sprite_PutTile var3, $1b
	ret
explotionanimation2::
	ld a,1
	ld [noise],a
	sprite_PutTile var1, $19
	sprite_PutTile var2, $1a
	sprite_PutTile var3, $1b
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	ld a,[enemyhealth]
	dec a
	ld [enemyhealth],a
	cp 0
	ret nz
	sprite_PutTile var0, $0
	sprite_PutTile var1, $0
	sprite_PutTile var2, $0
	sprite_PutTile var3, $0
ret
asteroid::
	sprite_PutTile var1, $39
	sprite_PutTile var2, $3a
	sprite_PutTile var3, $3b
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a
	GetSpriteXAddr var0
	sub 2
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	
	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 2
	ld [health],a
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret
plat::
	sprite_PutTile var2, $22
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var2,a
	sprite_PutFlags var0,a
	ld b,a
	sprite_GetFlags var1
	and %10110000
	or b
	push af
	and OAMF_XFLIP
	jr z,.flip
	sprite_PutTile var1, $21
	sprite_PutTile var3, $23
	pop af
	and %10011111
	jr .noflip
	.flip
	sprite_PutTile var1, $23
	sprite_PutTile var3, $21
	pop af
	or OAMF_XFLIP
	.noflip
	sprite_PutFlags var1,a
	sprite_PutFlags var3,a
	GetSpriteXAddr var0
	sub 2
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	;;;make plat try to collide with ship by moving in the Y coordinate
	GetSpriteYAddr var0
	ld b,a
	GetSpriteYAddr ship0
	cp b
	jr c,.down
	ld a,b
	inc a
	ld [y],a
	jr .putY
	.down
	ld a,b
	dec a
	ld [y],a
	.putY
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	
	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 3
	ld [health],a
	call explode
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret
plaf::
	sprite_GetFlags var0
	and %00001111
	ld b,a

	sprite_GetFlags var1
	and %10110000
	or b
	push af
	and OAMF_XFLIP
	jr z,.flip
	sprite_PutTile var2, $4e
	sprite_PutTile var0, $4c
	sprite_PutTile var1, $4d
	sprite_PutTile var3, $4f
	pop af
	and %10011111
	jr .noflip
	.flip
	sprite_PutTile var2, $4c
	sprite_PutTile var0, $4e
	sprite_PutTile var1, $4f
	sprite_PutTile var3, $4d
	pop af
	or OAMF_XFLIP
	.noflip
	sprite_PutFlags var1,a
	sprite_PutFlags var3,a
	sprite_PutFlags var2,a
	sprite_PutFlags var0,a

	GetSpriteXAddr var0
	ld b,a
	GetSpriteXAddr ship0
	cp b
	jr nc,.right
	ld a,b
	sub 2
	ld [x],a
	jr .putX
	.right
	ld a,b
	add 2
	ld [x],a
	.putX
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	;;;make plat try to collide with ship by moving in the Y coordinate
	GetSpriteYAddr var0
	ld b,a
	GetSpriteYAddr ship0
	cp b
	jr nc,.down
	ld a,b
	sub 2
	ld [y],a
	jr .putY
	.down
	ld a,b
	add 2
	ld [y],a
	.putY
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	
	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 1
	ld [health],a
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret
nam1::
	sprite_PutTile var1, $29
	sprite_PutTile var2, $2a
	sprite_PutTile var3, $2b
	sprite_GetFlags var0
	AND %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	GetSpriteXAddr var0
	sub 4
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 5
	ld [health],a
	.skip
	GetSpriteXAddr var0
	and %00001000
	jr nz,.animation
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.animation
	sprite_PutTile var0, $2c
	sprite_PutTile var1, $2d
	sprite_PutTile var2, $2e
	sprite_PutTile var3, $2f
ret
nam2::
	sprite_PutTile var1, $2d
	sprite_PutTile var2, $2e
	sprite_PutTile var3, $2f
	sprite_GetFlags var0
	AND %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	GetSpriteXAddr var0
	sub 4
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	.skip
	GetSpriteXAddr var0
	and %00001000
	jr z,.animation
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.animation
	sprite_PutTile var0, $28
	sprite_PutTile var1, $29
	sprite_PutTile var2, $2a
	sprite_PutTile var3, $2b
ret
antena1::
	sprite_PutTile var1, $31
	sprite_PutTile var2, $32
	sprite_PutTile var3, $33
	sprite_GetFlags var0
	AND %00001111
	sprite_PutFlags var0,a
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	GetSpriteXAddr var0;move;;;;;;;;;;;;;;
		dec a
		ld [x],a
		PutSpriteXAddr var0,a
		PutSpriteXAddr var1,a
		add 8
		PutSpriteXAddr var2,a
		PutSpriteXAddr var3,a
		GetSpriteYAddr var0
		ld [y],a
		PutSpriteYAddr var2,a
		add 8
		PutSpriteYAddr var1,a
		PutSpriteYAddr var3,a
	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;


	GetSpriteXAddr pew1
		ld [x1],a
		GetSpriteYAddr pew1
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp1
		sprite_GetTile pew1
		cp 3
		call z,drophf
		sprite_PutTile pew1,0
		jp enemyupdatehealth
		.skipp1
		GetSpriteXAddr pew2
		ld [x1],a
		GetSpriteYAddr pew2
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp2
		sprite_GetTile pew2
		cp 3
		call z,drophf
		sprite_PutTile pew2,0
		jp enemyupdatehealth
		.skipp2
		GetSpriteXAddr pew3
		ld [x1],a
		GetSpriteYAddr pew3
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp3
		sprite_GetTile pew3
		cp 3
		call z,drophf
		sprite_PutTile pew3,0
		jp enemyupdatehealth
		.skipp3
		GetSpriteYAddr ship0
		add 4
		ld [y1],a
		GetSpriteXAddr ship0
		ld [x1],a
		call checkcollision16
		cp $F0
		jr nz,.skip
		ld a,[health]
		sub 1
		ld [health],a
		.skip
		ld a,[timer]
		and %00001000
		jr nz,.animation
		GetSpriteXAddr var0
		add 8
		cp $e0
		ret c
	sprite_PutTile var0, 0
	ret 
	.animation
	sprite_PutTile var0, $34
	sprite_PutTile var1, $35
	sprite_PutTile var2, $36
	sprite_PutTile var3, $37
ret
antena2::
	sprite_PutTile var1, $35
	sprite_PutTile var2, $36
	sprite_PutTile var3, $37
	sprite_GetFlags var0
	AND %00001111
	sprite_PutFlags var0,a
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	GetSpriteXAddr var0
		dec a
		ld [x],a
		PutSpriteXAddr var0,a
		PutSpriteXAddr var1,a
		add 8
		PutSpriteXAddr var2,a
		PutSpriteXAddr var3,a
		GetSpriteYAddr var0
		ld [y],a
		PutSpriteYAddr var2,a
		add 8
		PutSpriteYAddr var1,a
		PutSpriteYAddr var3,a
	GetSpriteXAddr pew1
		ld [x1],a
		GetSpriteYAddr pew1
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp1
		sprite_GetTile pew1
		cp 3
		call z,drophf
		sprite_PutTile pew1,0
		jp enemyupdatehealth
		.skipp1
		GetSpriteXAddr pew2
		ld [x1],a
		GetSpriteYAddr pew2
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp2
		sprite_GetTile pew2
		cp 3
		call z,drophf
		sprite_PutTile pew2,0
		jp enemyupdatehealth
		.skipp2
		GetSpriteXAddr pew3
		ld [x1],a
		GetSpriteYAddr pew3
		ld [y1],a
		call checkcollision16
		cp $F0
		jr nz,.skipp3
		sprite_GetTile pew3
		cp 3
		call z,drophf
		sprite_PutTile pew3,0
		jp enemyupdatehealth
		.skipp3
		GetSpriteYAddr ship0
		add 4
		ld [y1],a
		GetSpriteXAddr ship0
		ld [x1],a
		call checkcollision16
		cp $F0
		jr nz,.skip
		ld a,[health]
		sub 2
		ld [health],a
		jp enemyupdatehealth
		.skip
		ld a,[timer]
		and %00001000
		xor %00001000
		jr nz,.animation
		GetSpriteXAddr var0
		add 8
		cp $e0
		ret c
	sprite_PutTile var0, 0
	ret 
	.animation
	sprite_PutTile var0, $30
	sprite_PutTile var1, $31
	sprite_PutTile var2, $32
	sprite_PutTile var3, $33
	ld a,[timer]
	and %00001111
	cp 0
	ret nz
	sprite_GetTile se1
	cp 0
	jr z,.putlp1
	sprite_GetTile se2
	cp 0
	jr z,.putlp2
	sprite_GetTile se3
	cp 0
	jr z,.putlp3
	ret
	.putlp1
	sprite_PutTile se1,$52
	GetSpriteXAddr var1
	PutSpriteXAddr se1,a
	GetSpriteYAddr var1
	PutSpriteYAddr se1,a
	ret
	.putlp2
	sprite_PutTile se2,$52
	GetSpriteXAddr var1
	PutSpriteXAddr se2,a
	GetSpriteYAddr var1
	PutSpriteYAddr se2,a
	ret
	.putlp3
	sprite_PutTile se3,$52
	GetSpriteXAddr var1
	PutSpriteXAddr se3,a
	GetSpriteYAddr var1
	PutSpriteYAddr se3,a
ret
satelite::
	sprite_PutTile var0, $49
	sprite_PutTile var1, $48
	sprite_PutTile var2, $4b
	sprite_PutTile var3, $4a
	sprite_GetFlags var0
	and %00001111
	or OAMF_YFLIP
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a

	GetSpriteXAddr var0
	sub 1
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	add 16
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 2
	ld [health],a
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret 
satelite2::
	sprite_PutTile var0, $48
	sprite_PutTile var1, $49
	sprite_PutTile var2, $4a
	sprite_PutTile var3, $4b
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a

	GetSpriteXAddr var0
	sub 1
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	sub 16
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 2
	ld [health],a
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret 
skullien::
	sprite_PutTile var1, $41
	sprite_PutTile var2, $42
	sprite_PutTile var3, $43
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a


	GetSpriteXAddr var0
	dec a
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,drophf
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,drophf
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,drophf
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteXAddr ship0
	add 8
	ld [x1],a
	ld b, a
	ld a,[x]
	add 8
	cp b
	jr nc,.skip
	add 16
	jr c,.skip
	ld a,[y]
	ld b,a
	GetSpriteYAddr ship0
	ld [y1],a
	ld a,b
	add 8
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr var0
	add 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 4
	ld [x],a
	add 4
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	call checkcollision16
	cp $F0
	jr z,.hitship
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.hitship
	ld a,[health]
	sub 3
	ld [health],a
	GetSpriteXAddr ship0
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr ship0
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	call explode
ret 
skullien2::
	sprite_PutTile var1, $45
	sprite_PutTile var2, $46
	sprite_PutTile var3, $47
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a
	GetSpriteXAddr var0
	dec a
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,drophf
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,drophf
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,drophf
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteXAddr ship0
	add 8
	ld [x1],a
	ld b, a
	ld a,[x]
	add 8
	cp b
	jr nc,.skip
	add 16
	jr c,.skip
	ld a,[y]
	ld b,a
	GetSpriteYAddr ship0
	ld [y1],a
	ld a,b
	sub 8
	.putY
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr var0
	add 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 4
	ld [x],a
	add 4
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	call checkcollision16
	cp $F0
	jr z,.hitship
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.hitship
	ld a,[health]
	sub 3
	ld [health],a
	GetSpriteXAddr ship0
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr ship0
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	call explode
ret 

rocketv::
	sprite_PutTile var1, $25
	sprite_PutTile var2, $26
	sprite_PutTile var3, $27
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a

	GetSpriteXAddr var0
	sub 2
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,drophf
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,drophf
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,drophf
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteXAddr ship0
	add 8
	ld [x1],a
	ld b, a
	ld a,[x]
	add 8
	cp b
	jr nc,.skip
	add 16
	jr c,.skip
	ld a,[y]
	ld b,a
	GetSpriteYAddr ship0
	ld [y1],a
	ld a,b
	sub 8
	.putY
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr var0
	add 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 4
	ld [x],a
	add 4
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	call checkcollision16
	cp $F0
	jr z,.hitship
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.hitship
	ld a,[health]
	sub 4
	ld [health],a
	GetSpriteXAddr ship0
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr ship0
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	call explode
ret 
arrow::
	sprite_PutTile var1, $6c
	sprite_PutTile var2, $6c
	sprite_PutTile var3, $6c
	sprite_GetFlags var0
	AND %00001111
	sprite_PutFlags var0,a
	or OAMF_YFLIP
	sprite_PutFlags var1,a
	sprite_GetFlags var0
	AND %00001111
	or OAMF_XFLIP
	sprite_PutFlags var2,a
	or OAMF_YFLIP
	sprite_PutFlags var3,a

	GetSpriteXAddr var0
	sub 2
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,drophf
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,drophf
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,drophf
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteXAddr ship0
	add 8
	ld [x1],a
	ld b, a
	ld a,[x]
	add 8
	cp b
	jr nc,.skip
	add 16
	jr c,.skip
	ld a,[y]
	ld b,a
	GetSpriteYAddr ship0
	ld [y1],a
	cp b
	jr c,.down
	ld a,b
	add 8
	jr .putY
	.down
	ld c,a
	ld a,b
	sub 8
	.putY
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	GetSpriteXAddr var0
	add 2
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 4
	ld [x],a
	add 4
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	call checkcollision16
	cp $F0
	jr z,.hitship
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
	ret 
	.hitship
	ld a,[health]
	sub 4
	ld [health],a
	GetSpriteXAddr ship0
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr ship0
	PutSpriteYAddr var0,a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a
	call explode
ret
updatevar::
	sprite_GetTile var0
	cp $28
	jp z,nam1
	cp $2c
	jp z,nam2
	cp $30
	jp z,antena1
	cp $34
	jp z,antena2
	cp $20
	jp z,plat
	cp $4C
	jp z,plaf
	cp $4E
	jp z,plaf
	cp $38
	jp z,asteroid
	cp $1C
	jr z,alien
	cp $6c
	jp z,arrow
	cp $48
	jp z,satelite
	cp $49
	jp z,satelite2

	cp $24
	jp z,rocketv
	cp $40
	jp z,skullien
	cp $44
	jp z,skullien2
	cp $14
	jp z,explotionanimation
	cp $18
	jp z,explotionanimation2
	cp $52
	jp z,lockonpew52
	cp $57
	jp z,smallrocket57
	cp $55
	jp z,smallfireh55
	sprite_PutTile var0, 0
	sprite_PutTile var1, 0
	sprite_PutTile var2, 0
	sprite_PutTile var3, 0
	PutSpriteYAddr var0, 0
	PutSpriteYAddr var1, 0
	PutSpriteYAddr var2, 0
	PutSpriteYAddr var3, 0
ret
alien::
	sprite_PutTile var1, $1D
	sprite_PutTile var2, $1E
	sprite_PutTile var3, $1F
	sprite_GetFlags var0
	and %00001111
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	sprite_PutFlags var0,a

	GetSpriteXAddr var0
	sub 2
	ld [x],a
	PutSpriteXAddr var0,a
	PutSpriteXAddr var1,a
	add 8
	PutSpriteXAddr var2,a
	PutSpriteXAddr var3,a
	GetSpriteYAddr var0
	ld [y],a
	PutSpriteYAddr var2,a
	add 8
	PutSpriteYAddr var1,a
	PutSpriteYAddr var3,a

	GetSpriteXAddr pew1
	ld [x1],a
	GetSpriteYAddr pew1
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp1
	sprite_GetTile pew1
	cp 3
	call z,explode
	sprite_PutTile pew1,0
	jp enemyupdatehealth
	.skipp1
	GetSpriteXAddr pew2
	ld [x1],a
	GetSpriteYAddr pew2
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp2
	sprite_GetTile pew2
	cp 3
	call z,explode
	sprite_PutTile pew2,0
	jp enemyupdatehealth
	.skipp2
	GetSpriteXAddr pew3
	ld [x1],a
	GetSpriteYAddr pew3
	ld [y1],a
	call checkcollision16
	cp $F0
	jr nz,.skipp3
	sprite_GetTile pew3
	cp 3
	call z,explode
	sprite_PutTile pew3,0
	jp enemyupdatehealth
	.skipp3
	GetSpriteYAddr ship0
	add 4
	ld [y1],a
	GetSpriteXAddr ship0
	ld [x1],a
	call checkcollision16
	cp $F0
	jr nz,.skip
	ld a,[health]
	sub 2
	ld [health],a
	.skip
	GetSpriteXAddr var0
	add 8
	cp $e0
	ret c
	sprite_PutTile var0, 0
ret
enemyupdatehealth::
	ld a,[enemyhealth]
	dec a
	cp 0
	jp z,drophf
	ld [enemyhealth],a
ret	
explode::
	ld a,1
	ld [noise],a
	sprite_PutTile var0, $14
	sprite_PutTile var1, $15
	sprite_PutTile var2, $16
	sprite_PutTile var3, $17
	ld a, %00000100
	sprite_PutFlags var0,a
	sprite_PutFlags var1,a
	sprite_PutFlags var2,a
	sprite_PutFlags var3,a
	ld a,3
	ld [enemyhealth],a
	ld a,$3a
	ld [rNR41],a
	ld a,$a4
	ld [rNR42],a
	ld a,$61
	ld [rNR43],a
	ld a,$80
	ld [rNR44],a
ret
checkcollision:: ;check if (x1+4,y1+4) is inside (x,y,x+8,y+8)

	ld a,[x1]
	add 4
	ld b, a
	ld a,[x]
	cp b
	ret nc
	add 8
	cp b
	ret c
	ld a,[y1]
	add 4
	ld b, a
	ld a,[y]
	cp b
	ret nc
	add 8
	cp b
	ret c

	ld a,$F0
ret
checkcollision16::	;check if (x1+4,y1+4) is inside (x,y,x+16,y+16)

	ld a,[x1]
	add 4
	ld b, a
	ld a,[x]
	cp b
	ret nc
	add 16
	cp b
	ret c
	ld a,[y1]
	add 4
	ld b, a
	ld a,[y]
	cp b
	ret nc
	add 16
	cp b
	ret c

	ld a,$F0
ret
clearspriteram::
	ld a,0
	ld hl, $C000
	ld bc, 184
	call mem_Set
ret
lockonpew52::
	GetSpriteXAddr var0
	ld b,a
	GetSpriteXAddr ship0
	ld [x],a
	cp b
	jr nc,.right
	ld a,b
	sub 2
	ld [x1],a
	jr .putX
	.right
	ld a,b
	add 2
	ld [x1],a
	.putX
	PutSpriteXAddr var0,a

	GetSpriteYAddr var0
	ld b,a
	GetSpriteYAddr ship0
	ld [y],a
	cp b
	jr nc,.down
	ld a,b
	sub 2
	ld [y1],a
	jr .putY
	.down
	ld a,b
	add 2
	ld [y1],a
	.putY
	PutSpriteYAddr var0,a
	GetSpriteXAddr var0,a
	cp 8
	jr nc,.zkip
	sprite_PutTile var0,0
	ret
	.zkip
	call checkcollision16
	cp $F0
	ret nz
	ld a,[health]
	dec a
	ld [health],a
	sprite_PutTile var0,0
ret
smallrocket57::

	GetSpriteXAddr ship0
	ld [x],a
	GetSpriteXAddr var0
	sub 2
	ld [x1],a
	PutSpriteXAddr var0,a

	GetSpriteYAddr var0
	ld b,a
	GetSpriteYAddr ship0
	ld [y],a
	cp b
	jr nc,.down
	ld a,b
	sub 2
	ld [y1],a
	jr .putY
	.down
	ld a,b
	add 2
	ld [y1],a
	.putY
	PutSpriteYAddr var0,a
	GetSpriteXAddr var0,a
	cp 8
	jr nc,.zkip
	sprite_PutTile var0,0
	ret
	.zkip
	call checkcollision16
	cp $F0
	ret nz
	ld a,[health]
	sub 1
	ld [health],a
	sprite_PutTile var0,0
ret
smallfireh55::

	GetSpriteXAddr ship0
	ld [x],a
	GetSpriteXAddr var0

	sub 2
	ld [x1],a
	PutSpriteXAddr var0,a

	GetSpriteYAddr ship0
	ld [y],a
	GetSpriteYAddr var0
	ld [y1],a

	GetSpriteXAddr var0,a
	cp 8
	jr nc,.zkip
	sprite_PutTile var0,0
	ret
	.zkip
	call checkcollision16
	cp $F0
	ret nz
	ld a,[health]
	sub 1
	ld [health],a
	sprite_PutTile var0,0


ret

drophf::
	ld a,[timer]
	and 1
	jp z,explode
	ld a,[timer]
	and 2
	jr z,.i
	and %00000100
	jr z,.ii
	ld b,$c8
.iiiii
	sprite_GetTile i1
	cp 0
	jr z,.put11
	sprite_GetTile i2
	cp 0
	jr z,.put12
	sprite_GetTile i3
	cp 0
	jr z,.put13
	jp explode
.i 
	ld b,$c6
	jr .iiiii
.ii
	ld b,$c7
	jr .iiiii
	.put11
	sprite_PutTile i1,b
	GetSpriteXAddr var1
	PutSpriteXAddr i1,a
	GetSpriteYAddr var1
	PutSpriteYAddr i1,a
	jp explode
	.put12
	sprite_PutTile i2,b
	GetSpriteXAddr var1
	PutSpriteXAddr i2,a
	GetSpriteYAddr var1
	PutSpriteYAddr i2,a
	jp explode
	.put13
	ld a,$C8
	cp a
	jr z,.life
	sprite_PutTile i3,b
	GetSpriteXAddr var1
	PutSpriteXAddr i3,a
	GetSpriteYAddr var1
	PutSpriteYAddr i3,a
	jp explode
	.life
	sprite_PutTile i3,$c9
	GetSpriteXAddr var1
	PutSpriteXAddr i3,a
	GetSpriteYAddr var1
	PutSpriteYAddr i3,a
jp explode	

updatesmallenemies::
	sprite_GetTile se1
	sprite_PutTile var0,a
	GetSpriteXAddr se1
	PutSpriteXAddr var0,a
	GetSpriteYAddr se1
	PutSpriteYAddr var0,a
	call updatevar
	sprite_GetTile var0
	sprite_PutTile se1,a
	GetSpriteXAddr var0
	PutSpriteXAddr se1,a
	GetSpriteYAddr var0
	PutSpriteYAddr se1,a
	sprite_GetFlags var0
	sprite_PutFlags se1,a

	sprite_GetTile se2
	sprite_PutTile var0,a
	GetSpriteXAddr se2
	PutSpriteXAddr var0,a
	GetSpriteYAddr se2
	PutSpriteYAddr var0,a
	call updatevar
	sprite_GetTile var0
	sprite_PutTile se2,a
	GetSpriteXAddr var0
	PutSpriteXAddr se2,a
	GetSpriteYAddr var0
	PutSpriteYAddr se2,a
	sprite_GetFlags var0
	sprite_PutFlags se2,a

	sprite_GetTile se3
	sprite_PutTile var0,a
	GetSpriteXAddr se3
	PutSpriteXAddr var0,a
	GetSpriteYAddr se3
	PutSpriteYAddr var0,a
	call updatevar
	sprite_GetTile var0
	sprite_PutTile se3,a
	GetSpriteXAddr var0
	PutSpriteXAddr se3,a
	GetSpriteYAddr var0
	PutSpriteYAddr se3,a
	sprite_GetFlags var0
	sprite_PutFlags se3,a
ret

; 1-tile 2-health 3-palette(cgb) 4-ycoordinate 5-waittime


itemupdate::
	ld a,[itemwait]
	cp 0
	jr z,.var
	dec a
	ld [itemwait],a
	ret
	.var
		PutSpriteXAddr var0,157
		ld a,[nextitemh]
		ld h, a
		ld a,[nextiteml]
		ld l, a
		ld a, [hl+]
		sprite_PutTile var0,a
		ld a, [hl+]
		PutSpriteYAddr var0,a
		ld a, [hl+]
		ld [itemwait],a
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a
	;
	sprite_GetTile i1
	cp 0
	jp z, updateitems.i1
	sprite_GetTile i2
	cp 0
	jp z, updateitems.i2
	sprite_GetTile i3
	cp 0
	jp z, updateitems.i3	
ret

heartitem::
	sprite_PutFlags var0,4
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	ld [x1],a
	GetSpriteYAddr var0
	ld [y1],a
	GetSpriteXAddr ship0,a
	ld [x],a
	GetSpriteYAddr ship0
	ld [y],a
	call checkcollision16
	cp $F0
	jr nz,.nocollision
	ld a,[health]
	inc a
	ld [health],a
	
	ld a,[previoushealth]
	inc a
	ld [previoushealth],a
	.hideobj
	sprite_PutTile var0,0
	PutSpriteYAddr var0,0
	jp sound2
	.nocollision
	GetSpriteXAddr var0
	cp 8
	ret nc
	jr .hideobj
ret
bombitem::
	sprite_PutFlags var0,5
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	ld [x1],a
	GetSpriteYAddr var0
	ld [y1],a
	GetSpriteXAddr ship0,a
	ld [x],a
	GetSpriteYAddr ship0
	ld [y],a
	call checkcollision16
	cp $F0
	jr nz,.nocollision
	ld a,[bombcount]
	inc a
	ld [bombcount],a
	.hideobj
	sprite_PutTile var0,0
	PutSpriteYAddr var0,0
	jp sound2
	.nocollision
	GetSpriteXAddr var0
	cp 8
	ret nc
	jr .hideobj
ret
fuelitem::
	sprite_PutFlags var0,2
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	ld [x1],a
	GetSpriteYAddr var0
	ld [y1],a
	GetSpriteXAddr ship0,a
	ld [x],a
	GetSpriteYAddr ship0
	ld [y],a
	call checkcollision16
	cp $F0
	jr nz,.nocollision
	ld a,[fuel]
	inc a
	ld [fuel],a
	.hideobj
	sprite_PutTile var0,0
	PutSpriteYAddr var0,0
	jp sound2
	.nocollision
	GetSpriteXAddr var0
	cp 8
	ret nc
	jr .hideobj
ret
lifeitem::
	sprite_PutFlags var0,3
	GetSpriteXAddr var0
	sub 2
	PutSpriteXAddr var0,a
	ld [x1],a
	GetSpriteYAddr var0
	ld [y1],a
	GetSpriteXAddr ship0,a
	ld [x],a
	GetSpriteYAddr ship0
	ld [y],a
	call checkcollision16
	cp $F0
	jr nz,.nocollision
	ld a,12
	ld [health],a 
	ld a,12
	ld [previoushealth],a 
	.hideobj
	sprite_PutTile var0,0
	PutSpriteYAddr var0,0
	jp sound2
	.nocollision
	GetSpriteXAddr var0
	cp 8
	ret nc
	jr .hideobj
ret

updateitems:
	ld a,[bombcount]
	cp 10
	call nc,bombs9
	sprite_GetTile i1
	sprite_PutTile var0,a
	GetSpriteXAddr i1
	PutSpriteXAddr var0,a
	GetSpriteYAddr i1
	PutSpriteYAddr var0,a
	call updatevaritems
	sprite_GetFlags var0
	sprite_PutFlags i1,a
	.i1
	sprite_GetTile var0
	sprite_PutTile i1,a
	GetSpriteXAddr var0
	PutSpriteXAddr i1,a
	GetSpriteYAddr var0
	PutSpriteYAddr i1,a
	

	sprite_GetTile i2
	sprite_PutTile var0,a
	GetSpriteXAddr i2
	PutSpriteXAddr var0,a
	GetSpriteYAddr i2
	PutSpriteYAddr var0,a
	call updatevaritems
	sprite_GetFlags var0
	sprite_PutFlags i2,a
	.i2
	sprite_GetTile var0
	sprite_PutTile i2,a
	GetSpriteXAddr var0
	PutSpriteXAddr i2,a
	GetSpriteYAddr var0
	PutSpriteYAddr i2,a

	sprite_GetTile i3
	sprite_PutTile var0,a
	GetSpriteXAddr i3
	PutSpriteXAddr var0,a
	GetSpriteYAddr i3
	PutSpriteYAddr var0,a
	call updatevaritems
	sprite_GetFlags var0
	sprite_PutFlags i3,a
    .i3
	sprite_GetTile var0
	sprite_PutTile i3,a
	GetSpriteXAddr var0
	PutSpriteXAddr i3,a
	GetSpriteYAddr var0
	PutSpriteYAddr i3,a
ret
updatevaritems::
	sprite_GetTile var0
	cp $c6
	jp z,heartitem
	cp $c7
	jp z,fuelitem
	cp $c8
	jp z,bombitem
	cp $c9
	jp z,lifeitem
	sprite_PutTile var0,0
	PutSpriteYAddr var0,0
ret
bombs9::
	ld a,9
	ld [bombcount],a
ret

levelupdate::
	ld a,[enemywait]
	cp 0
	jr z,.var
	dec a
	ld [enemywait],a
	ret
	.var
		PutSpriteXAddr var0,157
		ld a,[nextenemyh]
		ld h, a
		ld a,[nextenemyl]
		ld l, a
		ld a, [hl+]
		ld [levelend],a;;;;;;;;;;;if a is 80 then level will end in main loop later
		sprite_PutTile var0,a
		ld a, [hl+]
		ld [enemyhealth],a
		ld a, [hl+]
		ld b, a
		sprite_GetFlags var0
		and %11110000
		or b
		sprite_PutFlags var0,a
		ld a, [hl+]
		PutSpriteYAddr var0,a
		ld a, [hl+]
		ld [enemywait],a
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
	;
	sprite_GetTile e1o0
	cp 0
	jp z, updateenemies.e1u
	sprite_GetTile e2o0
	cp 0
	jp z, updateenemies.e2u
	sprite_GetTile e3o0
	cp 0
	jp z, updateenemies.e3u
	sprite_GetTile e4o0
	cp 0
	jp z, updateenemies.e4u
	sprite_GetTile e5o0
	cp 0
	jp z, updateenemies.e5u
ret



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;music start;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
freq:
	db $00
		DW    44,  156,  262,  363,  457,  547,  631,  710,  786,  854,  923,  986
		DW  1046, 1102, 1155, 1205, 1253, 1297, 1339, 1379, 1417, 1452, 1486, 1517
		DW  1546, 1575, 1602, 1627, 1650, 1673, 1694, 1714, 1732, 1750, 1767, 1783
		DW  1798, 1812, 1825, 1837, 1849, 1860, 1871, 1881, 1890, 1899, 1907, 1915
		DW  1923, 1930, 1936, 1943, 1949, 1954, 1959, 1964, 1969, 1974, 1978, 1982
		DW  1985, 1988, 1992, 1995, 1998, 2001, 2004, 2006, 2009, 2011, 2013, 2015
	
	
	
	
	
	
UpdateChannels1::
	ld a,[NR13]
	cp a,00
	jp z,.noch1
	ld [rNR33],a
	ld a,[NR14]
	or %11000000
	ld [rNR34],a
	ld a,$80
	ld [rNR30],a
	ld a,$df
	ld [rNR31],a
	ld a,$63
	ld [rNR32],a
	.noch1
	ld a,[NR23]
	cp a,00
	jp z,.noch2
	ld [rNR23],a
	ld a,[NR24]
	ld [rNR24],a
	ld a,$81
	ld [rNR21],a
	ld a,$73
	ld [rNR22],a
	.noch2
	ld a,[noise]
	cp a,00
	ret z
	ld a,$3a
	ld [rNR41],a
	ld a,$75
	ld [rNR42],a
	ld a,$00
	ld [rNR43],a
	ld a,$c0
	ld [rNR44],a
	ret

	ret
	
	
UpdateCH1::
	ld a,[CH1note2PlayH];get addr of next note
	ld h,a
	ld a,[CH1note2PlayL]
	ld l,a
	ld a,[hl];get note byte for nr13
	cp $00;if 00 then no note
	jr z,.NoNoteCH1
	
		ld      hl,freq
		ld      c,a
		ld      b,$00
		add     hl,bc
		ld      a,[hl+]
	ld [NR13],a
		ld      a,[hl]
	or $80
	ld [NR14],a
	jp .endch1
	.NoNoteCH1
	ld [NR13],a
	.endch1
	ld a,[CH1note2PlayH];get addr of next note
	ld h,a
	ld a,[CH1note2PlayL]
	ld l,a
	inc hl
	ld a, h;store next note 2 be played addr in ram
	ld [CH1note2PlayH],a
	ld a, l
	ld [CH1note2PlayL],a
	ld a,[CH1loopADDRL]
	ld b, a
	ld a,[CH1note2PlayL]
	cp a, b
	jr nz,.NoLoopMusicCH1
	ld a,[CH1loopADDRH]
	ld b, a
	ld a,[CH1note2PlayH]
	cp a, b
	jr nz,.NoLoopMusicCH1
	ld a,[CH1musicLoopStartH];loop music
	ld [CH1note2PlayH],a
	ld a,[CH1musicLoopStartL]
	ld [CH1note2PlayL],a
	.NoLoopMusicCH1
	RET
	
	
	
	
	
	
UpdateCH2::
	ld a,[CH2note2PlayH];get addr of next note
	ld h,a
	ld a,[CH2note2PlayL]
	ld l,a
	ld a,[hl];get note byte for nr13
	cp $00;if 00 then no note
	jr z,.NoNoteCH2
	
		ld      hl,freq
		ld      c,a
		ld      b,$00
		add     hl,bc
		ld      a,[hl+]
	ld [NR23],a
		ld      a,[hl]
	or $80
	ld [NR24],a
	jp .endch2
	.NoNoteCH2
	ld [NR23],a
	.endch2
	ld a,[CH2note2PlayH];get addr of next note
	ld h,a
	ld a,[CH2note2PlayL]
	ld l,a
	inc hl
	ld a, h;store next note 2 be played addr in ram
	ld [CH2note2PlayH],a
	ld a, l
	ld [CH2note2PlayL],a
	ld a,[CH2loopADDRL]
	ld b, a
	ld a,[CH2note2PlayL]
	cp a, b
	jr nz,.NoLoopMusicCH2
	ld a,[CH2loopADDRH]
	ld b, a
	ld a,[CH2note2PlayH]
	cp a, b
	jr nz,.NoLoopMusicCH2
	ld a,[CH2musicLoopStartH];loop music
	ld [CH2note2PlayH],a
	ld a,[CH2musicLoopStartL]
	ld [CH2note2PlayL],a
	.NoLoopMusicCH2
	RET
	
	
UpdateCH4::
	ld a,[CH4note2PlayH];get addr of next note
	ld h,a
	ld a,[CH4note2PlayL]
	ld l,a
	ld a,[noise]
	cp 1
	jr nz,.zkeep
	dec a
	jr .zkeep2
.zkeep
	ld a,[hl];get note byte for nr13
.zkeep2
	ld [noise],a
	.endch4
	ld a,[CH4note2PlayH];get addr of next note
	ld h,a
	ld a,[CH4note2PlayL]
	ld l,a
	inc hl
	ld a, h;store next note 2 be played addr in ram
	ld [CH4note2PlayH],a
	ld a, l
	ld [CH4note2PlayL],a
	ld a,[CH4loopADDRL]
	ld b, a
	ld a,[CH4note2PlayL]
	cp a, b
	jr nz,.NoLoopMusicCH4
	ld a,[CH4loopADDRH]
	ld b, a
	ld a,[CH4note2PlayH]
	cp a, b
	jr nz,.NoLoopMusicCH4
	ld a,[CH4musicLoopStartH];loop music
	ld [CH4note2PlayH],a
	ld a,[CH4musicLoopStartL]
	ld [CH4note2PlayL],a
	.NoLoopMusicCH4
	RET
	
	
	
	
	
CN4 	EQU     25
CS4 	EQU	27
DN4 	EQU	29
DS4 	EQU	31
EN4 	EQU	33
FN4 	EQU	35
FS4 	EQU	37
GN4 	EQU	39
GS4 	EQU	41
AN4 	EQU	43
AS4 	EQU	45
BN4 	EQU	47
CN5 	EQU     49
CS5 	EQU	51
DN5 	EQU	53
DS5 	EQU	55
EN5 	EQU	57
FN5 	EQU	59
FS5 	EQU	61
GN5 	EQU	63
GS5 	EQU	65
AN5 	EQU	67
AS5 	EQU	69
BN5 	EQU	71
CN6 	EQU     73
CS6 	EQU	75
DN6 	EQU	77
DS6 	EQU	79
EN6 	EQU	81
FN6 	EQU	83
FS6 	EQU	85
GN6 	EQU	87
GS6 	EQU	89
AN6 	EQU	91
AS6 	EQU	93
BN6 	EQU	95
	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;music end;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
	



settiles:
	ld a,0
	.nl
		push af  
		ld bc,20                     
		call	mem_Copy
		push hl
		ld hl,12
		add hl,de
		ld d,h
		ld e,l
		pop hl
		pop af
		inc a
		cp 18
		jp nz,.nl
ret
waitvbl::
	ld a,[timer];general purpose timer increment
    inc a
	ld [timer],a


	ld a,[barline]
	ld b,a
	halt 
	nop 
	ld a,$ea
	ld [$9c02],a
	ld [$9c42],a
	inc a
	ld [$9c22],a
	ld [$9c62],a
	ld	a, [rLCDC]	
	and %11111101
	or LCDCF_WINON
	ld	[rLCDC], a	; save LCD Config. Sprites and win are not visible. 
  .loopbar
	ld a,[rLY]
  	cp b
  	jr nz,.loopbar
  	ld a,$ec
  	ld [$9c02],a
  	inc a
  	ld [$9c22],a
	ld a,[barline2]
	ld b,a
	.loopbar2
	ld a,[rLY]
  	cp b
  	jr nz,.loopbar2
  	ld a,$ec
  	ld [$9c42],a
  	inc a
  	ld [$9c62],a
  .loop40
   ld a,[rLY]
   cp 40
   jr nz,.loop40
   ld	a, [rLCDC]	
   or LCDCF_OBJON
   xor LCDCF_WINON
   ld	[rLCDC], a	; save LCD Config. Sprites and win are now visible. 
ret


updatebar::
	ld a,[health]
	ld b, a
	ld a,14
	sub b
	ld [barline],a
	ld a,[fuel]
	ld b, a
	ld a,30
	sub b
	ld [barline2],a
	ld a,[bombcount]
	add $cb
	ld [$9c65],a
ret

checkhealth::
	ld a,[timer]
	cp 0
	jr z,.fdec
	cp 128
	jr z,.fdec
	jr .nofueldec
	.fdec
	ld a,[fuel]
	dec a
	ld [fuel],a
	.nofueldec
	ld a,[fuel]
	cp $e0
	jr nc,.f0
	cp $0e
	jr nc,.f12
	jr .hcheck
	.f0
	ld a,0
	ld [fuel],a
	ld [health],a
	jr .hcheck
	.f12
	ld a,$0C
	ld [fuel],a
	.hcheck

	
	ld a,[health]
	cp $e0
	jr nc,.h0
	cp $0e
	jr nc,.h12
	jr .hitcheck
	.h0
	ld a,0
	ld [health],a
	jr .hitcheck
	.h12
	ld a,$0C
	ld [health],a

.hitcheck

	ld a,[invencible]
	cp 0
	jr nz,.nodamage
	sprite_PutFlags ship0,%00000000
	sprite_PutFlags ship1,%00000000
	sprite_PutFlags ship2,%00000000
	sprite_PutFlags ship3,%00000000


		ld a,[health]
		ld b,a
		ld a,[previoushealth]
		cp b
		ret z
		ld a,11
		ld [invencible],a
	ld a,[health]
	ld [previoushealth], a

	sprite_PutFlags ship0,%00010100
	sprite_PutFlags ship1,%00010100
	sprite_PutFlags ship2,%00010100
	sprite_PutFlags ship3,%00010100
	ld a,$3a
	ld [rNR41],a
	ld a,$a1
	ld [rNR42],a
	ld a,$3b
	ld [rNR43],a
	ld a,$c0
	ld [rNR44],a
	ret
	.nodamage
	ld a, [previoushealth]
	ld [health], a
	ld a,[invencible]
	dec a
	ld [invencible],a
	call gameovercheck
ret

gameovercheck::;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;gameover;;;;;;;;;terminar

	ld a, [health]
	cp 0
	ret nz
	ld a,$3a
	ld [rNR41],a
	ld a,$a4
	ld [rNR42],a
	ld a,$61
	ld [rNR43],a
	ld a,$80
	ld [rNR44],a
	sprite_PutTile ship0,$14
	sprite_PutTile ship1,$15
	sprite_PutTile ship2,$16
	sprite_PutTile ship3,$17

call part1

	sprite_PutTile ship0,$18
	sprite_PutTile ship1,$19
	sprite_PutTile ship2,$1a
	sprite_PutTile ship3,$1b

call part1
	
	call lcd_Stop

	ld	a, [rLCDC]	
	and %11011101
	ld	[rLCDC], a	; save LCD Config. Sprites and win are not visible. 

	ld a,$FF
	ld [rVRAM_BANK],a
	ld a,$80
	ld	hl, $9800
	ld	bc, uitilesend - uitiles
	call mem_Set
	ld a,0
	ld [rVRAM_BANK],a
	ld a,$80
	ld	hl, $9800
	ld	bc, uitilesend - uitiles
	call mem_Set
	ld	hl, gameover	; ROM address where we insert  tiles
	ld	de, $9906
	ld	bc, gameoverend - gameover
	call	mem_Copy
	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on
	ld a,0
	ld [rSCX],a
	.explotar
	halt 
	nop 
	call jpad_GetKeys
	and PADF_A | PADF_START
	jr z,.explotar
jp code_begins

part1::
	ld a,100
.loop2
push af
call waitvbl
pop af
dec a
cp 0
jr nz,.loop2
ret


shipflyingeffect::

	ld a,[jpad]
	and %11110000
	ret nz
	ld a,[shipeffect]
	inc a
	ld [shipeffect],a
	and 1
	ret nz
	ld a,[shipeffect]
	and %00000100
	jr nz,.d
	.u
	GetSpriteYAddr ship0
	inc a
	jr .s
	.d
	GetSpriteYAddr ship0
	dec a
	.s
	PutSpriteYAddr ship0,a
	PutSpriteYAddr ship2,a
	add 8
	PutSpriteYAddr ship3,a
	PutSpriteYAddr ship1,a
ret



updatetext::
	ld a,[textwait]
	cp 0
	jr z,.newtext
	ld a,[textendwait]
	cp 0
	jp z,.cleartext
	ld a,[textendwait]
	dec a
	ld [textendwait],a
	ld a,[textwait]
	dec a
	ld [textwait],a
	ret
.newtext
	ld a,[nexttexth]
	ld h, a
	ld a,[nexttextl]
	ld l, a

	ld a, [hl+]
	ld [chart],a
	ld a, [hl+]
	ld [cpal],a

	ld a, [hl+]
	ld [ctal],a
	ld a, [hl+]
	ld [ctah], a
	ld bc,$9c2b
	ld a,b
	ld [ctab],a
	ld a,c
	ld [ctac],a
	ld a, [hl+]
	ld [textwait],a
	ld a, l
	ld [nexttextl],a
	ld a, h
	ld [nexttexth],a
	ld a,60
	ld [textendwait],a
	ret
.cleartext
	ld hl, $9c28
	.loop4
	ld a,$80
	ld [hl],a
	cp [hl]
	jr nz,.loop4
	inc hl
	ld a,$33
	cp l
	jr nz,.loop4
	ld hl, $9c48
	.loop5
	ld a,$80
	ld [hl],a
	cp [hl]
	jr nz,.loop5
	inc hl
	ld a,$53
	cp l
	jr nz,.loop5
	ld hl, $9c68
	.loop6
	ld a,$80
	ld [hl],a
	cp [hl]
	jr nz,.loop6
	inc hl
	ld a,$73
	cp l
	jr nz,.loop6
	ld a,[textendwait]
	dec a
	ld [textendwait],a
ret
waitx::
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
nop
	ret
char::
	ld a,[chart]
	cp 0
	ret z

	call waitx
	ld [$9c28],a
	inc a
	ld [$9c48],a
	inc a
	ld [$9c68],a
	inc a
	ld [$9c29],a
	inc a
	ld [$9c49],a
	inc a
	ld [$9c69],a
	inc a
	ld [$9c2a],a
	inc a
	ld [$9c4a],a
	inc a
	ld [$9c6a],a
	ld a,0
	ld [chart],a
ret

charpals::
	ld a,[system]
	cp $11
	ret nz
	ld a,[cpal]
	cp 0
	ret z
	call waitx
	push af
	ld a,$FF
	ld [$ff4f],a
	pop af
	ld [$9c28],a
	ld [$9c48],a
	ld [$9c68],a
	ld [$9c29],a
	ld [$9c49],a
	ld [$9c69],a
	ld [$9c2a],a
	ld [$9c4a],a
	ld [$9c6a],a
	ld a,0
	ld [cpal],a
	ld a,$00
	ld [$ff4f],a
ret

txtanim::

	.wait	
	ld a,[rSTAT]
	and %00000011
	jr nz,.wait



	ld a,[ctah]
	ld h, a
	ld a,[ctal]
	ld l, a
	ld a,0
	cp h
	ret z
	ld a,[ctab]
	ld b, a
	ld a,[ctac]
	ld c, a
	ld a, [hl+]
	ld [bc], a
	inc bc
	ld a, h
	ld [ctah],a
	ld a, l
	ld [ctal],a
	ld a,c
	and %00001111
	cp 3
	jr nz,.end
	ld hl,$0018
	add hl, bc
	ld b, h
	ld c, l
	ld a, c
	cp $8B
	jr nz,.end
	ld a, 0
	ld [ctah],a
	ld [ctal],a
	.end
	ld a, b
	ld [ctab],a
	ld a, c
	ld [ctac],a
ret 


;;;;;;;;;;;;;;;;;;;;;;;;;;cgb
rgb_SetAllBGP:
	ld	a,%10000000	; bit 7 = auto-increment.
				; Bits 0-6 = index of palette to update
; when auto-increment is set, writing to rBCPD auto-increments
; to the next byte, and then the next palette (every 8 bytes)
	ldh	[rBCPS],a
	ld	bc, $4000 | (rBCPD & $00FF)
	; b = 64, c = rBCPD	(when using ld [$FF00+c], a)
	; There are a total of 8 background palettes * 8 bytes per palette = 64
.loop1:
	di
.loop2:
	ldh	a,[rSTAT]
	and	STATF_BUSY
	jr	nz, .loop2
	ld	a,[hl+]
	ld	[$FF00+c],a	; write to successive palette bytes
	ei
	dec	b
	jr	nz, .loop1
ret
rgb_SetAllOBP:
	ld	a,%10000000	; bit 7 = auto-increment.
				; Bits 0-6 = index of palette to update
; when auto-increment is set, writing to roCPD auto-increments
; to the next byte, and then the next palette (every 8 bytes)
	ldh	[rOCPS],a
	ld	bc, $4000 | (rOCPD & $00FF)
	; b = 64, c = rBCPD	(when using ld [$FF00+c], a)
	; There are a total of 8 object palettes * 8 bytes per palette = 64
.loop1:
	di
.loop2:
	ldh	a,[rSTAT]
	and	STATF_BUSY
	jr	nz, .loop2
	ld	a,[hl+]
	ld	[$FF00+c],a	; write to successive palette bytes
	ei
	dec	b
	jr	nz, .loop1
ret









;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;level setup

playearthorbit::
	push hl
	ld hl,earthorbitstart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,earthorbitloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,earthorbitend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,earthorbitstart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,earthorbitloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,earthorbitend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,earthorbitstart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,earthorbitloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,earthorbitend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret
playmaintheme::
	push hl
	ld hl,mainthemestart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,mainthemeloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,mainthemeend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,mainthemestart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,mainthemeloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,mainthemeend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,mainthemestart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,mainthemeloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,mainthemeend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret
playvenus::
	push hl
	ld hl,venusstart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,venusloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,venusend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,venusstart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,venusloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,venusend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,venusstart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,venusloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,venusend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret
playtitan::
	push hl
	ld hl,titanstart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,titanloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,titanend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,titanstart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,titanloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,titanend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,titanstart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,titanloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,titanend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret
playmercury::
	push hl
	ld hl,jupiterbasestart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,jupiterbaseloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,jupiterbaseend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,jupiterbasestart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,jupiterbaseloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,jupiterbaseend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,jupiterbasestart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,jupiterbaseloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,jupiterbaseend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret

playlastboss::
	push hl
	ld hl,lastbossstart2
	ld a, l
	ld [CH1note2PlayL],a
	ld a, h
	ld [CH1note2PlayH],a
	ld hl,lastbossloop2
	ld a, l
	ld [CH1musicLoopStartL],a
	ld a, h
	ld [CH1musicLoopStartH],a
	ld hl,lastbossend2
	ld a, l
	ld [CH1loopADDRL],a
	ld a, h
	ld [CH1loopADDRH],a
	
	ld hl,lastbossstart1
	ld a, l
	ld [CH2note2PlayL],a
	ld a, h
	ld [CH2note2PlayH],a
	ld hl,lastbossloop1
	ld a, l
	ld [CH2musicLoopStartL],a
	ld a, h
	ld [CH2musicLoopStartH],a
	ld hl,lastbossend1
	ld a, l
	ld [CH2loopADDRL],a
	ld a, h
	ld [CH2loopADDRH],a

	ld hl,lastbossstart4
	ld a, l
	ld [CH4note2PlayL],a
	ld a, h
	ld [CH4note2PlayH],a
	ld hl,lastbossloop4
	ld a, l
	ld [CH4musicLoopStartL],a
	ld a, h
	ld [CH4musicLoopStartH],a
	ld hl,lastbossend4
	ld a, l
	ld [CH4loopADDRL],a
	ld a, h
	ld [CH4loopADDRH],a
	pop hl
ret













intro::
	ld hl,earthorbitpalettes
	call rgb_SetAllBGP
	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld a,$FF
	ld [$ff4f],a

	ld a,0
	ld	hl, $9800	; ROM address where we insert  tiles
	ld	bc, 1024
	call	mem_Set

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld	hl, intromap1	; ROM address where we insert  tiles
	ld	de, $9a40
	call	settiles
	ld	hl, intromap	; ROM address where we insert  tiles
	ld	de, $9800
	call	settiles

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	ld	a, [rLCDC]
	and %11011111
	ld	[rLCDC], a	; save LCD Config. Sprites and win are now visible. 

	ld a,20
.loopw
	halt
	nop
	dec a
	jr nz,.loopw

	call pause


	.loopw2
		halt
		nop
		halt
		nop
		ld a,[rSCY]
		inc a
		ld [rSCY],a
		cp 72
		jr nz,.loopw2

	call pause

	ld a,0
	ld [rSCY],a
ret


ending::
	ld hl,earthorbitpalettes
	call rgb_SetAllBGP
	call lcd_Stop
	ld a,$FF
	ld [$ff4f],a

	ld a,$0
	ld	hl, $9800	; ROM address where we insert  tiles
	ld	bc, 1024
	call	mem_Set

	ld a,1
	ld [$99e8],a
	ld [$99e9],a
	ld [$9a08],a
	ld [$9a09],a
	ld a,$00
	ld [$ff4f],a
	ld a,$80
	ld	hl, $9800	; ROM address where we insert  tiles
	ld	bc, 1024
	call	mem_Set
	ld	hl, endingmap	; ROM address where we insert  tiles
	ld	de, $98e0
	call	settiles


	ld hl,earth
	ld de,$8e60
	ld bc, 16+16+16+16
	call mem_Copy



	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	ld	a, [rLCDC]
	and %11011111
	ld	[rLCDC], a	

	call clearspriteram

	PutSpriteXAddr  ship0,80 - 8
	PutSpriteYAddr  ship0,128 + 8
	sprite_PutFlags ship0,5
	sprite_PutTile  ship0,$e6

	PutSpriteXAddr  ship1,80 - 8
	PutSpriteYAddr  ship1,128 + 16
	sprite_PutFlags ship1,5
	sprite_PutTile  ship1,$e7

	PutSpriteXAddr  ship2,80
	PutSpriteYAddr  ship2,128 + 8
	sprite_PutFlags ship2,5
	sprite_PutTile  ship2,$e8

	PutSpriteXAddr  ship3,80
	PutSpriteYAddr  ship3,128 + 16
	sprite_PutFlags ship3,5
	sprite_PutTile  ship3,$e9

	ld a,20
.loopw
	halt
	nop
	dec a
	jr nz,.loopw

	call pause



ret

levelcomplete::
	ld a,$3a
	ld [rNR41],a
	ld a,$a4
	ld [rNR42],a
	ld a,$61
	ld [rNR43],a
	ld a,$80
	ld [rNR44],a
	sprite_PutFlags e1o0,4
	sprite_PutFlags e1o1,4
	sprite_PutFlags e1o2,4
	sprite_PutFlags e1o3,4
	sprite_PutFlags e2o0,4
	sprite_PutFlags e2o1,4
	sprite_PutFlags e2o2,4
	sprite_PutFlags e2o3,4
	sprite_PutFlags e3o0,4
	sprite_PutFlags e3o1,4
	sprite_PutFlags e3o2,4
	sprite_PutFlags e3o3,4

	sprite_PutTile e1o0,$14
	sprite_PutTile e1o1,$15
	sprite_PutTile e1o2,$16
	sprite_PutTile e1o3,$17
	
	sprite_PutTile e2o0,$14
	sprite_PutTile e2o1,$15
	sprite_PutTile e2o2,$16
	sprite_PutTile e2o3,$17
	
	sprite_PutTile e4o0,$14
	sprite_PutTile e4o1,$15
	sprite_PutTile e4o2,$16
	sprite_PutTile e4o3,$17

call part1

	sprite_PutTile e1o0,$18
	sprite_PutTile e1o1,$19
	sprite_PutTile e1o2,$1a
	sprite_PutTile e1o3,$1b
	sprite_PutTile e2o0,$18
	sprite_PutTile e2o1,$19
	sprite_PutTile e2o2,$1a
	sprite_PutTile e2o3,$1b
	sprite_PutTile e4o0,$18
	sprite_PutTile e4o1,$19
	sprite_PutTile e4o2,$1a
	sprite_PutTile e4o3,$1b

call part1

	ld a,0
	ld [rSCX],a
	call lcd_Stop
	ld a,$FF
	ld [$ff4f],a

	ld a,$0
	ld	hl, $9800	; ROM address where we insert  tiles
	ld	bc, 1024
	call	mem_Set

	ld a,$00
	ld [$ff4f],a
	ld a,$80
	ld	hl, $9800	; ROM address where we insert  tiles
	ld	bc, 1024
	call	mem_Set

	ld hl,lctxt
	ld bc,14
	ld de,$9923
	call mem_Copy

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	ld	a, [rLCDC]
	and %11011111
	ld	[rLCDC], a	

	call clearspriteram



	ld a,20
.loopw
	halt
	nop
	dec a
	jr nz,.loopw

	call pause


	call lcd_Stop
ld hl,pausetxt
ld de,$9847
ld bc,5
call mem_Copy
ld	a, [rLCDC]
or	LCDCF_ON
ld	[rLCDC], a	; turn LCD back on
ret



earthorbitstart1::
	db $00       
	db $00       
	db $00       
	db $00       
	db EN5        
	db $00       
	db $00       
	db AN4        
	db AN4        
	db GN4        
	db AN4        
	db $00       
	db $00       
	db AN4        
	db CN5        
	db EN5        
	db DN5        
	db $00       
	db $00       
	db GN4        
	db GN4        
	db FN4        
	db GN4        
	db $00       
	db $00       
	db GN4        
	db BN4        
	db DN5        
	db CN5        
	db $00       
	db $00       
	db AN4        
	db CN5        
	db DN5        
	db EN5        
	db $00       
	db $00       
	db DN5        
	db DN5        
	db DN5        
	db EN5    
earthorbitloop1::    
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db GN5        
	db GS5        
	db GN5        
	db GS5        
	db AN5        
	db GN5        
	db AN5        
	db BN5        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db FS5        
	db $00        
	db DN5        
	db $00        
	db FS5        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db FS5        
	db $00        
	db AN5        
	db $00        
	db GS5        
	db $00        
	db AN5        
	db AN5        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db FS5        
	db $00        
	db DN5        
	db $00        
	db FS5        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db GN5        
	db $00        
	db GS5        
	db $00        
	db AN5        
	db $00        
	db GN5        
	db GS5        
	db AN5        
	db AN5        
	db AN5        
earthorbitend1::
earthorbitstart2::
	db $00        
	db $00        
	db $00        
	db $00        
	db EN4        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db AN4        
	db $00        
	db $00        
	db CS4        
	db $00        
	db $00        
	db DN4        
	db $00        
	db $00        
	db $00        
	db FN4        
	db $00        
	db GN4        
	db $00        
	db $00        
	db BN4        
	db $00        
	db $00        
	db AN4        
	db AN4        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN5        
	db DN5        
	db $00        
	db $00        
	db $00        
	db $00        
earthorbitloop2::         
	db AN4     
	db $00        
	db AN4        
	db $00        
	db GN4        
	db GS4        
	db AN4        
	db $00        
	db GS4        
	db AN4        
	db $00        
	db $00        
	db AN4        
	db $00        
	db AN4        
	db $00        
	db GN4        
	db GS4        
	db AN4        
	db $00        
	db GS4        
	db AN4        
	db $00        
	db $00        
	db AN4        
	db $00        
	db AN4        
	db $00        
	db GN4        
	db GS4        
	db AN4        
	db $00        
	db GS4        
	db AN4        
	db $00        
	db $00        
	db AN4        
	db $00        
	db AN4        
	db $00        
	db GN4        
	db GS4        
	db GN4        
	db GS4        
	db AN4        
	db GN4        
	db AN4        
	db BN4        
earthorbitend2::
earthorbitstart4::
	db $00        
	db $00        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db CS5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00   
earthorbitloop4::     
	db CS5        
	db $00        
	db CS5        
	db $00        
	db CS5        
	db $00        
	db CS5        
	db $00        
	db $00        
	db $00  
	db $00        
	db $00  
	db CS5    
	db $00        
	db $00        
	db $00  
	db $00        
	db $00      
earthorbitend4::

mainthemestart1::
mainthemeloop1::
		
	db $00        
	db $00        
	db $00        
	db $00        
	db EN4        
	db $00        
	db EN4        
	db $00        
	db EN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN4        
	db $00        
	db EN4        
	db $00        
	db EN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        

	db $00        
	db $00        
	db $00        
	db $00        
	db DN4        
	db $00        
	db DN4        
	db $00        
	db DN5        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db CN5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN4        
	db $00        
	db DN4        
	db $00        
	db DN5        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        

	db $00        
	db $00        
	db $00        
	db $00        
	db EN4        
	db $00        
	db EN4        
	db $00        
	db EN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN4        
	db $00        
	db EN4        
	db $00        
	db EN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        

	db $00        
	db $00        
	db $00        
	db $00        
	db DN4        
	db $00        
	db DN4        
	db $00        
	db DN5        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db CN5        
	db $00        
	db $00        
	db $00        
	db DN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN4        
	db $00        
	db DN4        
	db $00        
	db DN5        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db FS5        
	db $00        
	db $00        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db AN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db $00        
	db EN5        
	db $00 
mainthemeend1::
mainthemestart2::
mainthemeloop2::
		
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       

	db $00       
	db $00       
	db $00       
	db $00       
	db CN4        
	db $00       
	db CN4        
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db GN6        
	db AN6        
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db CN4        
	db $00       
	db CN4        
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       

	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db GN6        
	db FS6        
	db EN6        
	db DN6        
	db $00       
	db $00       
	db AN6        
	db $00       
	db GN6        
	db $00       
	db FS6        
	db $00       
	db $00       
	db $00       
	db GN6        
	db $00       
	db FS6        
	db $00       
	db DN6        
	db $00       
	db EN6        
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db GN6        
	db FS6        
	db EN6        
	db DN6        
	db $00       
	db $00       
	db AN6        
	db $00       
	db GN6        
	db $00       
	db FS6        
	db $00       
	db $00       
	db $00       
	db GN6        
	db $00       
	db FS6        
	db $00       
	db CN6        
	db $00       
	db DN6        
	db $00       
	db $00       
	db $00       

	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db DN6        
	db CN6        
	db DN6        
	db EN6        
	db $00       
	db $00       
	db FS6        
	db $00       
	db EN6        
	db $00       
	db DN6        
	db $00       
	db $00       
	db $00       
	db DN6        
	db $00       
	db CN6        
	db $00       
	db DN6        
	db $00       
	db CN6        
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db $00       
	db DN6        
	db CN6        
	db DN6        
	db EN6        
	db $00       
	db $00       
	db FS6        
	db $00       
	db EN6        
	db $00       
	db DN6        
	db $00       
	db $00       
	db $00       
	db DN6        
	db $00       
	db CN6        
	db $00       
	db DN5        
	db $00       
	db DN5        
	db $00       
	db DN5        
	db $00     
mainthemeend2::
mainthemestart4::
mainthemeloop4::
		
	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        

	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        

	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db DS6        
	db $00        

	db $00        
	db CS5        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FS6        
	db $00        
	db FS6        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db $00        
	db $00        
	db GS6        
	db $00        
	db DS6        
	db $00        
mainthemeend4::

venusstart2::
venusloop2::
	db CN4        
	db $00         
	db $00         
	db $00         
	db CN5        
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db AS4        
	db CN5        
	db $00         
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db CN5        
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db $00         
	db CN5        
	db DS5        
	db DN5        
	db AS4        
	db CN4        
	db $00         
	db $00         
	db $00         
	db CN5        
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db AS4        
	db CN5        
	db $00         
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db CN5        
	db $00         
	db $00         
	db CN4        
	db $00         
	db $00         
	db $00         
	db $00         
	db CN5        
	db DS5        
	db GN5        
	db FN5        
venusend2::
venusstart1::
venusloop1::
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	
	db CN6        
	db CN6        
	db CN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db GN5        
	db GN5        
	db GN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FN5        
	db $00        
	db GN5        
	db $00        
	db GS5        
	db $00        
	db GN5        
	db $00        
	db FN5        
	db $00        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FN5        
	db FN5        
	db FN5        
	db $00        
	db BN5        
	db BN5        
	db BN5        
	db BN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	
	db FN5        
	db FN5        
	db FN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db GN5        
	db GN5        
	db GN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db FN5        
	db $00        
	db GN5        
	db $00        
	db GS5        
	db $00        
	db GN5        
	db $00        
	db FN5        
	db $00        
	db CN5        
	db CN4        
	db CN5        
	db CN6        
	db CN5        
	db CN4        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db CN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db CN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db CN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db $00        
	
	db GN5        
	db GN6        
	db GN6        
	db GN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db FN5        
	db FN6        
	db FN6        
	db FN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db DS5        
	db DS6        
	db DS6        
	db DS6        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN5        
	db DN6        
	db DN6        
	db DN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db BN4        
	db BN5        
	db BN5        
	db BN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db CN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db CN5        
	db CN6        
	db CN6        
	db CN6        
	db GN5        
	db FN5        
	db DS5        
	db DN5        
	db GS4        
	db GN4        
	db FN4        
	db DN4        
	db CN4        
	db $00        
	db $00        
	db $00  
venusend1::
venusstart4::
venusloop4::
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db DS5        
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db $00         
	db DS5        
	db $00         
	db DS5        
	db $00            
venusend4::

titanstart1::
titanloop1::
	db $00        
	db GN5        
	db GN5        
	db DN6        
	db $00        
	db $00        
	db EN6        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db BN5        
	db AN5        
	db $00        
	db GN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db EN5        
	db GN5        
	db BN5        
	db $00        
	db $00        
	db BN5        
	db FS5        
	db $00        
	db DN5        
	db FS5        
	db BN5        
	db $00        
	db AN5        
	db $00        
	db $00        
	
	db $00        
	db GN5        
	db BN5        
	db DN6        
	db $00        
	db $00        
	db EN6        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db BN5        
	db AN5        
	db $00        
	db GN5        
	db $00        
	db EN6        
	db FS6        
	db GN6        
	db $00        
	db $00        
	db EN6        
	db FS6        
	db $00        
	db DN6        
	db DN6        
	db $00        
	db DN6        
	db EN6        
	db BN5        
	db $00        
	db $00        
	db AN5        
	db $00        
	db $00        	
titanend1::
titanstart2::
titanloop2::
      
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db EN4        
	db EN5        
	db EN4        
	db EN5        
	db EN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db $00        
	db $00        
	
	db $00        
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db CN4        
	db CN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db GN4        
	db GN5        
	db EN4        
	db EN5        
	db EN4        
	db EN5        
	db EN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db DN5        
	db DN4        
	db $00        
	db $00  
	db $00        
titanend2::
titanstart4::
titanloop4::
	db DN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN6        
	db $00        
	db DN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db $00       
titanend4::

jupiterbasestart1::
jupiterbaseloop1::
	db FN5        
	db $00         
	db GN5        
	db $00        
	db FN6        
	db $00        
	db CN6        
	db $00       
	db DN6        
	db $00        
	db GN5        
	db $00       
	db CN6        
	db $00        
	db AS5        
	db $00        
	db FN5        
	db $00         
	db GN5        
	db $00        
	db FN6        
	db $00        
	db CN6        
	db $00         
	db DN6        
	db $00         
	db GN5        
	db $00         
	db DS6        
	db $00         
	db DN6        
	db $00      
jupiterbaseend1::
jupiterbasestart2::
jupiterbaseloop2::
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	
	db AS4        
	db $00        
	db $00        
	db $00       
	db AS4        
	db $00        
	db $00        
	db $00         
	db AS4        
	db $00        
	db GN6        
	db $00        
	db AS4        
	db $00        
	db DN4        
	db $00         
	db FN4        
	db $00        
	db $00        
	db $00        
	db FN4        
	db $00        
	db $00        
	db $00         
	db FN4        
	db $00        
	db $00        
	db $00         
	db FN4        
	db $00       
	db GN4        
	db $00        
	
	db AS4        
	db $00        
	db $00        
	db $00         
	db AS4        
	db $00        
	db $00        
	db $00        
	db AS4        
	db $00        
	db GN4        
	db $00        
	db AS4        
	db $00         
	db GN4        
	db $00        
	db FN4        
	db $00         
	db FN4        
	db $00         
	db FN4        
	db $00        
	db DN4        
	db $00          
	db FN4        
	db $00        
	db DN4        
	db $00        
	db GN4        
	db FS4        
	db GN4        
	db FS4        
	
	db AS4        
	db $00        
	db $00        
	db $00        
	db FN4        
	db GN4        
	db FN4        
	db GN4        
	db FN4        
	db $00        
	db CN4        
	db $00        
	db CN4        
	db DN4        
	db CN4        
	db DN4         
	db CN4        
	db $00        
	db GN4        
	db FS4        
	db FN4        
	db EN4        
	db DS4        
	db DN4        
	db CS4        
	db CN4        

	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00      
jupiterbaseend2::
jupiterbasestart4::
jupiterbaseloop4::
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db $00        
	db DN6        
	db $00        
	db $00        
	db $00 
jupiterbaseend4::


lastbossstart2::
lastbossloop2::
	db FS5        
	db $00        
	db CS5        
	db $00        
	db EN5        
	db $00        
	db FS5        
	db $00        
	db BN5        
	db $00        
	db GS5        
	db $00        
	db FS5        
	db $00        
	db EN5        
	db $00        
	db FN5        
	db $00        
	db FS5        
	db $00        
	db DN5        
	db $00        
	db CS5        
	db $00        
	db CS6        
	db $00        
	db CS5        
	db $00        
	db DN4        
	db $00        
	db DS4        
	db $00        
lastbossend2::
lastbossstart1::
lastbossloop1::
	db FS5        
	db FS5        
	db $00        
	db $00        
	db GN5        
	db GN5        
	db $00        
	db $00        
	db BN5        
	db $00        
	db AS5        
	db $00        
	db FS5        
	db FS5        
	db $00        
	db $00        
	db GN5        
	db GN5        
	db $00        
	db $00        
	db DN5        
	db DN5        
	db $00        
	db $00        
	db EN5        
	db $00        
	db $00        
	db FS5        
	db FS5        
	db $00        
	db CS5        
	db CS5                   
lastbossend1::
lastbossstart4::
lastbossloop4::
	db CN5        
	db $00        
	db CN5        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
	db $00        
lastbossend4::
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;levelsetups
shst::
	PutSpriteYAddr ship0,80
	PutSpriteXAddr ship0,16
	PutSpriteXAddr ship1,16
	PutSpriteXAddr ship2,24
	PutSpriteXAddr ship3,24
	ld a,5
	ld [textwait],a
	ld a,$ff
	ld [textendwait],a
	ld [levelend],a
	ld a,20
	ld [itemwait],a

	ld a,12
	ld [fuel],a
	ld [health],a
ret
setupearthorbit::
	ld hl,earthorbitpalettes
	call rgb_SetAllBGP
	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, earthorbittiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, earthorbittilesend - earthorbittiles
	call	mem_Copy

	call	mem_Copy
	ld a,$FF
	ld [$ff4f],a
	ld	hl, earthorbitcgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles
	ld	hl, windowcgb	; ROM address where we insert  tiles
	ld	de, $9c00
	call	settiles
	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, earthorbitmap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles
	ld	hl, windowmap	; ROM address where we insert  tiles
	ld	de, $9c00
	call	settiles
	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	ld hl,earthorbit
	ld a, h
	ld [nextenemyh],a
	ld a, l
	ld [nextenemyl],a
	ld a,50
	ld [enemywait],a
	ld hl,earthorbititems
	ld a, h
	ld [nextitemh],a
	ld a, l
	ld [nextiteml],a
	ld a,20
	ld [itemwait],a
	ld a,0
	ld [scspeed],a

	call shst

		ld hl,earthorbittext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a

	call playearthorbit

ret
setupmercury::
	ld a,0
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, mercurytiles	; ROM address where we insert  tiles
	ld	de, $9030
	ld	bc, mercurytilesend - mercurytiles
	call	mem_Copy

	call	mem_Copy
	ld a,$FF
	ld [$ff4f],a
	ld	hl, mercurycgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles
	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, mercurymap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles
	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	
call shst


		ld hl,mercurytext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a

		ld hl,mercury
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,mercuryitems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a

	call playmercury
	ld a,%00001111
	ld [e1h],a
ret
setupvenus::

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, venustiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, venustilesend - venustiles
	call	mem_Copy

	call	mem_Copy
	ld a,$FF
	ld [$ff4f],a
	ld a,$03
	ld	hl, $98a0
	ld bc, venuscgb-venusmap
	call	mem_Set

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, venusmap	; ROM address where we insert  tiles
	ld	de, $98a0
	ld bc, venuscgb-venusmap
	call	mem_Copy

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	ld hl,venus
	ld a, h
	ld [nextenemyh],a
	ld a, l
	ld [nextenemyl],a
	ld a,50
	ld [enemywait],a
	ld hl,venusitems
	ld a, h
	ld [nextitemh],a
	ld a, l
	ld [nextiteml],a


	
	call shst		
 
		ld hl,venustext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld a,2
		ld [scspeed],a
	call playvenus
ret
setupmars::
	ld a,3
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, marstiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, marstilesend - marstiles
	call	mem_Copy

	call	mem_Copy
	ld a,$FF
	ld [$ff4f],a
	ld a,$03
	ld	hl, $98a0
	ld bc, venuscgb-venusmap
	call	mem_Set

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a

	ld a,$80
	ld hl,$98a0
	ld bc,$9966-$98a0
	call mem_Set

	ld	hl, mars2map	; ROM address where we insert  tiles
	ld	de, $9966
	ld bc, mars2mapend - mars2map
	call	mem_Copy

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	
call shst
		ld hl,marstext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld hl,mars
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,marsitems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a
	call playearthorbit

ret
setupjupiter::
	ld a,0
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, earthorbittiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, 50
	call	mem_Copy
	ld	hl, jupitertiles	; ROM address where we insert  tiles
	ld	de, $9030
	ld	bc, jupitertilesend - jupitertiles
	call	mem_Copy

	ld a,$FF
	ld [$ff4f],a
	ld	hl, jupitercgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, jupitermap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	call shst
		ld hl,jupitertext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld hl,jupiter
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,jupiteritems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a

	call playtitan

ret
setuptitan::
	ld a,0
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, earthorbittiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, earthorbittilesend - earthorbittiles
	call	mem_Copy
	ld	hl, titantiles	; ROM address where we insert  tiles
	ld	de, $9110
	ld	bc, titantilesend - titantiles
	call	mem_Copy

	ld a,$FF
	ld [$ff4f],a
	ld	hl, titancgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, titanmap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	call shst 
;
		ld hl,titantext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld hl,titan
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,titanitems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a
		ld a,20
		ld [itemwait],a
	call playmaintheme
	ld a,%00001111
	ld [e1h],a
	ld a,12
	ld [fuel],a
	ld [health],a
ret
setupuranus::
	ld a,0
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, earthorbittiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, earthorbittilesend - earthorbittiles
	call	mem_Copy
	ld	hl, uranustiles	; ROM address where we insert  tiles
	ld	de, $9040
	ld	bc, uranustilesend - uranustiles
	call	mem_Copy
	ld	hl, $9160	; ROM address where we insert  tiles
	ld	de, $9030
	ld	bc, 16
	call	mem_Copy

	ld a,$FF
	ld [$ff4f],a
	ld	hl, uranusmap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, uranuscgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	
		call shst
		ld hl,uranustext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld hl,uranus
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,uranusitems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a
	
	call playmercury

ret
setupneptune::
	ld a,0
	ld [scspeed],a

	call lcd_Stop
	ld a,0
	ld [rWY],a
	ld	hl, earthorbittiles	; ROM address where we insert  tiles
	ld	de, $9000
	ld	bc, earthorbittilesend - earthorbittiles
	call	mem_Copy


	ld a,$FF
	ld [$ff4f],a
	ld	hl, neptunecgb	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld a,$00
	ld [$ff4f],a
	ld [invencible],a ; #smort;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;invencible XD
	ld [pewtimer],a
	ld	hl, neptunemap	; ROM address where we insert  tiles
	ld	de, $98a0
	call	settiles

	ld	a, [rLCDC]
	or	LCDCF_ON
	ld	[rLCDC], a	; turn LCD back on

	
	call shst
		ld hl,neptunetext
		ld a, h
		ld [nexttexth],a
		ld a, l
		ld [nexttextl],a
		ld hl,neptune
		ld a, h
		ld [nextenemyh],a
		ld a, l
		ld [nextenemyl],a
		ld a,50
		ld [enemywait],a
		ld hl,neptuneitems
		ld a, h
		ld [nextitemh],a
		ld a, l
		ld [nextiteml],a
		
	call playearthorbit

ret

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;text

intromap1::
	DB $9E,$99,$80,$8E,$8F,$9D,$9E,$9C,$99,$A3
	DB $80,$9E,$92,$8F,$80,$8B,$96,$93,$8F,$98
	DB $97,$99,$9E,$92,$8F,$9C,$9D,$92,$93,$9A
	DB $9D,$AD,$A1,$8F,$80,$A1,$93,$96,$96,$80
	DB $9F,$9D,$8F,$80,$8B,$80,$9E,$9C,$8B,$98
	DB $9D,$9A,$99,$9C,$9E,$80,$9D,$92,$93,$9A
	DB $8D,$8B,$96,$96,$8F,$8E,$80,$80,$95,$82
	DB $87,$80,$9E,$99,$80,$80,$80,$80,$80,$80
	DB $9E,$9C,$8B,$98,$9D,$9A,$99,$9C,$9E,$80
	DB $99,$9F,$9C,$80,$97,$8B,$93,$98,$80,$80
	DB $8C,$8B,$9E,$96,$8F,$9D,$92,$93,$9A,$b1
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$d5,$d6,$d7,$d8
	DB $d9,$dA,$dB,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$dC,$dD,$DE,$DF
	DB $E0,$E1,$E2,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$E3,$E4,$E5,$E6
	DB $E7,$E8,$E9,$80,$80,$80,$80,$80,$80,$80
intromap1end::
endingmap::
	DB $9E,$92,$8F,$80,$96,$8B,$9D,$9E,$80,$8B,$96,$93,$8F,$98,$80,$9D,$92,$93,$9A,$80
	DB $92,$8B,$9D,$80,$8C,$8F,$8F,$98,$80,$8E,$8F,$9D,$9E,$9C,$99,$A3,$8F,$8E,$AD,$80
	DB $99,$9F,$9C,$80,$9D,$99,$96,$8B,$9C,$80,$9D,$A3,$9D,$9E,$8F,$97,$80,$93,$9D,$80
	DB $98,$99,$A1,$80,$9D,$8B,$90,$8F,$AD,$80,$99,$9F,$9C,$80,$92,$8F,$9C,$99,$8F,$9D
	DB $8D,$8B,$98,$80,$98,$99,$A1,$80,$9C,$8F,$9E,$9F,$9C,$98,$80,$92,$99,$97,$8F,$80
	DB $93,$98,$80,$80,$9A,$8F,$8B,$8D,$8F,$AD,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$B4,$B4,$B4,$9E,$92,$8F,$80,$8F,$98,$8E,$B4,$B4,$B4,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$E6,$E8,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$E7,$E9,$80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $CA,$94,$99,$98,$8B,$9E,$8B,$98,$80,$92,$93,$8E,$8B,$96,$91,$99,$83,$81,$83,$82
endingmapend::
earth::
	DB $07,$F8,$1E,$E0,$37,$C0,$40,$80
	DB $40,$80,$C1,$00,$CB,$00,$8B,$00
	DB $3F,$00,$1F,$00,$0F,$00,$0F,$00
	DB $4F,$80,$07,$C0,$00,$E0,$00,$F8
	DB $E0,$1F,$78,$07,$14,$03,$E2,$01
	DB $E2,$01,$F1,$00,$85,$00,$01,$00
	DB $01,$00,$83,$00,$E3,$00,$F2,$01
	DB $FE,$01,$0C,$03,$08,$07,$00,$1F
SECTION "assets and level data", ROMX[$4000]
db "jona32u4"
objpalettes::
		; Gameboy Color palette 0
	dw 30684
	dw 27424
	dw 3391
	dw $3c22

	; Gameboy Color palette 1
	dw 30684
	dw 30688
	dw 14798
	dw $2108

	; Gameboy Color palette 2
	dw 30684
	dw 8935
	dw 6596
	dw 5344

	; Gameboy Color palette 3
	dw 30684
	dw 14303
	dw 858
	dw 1223

	; Gameboy Color palette 4
	dw 30684
	dw 511
	dw 92
	dw 1159

	dw 31642
	dw 32706
	dw 31874
	dw 10273

maintiles::
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$5E,$3E
	DB $BF,$79,$5E,$3E,$00,$00,$00,$00
	DB $60,$60,$78,$58,$DC,$84,$BE,$82
	DB $FE,$82,$FF,$81,$FF,$83,$7E,$7E
	DB $BC,$3C,$7E,$7E,$CF,$FF,$D7,$FF
	DB $C3,$FF,$DB,$FF,$42,$7E,$3C,$3C
	DB $78,$78,$F8,$70,$2B,$3B,$14,$1F
	DB $18,$1F,$20,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$80,$FF,$7F,$7F,$30,$3F
	DB $21,$3F,$C6,$7E,$FE,$7A,$7C,$7C
	DB $00,$00,$00,$00,$E0,$E0,$78,$D8
	DB $DC,$84,$BE,$82,$FE,$82,$FF,$81
	DB $FF,$83,$7F,$FF,$07,$FD,$9E,$FA
	DB $FC,$FC,$00,$00,$00,$00,$00,$00
	DB $78,$78,$78,$70,$2B,$3B,$14,$1F
	DB $18,$1F,$20,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$98,$FF,$7F,$7F,$38,$3F
	DB $31,$3F,$26,$3E,$7E,$7A,$7C,$7C
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $18,$18,$3C,$34,$3C,$3C,$18,$18
	DB $3C,$3C,$18,$18,$18,$18,$24,$24
	DB $78,$78,$78,$70,$2B,$3B,$14,$1F
	DB $18,$1F,$20,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$80,$FF,$7F,$7F,$30,$3F
	DB $21,$3F,$46,$7E,$7E,$7A,$7C,$7C
	DB $00,$00,$00,$00,$E0,$E0,$60,$E0
	DB $F0,$F0,$B0,$D0,$B8,$D8,$BE,$D6
	DB $CF,$FB,$7F,$FF,$07,$FD,$9E,$FA
	DB $FC,$FC,$00,$00,$00,$00,$00,$00
	DB $7E,$78,$7B,$70,$2F,$39,$14,$1F
	DB $18,$1F,$20,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$80,$FF,$7F,$7F,$30,$3F
	DB $21,$3F,$47,$7C,$7C,$78,$7F,$7C
	DB $00,$00,$C0,$00,$E0,$E0,$78,$D8
	DB $DC,$84,$BE,$82,$FE,$82,$FF,$81
	DB $FF,$83,$7F,$FF,$07,$FD,$9E,$FA
	DB $FC,$FC,$80,$00,$F0,$00,$80,$00
	DB $03,$03,$07,$04,$0F,$08,$1C,$13
	DB $18,$17,$73,$6C,$F7,$88,$E7,$98
	DB $E7,$98,$EC,$9B,$7E,$49,$3C,$37
	DB $1B,$17,$1C,$1B,$0F,$0C,$03,$03
	DB $C0,$C0,$E0,$20,$90,$70,$08,$F8
	DB $08,$F8,$CE,$36,$E9,$17,$E5,$1B
	DB $C5,$3B,$15,$FB,$12,$FE,$2C,$FC
	DB $C8,$F8,$18,$F8,$30,$F0,$C0,$C0
	DB $60,$60,$F0,$90,$D0,$B0,$60,$60
	DB $01,$01,$07,$06,$0F,$08,$0F,$08
	DB $0F,$08,$0E,$09,$07,$04,$03,$03
	DB $60,$60,$F0,$90,$D0,$B0,$60,$60
	DB $06,$06,$0F,$09,$0D,$0B,$06,$06
	DB $80,$80,$E0,$60,$D0,$30,$10,$F0
	DB $10,$F0,$10,$F0,$20,$E0,$C0,$C0
	DB $06,$06,$0D,$0B,$09,$0F,$06,$06
	DB $00,$00,$0F,$0F,$1C,$13,$38,$27
	DB $71,$4F,$63,$5F,$67,$5F,$47,$7F
	DB $40,$7F,$40,$7F,$50,$7F,$20,$3F
	DB $21,$3F,$13,$1F,$0F,$0F,$00,$00
	DB $00,$00,$F8,$F8,$04,$FC,$02,$FE
	DB $C2,$FE,$C6,$FE,$86,$FE,$0E,$FE
	DB $3C,$FC,$78,$F8,$E0,$E0,$C0,$C0
	DB $C0,$C0,$80,$80,$00,$00,$00,$00
	DB $00,$00,$00,$00,$01,$01,$02,$02
	DB $05,$04,$0F,$0C,$37,$3C,$47,$7C
	DB $A3,$FF,$80,$FF,$48,$7F,$30,$3F
	DB $0F,$0F,$03,$00,$01,$00,$00,$00
	DB $00,$00,$00,$00,$80,$80,$40,$40
	DB $A0,$20,$F0,$30,$EC,$3C,$E2,$3E
	DB $C1,$FF,$09,$FF,$82,$FE,$0C,$FC
	DB $F0,$F0,$C0,$00,$80,$00,$00,$00
	DB $01,$01,$03,$02,$03,$02,$07,$04
	DB $06,$07,$0F,$08,$0F,$09,$1E,$1A
	DB $2F,$3A,$2F,$39,$4F,$78,$4A,$7F
	DB $9B,$FC,$A4,$E7,$C3,$C3,$80,$81
	DB $80,$80,$C0,$40,$C0,$40,$A0,$60
	DB $A0,$E0,$D0,$30,$D0,$B0,$58,$78
	DB $DC,$7C,$DC,$BC,$DA,$3E,$BA,$FE
	DB $99,$7F,$25,$E7,$C3,$C3,$01,$81
	DB $00,$00,$1F,$1F,$3F,$20,$7F,$60
	DB $FF,$F1,$FF,$BB,$FF,$80,$FF,$88
	DB $F7,$DD,$AA,$F7,$DD,$A2,$FF,$80
	DB $FF,$80,$7F,$7F,$00,$00,$00,$00
	DB $00,$00,$F8,$F8,$EC,$1C,$F2,$FE
	DB $E1,$FF,$A1,$FF,$A5,$7F,$AF,$FF
	DB $7F,$FF,$AF,$7F,$A5,$7F,$A1,$7F
	DB $22,$FE,$FC,$FC,$00,$00,$00,$00
	DB $1F,$1F,$3F,$20,$7F,$60,$FF,$F1
	DB $FF,$BB,$FF,$80,$FF,$88,$7F,$5D
	DB $2F,$2F,$07,$07,$0F,$0F,$5F,$57
	DB $FF,$A2,$7F,$40,$3F,$20,$1F,$1F
	DB $F8,$F8,$EC,$1C,$F2,$FE,$E1,$FF
	DB $A1,$FF,$A5,$7F,$AF,$FF,$FF,$FF
	DB $EF,$FF,$F5,$FF,$F1,$FF,$E1,$7F
	DB $A2,$7E,$D4,$3C,$E8,$18,$F0,$F0
	DB $01,$01,$03,$02,$07,$04,$0F,$08
	DB $1F,$1C,$3F,$23,$7F,$50,$FF,$B9
	DB $FF,$93,$FF,$C1,$7F,$70,$3F,$2F
	DB $1F,$10,$2F,$2C,$43,$43,$00,$00
	DB $80,$80,$40,$C0,$A0,$60,$90,$70
	DB $F8,$38,$E4,$DC,$F2,$1E,$F9,$3F
	DB $F1,$9F,$E3,$1F,$CE,$3E,$F4,$FC
	DB $88,$78,$B4,$F4,$C2,$C2,$80,$80
	DB $01,$01,$03,$02,$07,$04,$0F,$08
	DB $1F,$1C,$3F,$23,$7F,$48,$FF,$9C
	DB $FF,$89,$FF,$C0,$7F,$70,$3F,$2F
	DB $1F,$18,$1F,$1C,$13,$13,$00,$00
	DB $80,$80,$40,$C0,$A0,$60,$90,$70
	DB $F8,$38,$E4,$DC,$FA,$0E,$FD,$9F
	DB $F9,$CF,$E3,$9F,$CE,$3E,$F4,$FC
	DB $A8,$78,$B0,$70,$D8,$D8,$00,$00
	DB $00,$00,$01,$01,$03,$02,$07,$06
	DB $0E,$0D,$1F,$13,$3D,$26,$37,$2C
	DB $73,$4F,$70,$4F,$63,$5F,$75,$4E
	DB $37,$3C,$1B,$1F,$0C,$0F,$07,$07
	DB $C0,$C0,$F8,$38,$EE,$1E,$1F,$FF
	DB $2F,$FF,$3F,$EF,$9F,$FF,$8F,$FF
	DB $07,$FF,$0F,$FF,$1E,$FE,$9E,$FE
	DB $BC,$FC,$7C,$FC,$F0,$F0,$80,$80
	DB $07,$07,$1F,$19,$3A,$25,$76,$49
	DB $7D,$72,$8B,$FC,$87,$FC,$E4,$FF
	DB $E6,$FD,$87,$FC,$8B,$FC,$7C,$73
	DB $75,$6A,$3F,$38,$1F,$1F,$07,$07
	DB $E0,$E0,$F8,$F8,$FC,$3C,$FE,$1E
	DB $7E,$8E,$FF,$0F,$BF,$4F,$7F,$8F
	DB $FF,$0F,$FF,$0F,$FF,$0F,$FE,$1E
	DB $FE,$3E,$FC,$7C,$F8,$F8,$E0,$E0
	DB $07,$07,$1F,$18,$3F,$20,$3F,$23
	DB $7F,$70,$7F,$78,$7F,$5C,$7F,$40
	DB $3F,$20,$1F,$10,$1F,$1F,$15,$15
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $E0,$E0,$D8,$78,$E4,$9C,$F4,$4C
	DB $F2,$3E,$F2,$7E,$E2,$FE,$E2,$1E
	DB $C4,$3C,$08,$F8,$F0,$F0,$40,$40
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $15,$15,$1F,$1F,$1F,$10,$1E,$11
	DB $0C,$0B,$07,$07,$01,$00,$02,$00
	DB $02,$00,$01,$00,$01,$00,$01,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $40,$40,$F8,$F8,$38,$F8,$38,$F8
	DB $F0,$F0,$E0,$E0,$80,$00,$40,$00
	DB $C0,$00,$80,$00,$80,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $07,$07,$07,$04,$04,$07,$07,$04
	DB $04,$07,$07,$04,$04,$07,$07,$04
	DB $07,$07,$00,$00,$00,$00,$01,$01
	DB $1B,$1B,$3C,$2C,$7E,$47,$FE,$E7
	DB $F0,$F0,$F0,$90,$90,$F0,$F0,$90
	DB $90,$F0,$F0,$90,$90,$F0,$F0,$90
	DB $F0,$F0,$80,$80,$80,$80,$C0,$C0
	DB $F0,$F0,$3C,$38,$1E,$FC,$0F,$FC
	DB $01,$01,$02,$03,$06,$07,$0D,$0D
	DB $35,$3C,$45,$7C,$A3,$FF,$80,$FF
	DB $C8,$FF,$B0,$FF,$8F,$FF,$40,$7F
	DB $30,$3F,$0F,$0F,$03,$00,$01,$00
	DB $80,$80,$40,$C0,$60,$E0,$B0,$B0
	DB $AC,$3C,$A2,$3E,$C1,$FF,$09,$FF
	DB $83,$FF,$0D,$FF,$F1,$FF,$02,$FE
	DB $0C,$FC,$F0,$F0,$C0,$00,$80,$00
	DB $07,$07,$18,$18,$27,$21,$5F,$41
	DB $7F,$60,$9F,$F2,$9F,$FF,$DF,$BF
	DB $E0,$E0,$F8,$18,$FC,$84,$FE,$82
	DB $FE,$82,$FF,$81,$FF,$FF,$FF,$FF
	DB $00,$00,$00,$00,$08,$10,$1C,$20
	DB $3C,$04,$18,$08,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$18,$18,$24,$24,$42,$3C,$42
	DB $18,$66,$18,$24,$00,$3C,$00,$18
	DB $00,$00,$00,$1C,$0C,$72,$3A,$C1
	DB $3A,$C1,$0C,$72,$00,$1C,$00,$00
	DB $18,$18,$18,$18,$34,$2C,$34,$2C
	DB $76,$6E,$F7,$EF,$F7,$EF,$99,$99
	DB $07,$07,$0E,$0E,$3E,$3E,$FF,$C1
	DB $C1,$FF,$3E,$3E,$0E,$0E,$07,$07


	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

mothership1::;load from tile num $58
	DB $00,$00,$00,$00,$07,$07,$18,$1F
	DB $20,$3F,$7F,$7F,$FF,$EA,$FF,$EA
	DB $FF,$EA,$FF,$EA,$7F,$7F,$20,$3F
	DB $18,$1F,$07,$07,$00,$00,$00,$00
	DB $1F,$1F,$E0,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$FF,$FF,$6D,$DB,$6D,$DB
	DB $6D,$DB,$6D,$DB,$FF,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$EF,$FF,$1F,$1F
	DB $F8,$F8,$F7,$FF,$C3,$FF,$00,$FF
	DB $00,$FF,$FF,$FF,$B6,$DB,$B6,$DB
	DB $B6,$DB,$B2,$DF,$FF,$FF,$7F,$FF
	DB $03,$FF,$3F,$FF,$FF,$FF,$F8,$F8
	DB $00,$00,$00,$00,$E0,$E0,$78,$F8
	DB $FC,$FC,$FE,$FE,$FF,$57,$F7,$5F
	DB $D7,$7F,$57,$FF,$FE,$FE,$FC,$FC
	DB $F8,$F8,$E0,$E0,$00,$00,$00,$00
	DB $00,$00,$18,$18,$2C,$24,$5E,$42
	DB $5E,$42,$FF,$81,$FF,$81,$FF,$FF
	DB $3C,$00,$66,$00,$42,$00,$66,$00
	DB $66,$00,$3C,$00,$3C,$00,$18,$00
	DB $18,$18,$3C,$3C,$3C,$3C,$7E,$7E
	DB $42,$7E,$FF,$FF,$81,$FF,$FF,$FF
	DB $FF,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$FF,$FF,$EF,$9C,$EF,$9C
	DB $EF,$9C,$CE,$BD,$FF,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$FF,$FF
	DB $FF,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$FF,$FF,$B7,$79,$B7,$79
	DB $B7,$79,$31,$FF,$FF,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$FF,$FF
mothership1end::

	;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
gamenamemap0::  DB $E8,$E9,$EA,$EB,$EC,$ED,$EE
gamenamemap1::	DB $EF,$F0,$F1,$F2,$F3,$F4,$F5
gamenamemap2::	DB $F6,$F7,$F8,$F9,$FA,$FB,$FC
	DB $00,$00,$01,$00,$00,$00,$02,$00,$00,$00,$00
	DB $00,$00,$01,$00,$03,$03,$06,$07
	DB $0D,$0F,$33,$3F,$67,$7F,$C0,$FF
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$10,$00,$02,$00,$00,$00
	DB $00,$00,$50,$B0,$58,$E8,$5C,$FC
	DB $EC,$FC,$E6,$FE,$F3,$FF,$E1,$FF
	DB $01,$01,$03,$02,$07,$04,$0F,$08
	DB $1F,$1E,$17,$1E,$1F,$1E,$17,$1F
	DB $00,$00,$00,$00,$0C,$0C,$1C,$14
	DB $2C,$3C,$58,$78,$B0,$F0,$E0,$E0
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$FF,$FF,$87,$FD,$FF,$FF
	DB $E0,$E0,$E0,$A0,$E0,$E0,$A0,$E0
	DB $A0,$E0,$A0,$E0,$A0,$E0,$E0,$E0
	DB $30,$30,$78,$78,$DF,$EF,$EC,$DF
	DB $78,$7F,$30,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$80,$FF,$FF,$FF,$80,$FF
	DB $7F,$7F,$DF,$BF,$9F,$FF,$7F,$7F
	DB $00,$00,$00,$00,$00,$00,$18,$00
	DB $42,$00,$18,$18,$A5,$3C,$3C,$3C
	DB $FF,$83,$7F,$FF,$F5,$FF,$1A,$FE
	DB $EC,$FC,$D0,$B0,$90,$F0,$E0,$E0
	DB $00,$00,$00,$00,$3B,$3B,$7C,$7F
	DB $78,$6F,$30,$3F,$40,$7F,$80,$FF
	DB $80,$FF,$80,$FF,$7F,$7F,$3F,$3F
	DB $1F,$1F,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$E0,$E0,$78,$D8
	DB $DC,$84,$BE,$82,$FE,$82,$FF,$81
	DB $FF,$83,$7F,$FF,$07,$FD,$9E,$FA
	DB $FC,$FC,$00,$00,$00,$00,$00,$00
	DB $80,$FF,$80,$FF,$7F,$7F,$30,$3F
	DB $21,$3F,$6F,$3F,$FF,$1E,$7F,$1F
	DB $00,$00,$00,$00,$00,$00,$01,$01
	DB $07,$07,$1F,$18,$7F,$69,$F6,$8A
	DB $FE,$8A,$67,$79,$18,$1F,$07,$07
	DB $01,$01,$00,$00,$00,$00,$00,$00
	DB $0F,$0F,$32,$3E,$C4,$FC,$08,$F8
	DB $F8,$F8,$E4,$1C,$FA,$96,$EA,$57
	DB $FA,$57,$E2,$9E,$14,$FC,$F8,$F8
	DB $F8,$F8,$C4,$FC,$32,$3E,$0F,$0F
maintilesend::

uitiles::
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$3C,$3C,$62,$62,$52,$52
	DB $4A,$4A,$46,$46,$3C,$3C,$00,$00
	DB $00,$00,$08,$08,$18,$18,$08,$08
	DB $08,$08,$08,$08,$1C,$1C,$00,$00
	DB $00,$00,$18,$18,$24,$24,$08,$08
	DB $10,$10,$20,$20,$3C,$3C,$00,$00
	DB $00,$00,$38,$38,$04,$04,$1C,$1C
	DB $04,$04,$24,$24,$18,$18,$00,$00
	DB $00,$00,$14,$14,$14,$14,$1E,$1E
	DB $04,$04,$04,$04,$04,$04,$00,$00
	DB $00,$00,$3C,$3C,$20,$20,$38,$38
	DB $04,$04,$24,$24,$18,$18,$00,$00
	DB $00,$00,$08,$08,$10,$10,$20,$20
	DB $38,$38,$24,$24,$18,$18,$00,$00
	DB $00,$00,$3C,$3C,$04,$04,$08,$08
	DB $10,$10,$10,$10,$10,$10,$00,$00
	DB $00,$00,$18,$18,$24,$24,$18,$18
	DB $24,$24,$24,$24,$18,$18,$00,$00
	DB $00,$00,$18,$18,$24,$24,$24,$24
	DB $1C,$1C,$04,$04,$08,$08,$00,$00
	DB $00,$00,$18,$18,$24,$24,$24,$24
	DB $3C,$3C,$24,$24,$24,$24,$00,$00
	DB $00,$00,$38,$38,$24,$24,$38,$38
	DB $24,$24,$24,$24,$38,$38,$00,$00
	DB $00,$00,$18,$18,$24,$24,$20,$20
	DB $20,$20,$24,$24,$18,$18,$00,$00
	DB $00,$00,$38,$38,$24,$24,$24,$24
	DB $24,$24,$24,$24,$38,$38,$00,$00
	DB $00,$00,$3C,$3C,$20,$20,$38,$38
	DB $20,$20,$20,$20,$3C,$3C,$00,$00
	DB $00,$00,$3C,$3C,$20,$20,$38,$38
	DB $20,$20,$20,$20,$20,$20,$00,$00
	DB $00,$00,$18,$18,$24,$24,$20,$20
	DB $2C,$2C,$24,$24,$18,$18,$00,$00
	DB $00,$00,$24,$24,$24,$24,$3C,$3C
	DB $24,$24,$24,$24,$24,$24,$00,$00
	DB $00,$00,$1C,$1C,$08,$08,$08,$08
	DB $08,$08,$08,$08,$1C,$1C,$00,$00
	DB $00,$00,$1C,$1C,$08,$08,$08,$08
	DB $08,$08,$28,$28,$10,$10,$00,$00
	DB $00,$00,$24,$24,$28,$28,$30,$30
	DB $28,$28,$24,$24,$24,$24,$00,$00
	DB $00,$00,$20,$20,$20,$20,$20,$20
	DB $20,$20,$24,$24,$3C,$3C,$00,$00
	DB $00,$00,$22,$22,$36,$36,$2A,$2A
	DB $22,$22,$22,$22,$22,$22,$00,$00
	DB $00,$00,$22,$22,$32,$32,$2A,$2A
	DB $26,$26,$22,$22,$22,$22,$00,$00
	DB $00,$00,$18,$18,$24,$24,$24,$24
	DB $24,$24,$24,$24,$18,$18,$00,$00
	DB $00,$00,$38,$38,$24,$24,$38,$38
	DB $20,$20,$20,$20,$20,$20,$00,$00
	DB $00,$00,$18,$18,$24,$24,$24,$24
	DB $34,$34,$2C,$2C,$1E,$1E,$00,$00
	DB $00,$00,$38,$38,$24,$24,$24,$24
	DB $38,$38,$24,$24,$24,$24,$00,$00
	DB $00,$00,$18,$18,$20,$20,$18,$18
	DB $04,$04,$24,$24,$18,$18,$00,$00
	DB $00,$00,$1C,$1C,$08,$08,$08,$08
	DB $08,$08,$08,$08,$08,$08,$00,$00
	DB $00,$00,$24,$24,$24,$24,$24,$24
	DB $24,$24,$24,$24,$18,$18,$00,$00
	DB $00,$00,$24,$24,$24,$24,$24,$24
	DB $24,$24,$28,$28,$10,$10,$00,$00
	DB $00,$00,$22,$22,$22,$22,$22,$22
	DB $22,$22,$2A,$2A,$14,$14,$00,$00
	DB $00,$00,$22,$22,$14,$14,$08,$08
	DB $14,$14,$22,$22,$22,$22,$00,$00
	DB $00,$00,$24,$24,$14,$14,$08,$08
	DB $08,$08,$10,$10,$10,$10,$00,$00
	DB $00,$00,$3C,$3C,$04,$04,$08,$08
	DB $10,$10,$20,$20,$3C,$3C,$00,$00
	DB $00,$00,$08,$08,$08,$08,$08,$08
	DB $3E,$3E,$1C,$1C,$08,$08,$00,$00
	DB $1C,$1C,$3E,$22,$7F,$49,$7F,$55
	DB $7F,$5D,$7F,$55,$3E,$22,$1C,$1C
	DB $1C,$1C,$3E,$3A,$7F,$55,$7F,$59
	DB $7F,$55,$7F,$5D,$3E,$22,$1C,$1C
	DB $00,$18,$00,$18,$00,$18,$E7,$FF
	DB $E7,$FF,$18,$18,$18,$18,$18,$18
	DB $18,$18,$18,$18,$18,$18,$E0,$FF
	DB $E0,$FF,$18,$18,$18,$18,$18,$18
	DB $18,$18,$18,$18,$18,$18,$E7,$FF
	DB $E7,$FF,$00,$18,$00,$18,$00,$18
	DB $18,$18,$18,$18,$18,$18,$07,$FF
	DB $07,$FF,$18,$18,$18,$18,$18,$18
	DB $18,$18,$18,$18,$18,$18,$E7,$FF
	DB $E7,$FF,$18,$18,$18,$18,$18,$18
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$18,$18,$18,$18,$00,$00
	DB $00,$00,$18,$18,$24,$24,$08,$08
	DB $08,$08,$00,$00,$08,$08,$00,$00
	DB $00,$00,$08,$08,$08,$08,$08,$08
	DB $08,$08,$00,$00,$08,$08,$00,$00
	DB $00,$00,$10,$10,$10,$10,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$18,$18,$08,$08,$10,$10
	DB $00,$00,$14,$14,$14,$14,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$08,$08
	DB $1C,$1C,$08,$08,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $1C,$1C,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$1C,$1C
	DB $00,$00,$1C,$1C,$00,$00,$00,$00
	DB $00,$00,$08,$08,$10,$10,$10,$10
	DB $10,$10,$10,$10,$08,$08,$00,$00
	DB $00,$00,$10,$10,$08,$08,$08,$08
	DB $08,$08,$08,$08,$10,$10,$00,$00
	DB $FF,$FF,$FF,$80,$FF,$80,$FF,$80
	DB $FF,$80,$FF,$80,$FF,$80,$FF,$81
	DB $FF,$81,$FF,$80,$FF,$80,$FF,$80
	DB $FF,$80,$FF,$80,$FF,$80,$FF,$FF
	DB $FF,$FF,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$FF
	DB $FF,$FF,$FF,$01,$FF,$01,$FF,$01
	DB $FF,$01,$FF,$01,$FF,$01,$FF,$81
	DB $FF,$81,$FF,$01,$FF,$01,$FF,$01
	DB $FF,$01,$FF,$01,$FF,$01,$FF,$FF
	DB $FF,$81,$FF,$81,$FF,$81,$FF,$81
	DB $FF,$81,$FF,$81,$FF,$81,$FF,$81
	DB $FF,$00,$FF,$18,$FF,$18,$FF,$18
	DB $FF,$24,$FF,$18,$FF,$08,$FF,$00
	DB $FF,$00,$FF,$3C,$FF,$66,$FF,$42
	DB $FF,$42,$FF,$66,$FF,$66,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$72,$FF,$76
	DB $FF,$76,$FF,$72,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	DB $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	DB $FF,$00,$FF,$66,$99,$FF,$81,$FF
	DB $C3,$7E,$E7,$3C,$FF,$18,$FF,$00
	DB $FF,$00,$FF,$76,$FE,$5D,$FF,$7C
	DB $FE,$7D,$C7,$7C,$FF,$7C,$FF,$00
	DB $3C,$3C,$7E,$42,$FF,$81,$D7,$A9
	DB $C7,$B9,$EF,$91,$7E,$42,$3C,$3C
	DB $3C,$3C,$7E,$42,$E9,$97,$D7,$A9
	DB $C7,$B9,$C7,$B9,$7E,$42,$3C,$3C
	DB $3C,$3C,$7E,$42,$FB,$85,$C7,$B9
	DB $C7,$B9,$C7,$B9,$7E,$42,$3C,$3C
	DB $3C,$3C,$7E,$42,$FF,$81,$EF,$91
	DB $C7,$B9,$EF,$91,$7E,$42,$3C,$3C
	DB $00,$00,$38,$38,$44,$44,$BA,$BA
	DB $A2,$A2,$BA,$BA,$44,$44,$38,$38
	DB $FF,$00,$FF,$18,$FF,$24,$FF,$24
	DB $FF,$00,$FF,$24,$FF,$24,$FF,$18
	DB $FF,$00,$FF,$00,$FF,$04,$FF,$04
	DB $FF,$00,$FF,$04,$FF,$04,$FF,$00
	DB $FF,$00,$FF,$18,$FF,$04,$FF,$04
	DB $FF,$18,$FF,$20,$FF,$20,$FF,$18
	DB $FF,$00,$FF,$18,$FF,$04,$FF,$04
	DB $FF,$18,$FF,$04,$FF,$04,$FF,$18
	DB $FF,$00,$FF,$00,$FF,$24,$FF,$24
	DB $FF,$18,$FF,$04,$FF,$04,$FF,$00
	DB $FF,$00,$FF,$18,$FF,$20,$FF,$20
	DB $FF,$18,$FF,$04,$FF,$04,$FF,$18
	DB $FF,$00,$FF,$18,$FF,$20,$FF,$20
	DB $FF,$18,$FF,$24,$FF,$24,$FF,$18
	DB $FF,$00,$FF,$18,$FF,$04,$FF,$04
	DB $FF,$00,$FF,$04,$FF,$04,$FF,$00
	DB $FF,$00,$FF,$18,$FF,$24,$FF,$24
	DB $FF,$18,$FF,$24,$FF,$24,$FF,$18
	DB $FF,$00,$FF,$18,$FF,$24,$FF,$24
	DB $FF,$18,$FF,$04,$FF,$04,$FF,$18
	DB $FF,$FF,$FF,$80,$7F,$40,$3F,$20
	DB $1F,$11,$1F,$11,$1F,$11,$1F,$11
	DB $FF,$FF,$FF,$30,$CF,$48,$87,$84
	DB $0F,$08,$1F,$10,$3F,$20,$7F,$41
	DB $FC,$FC,$FD,$05,$FB,$0A,$F1,$11
	DB $E0,$20,$C0,$40,$80,$80,$00,$00
	DB $FE,$FE,$FF,$01,$FF,$00,$FF,$01
	DB $FE,$FE,$01,$01,$01,$01,$01,$01
	DB $0F,$0F,$1F,$14,$BF,$A9,$54,$5F
	DB $EF,$AF,$F0,$10,$F0,$10,$F0,$10
	DB $FF,$FF,$FF,$90,$FF,$20,$9F,$F0
	DB $FF,$FF,$00,$00,$00,$00,$00,$00
	DB $00,$00,$80,$80,$C0,$40,$A0,$A0
	DB $70,$50,$F8,$88,$F8,$88,$F8,$88
	DB $1F,$11,$1F,$10,$1F,$10,$1F,$10
	DB $1F,$10,$1F,$11,$1F,$11,$1F,$11
	DB $FE,$82,$FC,$04,$F8,$08,$FC,$04
	DB $FE,$02,$FF,$81,$7F,$40,$3F,$20
	DB $00,$00,$00,$00,$01,$01,$03,$02
	DB $01,$01,$00,$00,$80,$80,$C0,$40
	DB $01,$01,$FE,$FE,$FF,$01,$FF,$00
	DB $FF,$01,$FE,$FE,$01,$01,$01,$01
	DB $F0,$10,$E0,$A0,$40,$40,$80,$80
	DB $40,$40,$E1,$A1,$F3,$12,$F3,$12
	DB $00,$00,$1F,$1F,$3F,$20,$7F,$40
	DB $BF,$A0,$DF,$5F,$E0,$20,$E0,$20
	DB $F8,$88,$70,$50,$A0,$A0,$C0,$40
	DB $80,$80,$00,$00,$00,$00,$00,$00
	DB $1F,$11,$1F,$11,$3F,$20,$7F,$40
	DB $FF,$80,$FF,$FF,$00,$00,$00,$00
	DB $1F,$10,$0F,$08,$87,$84,$CF,$48
	DB $FF,$30,$FF,$FF,$00,$00,$00,$00
	DB $E0,$20,$F0,$10,$F8,$08,$FD,$05
	DB $FE,$02,$FE,$FE,$00,$00,$00,$00
	DB $01,$01,$7E,$7E,$FF,$81,$FF,$00
	DB $FF,$81,$7E,$7E,$00,$00,$00,$00
	DB $F3,$12,$E1,$A1,$40,$40,$80,$80
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $E0,$20,$DF,$5F,$BF,$A0,$7F,$40
	DB $3F,$20,$1F,$1F,$00,$00,$00,$00
	DB $00,$00,$00,$00,$80,$80,$C0,$40
	DB $80,$80,$00,$00,$00,$00,$00,$00

bartiles::
	DB $FF,$00,$FF,$3C,$F3,$42,$E3,$42
	DB $C3,$42,$C3,$42,$C3,$42,$C3,$42
	DB $C3,$42,$C3,$42,$C3,$42,$C3,$42
	DB $C3,$42,$C3,$42,$FF,$3C,$FF,$00
	DB $FF,$00,$FF,$3C,$F3,$4E,$E3,$5E
	DB $C3,$7E,$C3,$7E,$C3,$7E,$C3,$7E
	DB $C3,$7E,$C3,$7E,$C3,$7E,$C3,$7E
	DB $C3,$7E,$C3,$7E,$FF,$3C,$FF,$00
uitilesend::
characters::
pilotjam::
	DB $E1,$E1,$E1,$E1,$F1,$F1,$C9,$F9
	DB $81,$F9,$81,$F9,$01,$F9,$FF,$FF
	DB $FF,$FF,$80,$80,$80,$80,$80,$80
	DB $81,$81,$83,$83,$87,$87,$87,$87
	DB $87,$87,$83,$83,$80,$81,$83,$80
	DB $83,$80,$83,$80,$83,$81,$81,$80
	DB $80,$80,$80,$80,$82,$83,$86,$87
	DB $8F,$8F,$8F,$8F,$9E,$9F,$FF,$FF
	DB $FF,$FF,$00,$00,$00,$3E,$FC,$FF
	DB $FE,$FF,$FE,$FF,$FE,$FF,$FE,$FF
	DB $FE,$87,$FD,$37,$CB,$27,$FB,$07
	DB $FB,$07,$F9,$07,$FC,$CF,$B8,$FE
	DB $F4,$0A,$8F,$F3,$FE,$83,$7E,$DF
	DB $10,$FF,$02,$FF,$83,$C7,$FF,$FF
	DB $FF,$FF,$01,$01,$01,$01,$01,$81
	DB $01,$81,$01,$81,$41,$C1,$41,$C1
	DB $41,$C1,$41,$C1,$81,$C1,$81,$C1
	DB $81,$C1,$41,$C1,$81,$81,$01,$01
	DB $01,$01,$81,$81,$21,$E1,$F1,$F1
	DB $F9,$F9,$79,$F9,$79,$F9,$FF,$FF
pilotret::
	DB $FF,$FF,$80,$80,$80,$80,$80,$80
	DB $81,$81,$83,$83,$87,$87,$87,$87
	DB $87,$87,$87,$87,$83,$83,$80,$81
	DB $83,$80,$83,$80,$83,$81,$81,$80
	DB $80,$80,$80,$80,$83,$83,$85,$87
	DB $89,$8F,$8B,$8F,$93,$9F,$FF,$FF
	DB $FF,$FF,$00,$00,$00,$00,$FE,$FE
	DB $FE,$FE,$FF,$FF,$FF,$FF,$FF,$FF
	DB $FF,$BF,$FE,$07,$FD,$33,$CD,$2B
	DB $FD,$03,$FF,$01,$FE,$E3,$DC,$FF
	DB $F5,$0B,$0D,$73,$FB,$87,$FF,$DF
	DB $A3,$FF,$FF,$FF,$07,$8F,$FF,$FF
	DB $FF,$FF,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$81,$01,$C1,$A1,$E1
	DB $91,$F1,$19,$F9,$99,$F9,$B9,$F9
	DB $B9,$F9,$71,$F1,$F1,$F1,$E1,$E1
	DB $41,$41,$01,$01,$E1,$E1,$D1,$F1
	DB $89,$F9,$89,$F9,$89,$F9,$FF,$FF

charactersend::
t_superrocket:: db $b0,$b2,$ad,$a2,$af,$93,$af,$ac,$a0,$a8,$a2,$b1
t_cjona32u4hm:: db $dd,$a7,$ac,$ab,$9e,$97,$96,$b2,$98,$a5,$aa



titlemap::
	db $d4,$01,$02,$00,$00,$00,$00,$00,$00,$02,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02
	db $d4,$d4,$03,$04,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$00,$00
	db $d4,$d4,$d4,$05,$06,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$00,$00,$00,$07,$08
	db $d4,$d4,$09,$0A,$0B,$00,$00,$00,$02,$00,$00,$00,$00,$00,$00,$00,$02,$00,$00,$00
	db $d4,$d4,$00,$0C,$0D,$0E,$00,$00,$02,$02,$00,$00,$00,$00,$00,$00,$00,$02,$00,$00
	db $0F,$d4,$10,$00,$11,$12,$13,$00,$00,$14,$00,$00,$02,$00,$00,$15,$16,$00,$00,$00
	db $17,$18,$19,$00,$02,$1A,$1B,$1C,$00,$00,$1D,$1E,$1F,$20,$21,$22,$23,$00,$24,$25
	db $00,$26,$27,$28,$00,$02,$29,$2A,$04,$00,$2B,$2C,$2D,$2E,$00,$2F,$30,$00,$31,$32
	db $02,$33,$34,$35,$00,$36,$37,$38,$39,$00,$3A,$3B,$3C,$3D,$3E,$3F,$40,$41,$42,$43
	db $00,$02,$44,$d4,$45,$46,$47,$48,$49,$4A,$4B,$d4,$4C,$d4,$4D,$4E,$4F,$50,$51,$00
	db $00,$00,$52,$53,$54,$55,$56,$57,$58,$59,$5A,$d4,$5B,$5C,$5D,$5E,$5F,$60,$61,$62
	db $00,$00,$00,$63,$64,$65,$66,$67,$68,$69,$6A,$d4,$d4,$d4,$d4,$d4,$6B,$6C,$6D,$6E
	db $00,$00,$02,$6F,$70,$71,$72,$73,$74,$75,$76,$d4,$d4,$d4,$d4,$d4,$d4,$77,$d4,$78
titlewinmap::
	db $00,$00,$79,$7A,$7B,$7C,$7D,$7E,$7F,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$93,$93
	db $00,$00,$80,$d4,$d4,$81,$82,$83,$84,$85,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$93,$93
	db $00,$00,$76,$d4,$d4,$86,$87,$88,$89,$8A,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$93,$93
	db $00,$8B,$d4,$d4,$d4,$d4,$8C,$8D,$8E,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$93,$93
	db $02,$8F,$d4,$d4,$d4,$d4,$d4,$90,$91,$92,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$d4,$93,$93
titlemapend::
titlecgb::
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$00,$00,$00,$00,$00,$01,$01,$00,$00,$00
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$01,$01,$01,$03,$03
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$01,$01,$01,$03,$03
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$01,$01,$01,$01,$01,$01
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$01,$01,$01,$01,$01,$01
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$01,$01,$01,$01,$01,$01
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$01,$01,$01,$01,$01,$01
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$01,$01,$01,$01,$01,$01
titlewincgb::
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$02,$02,$02
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$02,$02,$02
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$02,$02,$02
	db $00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	db $00,$00,$00,$00,$00,$00,$00,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02,$02
titlecgbend::
titletiles::
	db $FF,$FF,$FF,$FF,$EF,$EF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$FF,$FF,$F7
	db $FF,$FF,$FF,$7F,$FF,$3F,$FF,$1F,$FF,$0F,$FF,$03,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$3F,$FF,$1F,$FF,$0F,$FF,$07,$FF,$03,$FF,$01,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F
	db $FF,$1F,$FF,$0F,$FF,$07,$FF,$03,$FF,$01,$FF,$00,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$7F
	db $FF,$FF,$FF,$FE,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$3F,$7F,$3F,$FF,$3F,$FF,$3F,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$7C,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$C0,$FF,$E0,$FF,$F0
	db $FF,$3F,$FF,$0F,$FF,$07,$FF,$07,$FF,$03,$FF,$03,$FF,$01,$FF,$00
	db $FF,$F8,$FF,$FC,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$C0,$FF,$E0,$FF,$F0
	db $FF,$7F,$FF,$3F,$FF,$1F,$FF,$0F,$FF,$07,$FF,$03,$FF,$01,$FF,$01
	db $FF,$00,$FF,$00,$FF,$80,$FF,$80,$FF,$C0,$FF,$E0,$FF,$F0,$FF,$F8
	db $FF,$FF,$FF,$FF,$FF,$7F,$FF,$7F,$FF,$3F,$FF,$3F,$FF,$1F,$FF,$0F
	db $FF,$F0,$FF,$F8,$FF,$FC,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$C0,$FF,$E0
	db $FF,$FF,$FF,$FF,$FF,$7F,$FF,$3F,$FF,$1F,$FF,$1F,$FF,$0F,$FF,$07
	db $FF,$E7,$DF,$C1,$BF,$83,$FF,$87,$FF,$8F,$FF,$9F,$FF,$DF,$FF,$FF
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FC,$FC,$FC,$FC,$FC,$FC
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$7F,$7F,$7F,$FF,$FF
	db $FF,$F8,$FF,$F8,$FF,$FC,$FF,$FC,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80
	db $FF,$0F,$FF,$0F,$FF,$07,$FF,$07,$FF,$03,$FF,$03,$FF,$03,$FF,$03
	db $FF,$E0,$FF,$F0,$FF,$F8,$FF,$FC,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$03,$FF,$01,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$80
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$3F,$FF,$1F,$FF,$1F
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FE,$FF
	db $FE,$FE,$FD,$FC,$FD,$FC,$F8,$F8,$F8,$F8,$CC,$FC,$0F,$FF,$03,$FF
	db $0F,$0F,$87,$07,$07,$07,$06,$07,$04,$07,$38,$3F,$F8,$FF,$80,$FF
	db $FF,$FF,$FF,$FF,$FF,$FF,$3F,$FF,$03,$FF,$20,$FF,$00,$FF,$60,$FF
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$7F,$FF,$7F,$FF
	db $FE,$FE,$FE,$FE,$FE,$FE,$FE,$FE,$FE,$FE,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$7F,$7F,$7F,$7F,$7F
	db $FF,$FF,$FF,$FF,$FF,$FC,$FF,$F8,$FF,$FA,$FF,$FA,$FF,$F8,$FF,$F8
	db $FF,$FF,$FF,$0F,$FF,$03,$FF,$19,$FF,$38,$FF,$70,$FF,$00,$FF,$00
	db $FF,$80,$FF,$E0,$FF,$E0,$FF,$E0,$FF,$F0,$FF,$F0,$FF,$F8,$FF,$F8
	db $FF,$03,$FF,$01,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$7F,$FF,$3F,$FF,$3F
	db $FF,$C0,$FF,$E0,$FF,$F0,$FF,$F8,$FF,$FC,$FF,$FC,$FF,$FE,$FF,$FF
	db $FF,$0F,$FF,$07,$FF,$07,$FF,$03,$FF,$01,$FF,$00,$FF,$00,$FF,$00
	db $F8,$FF,$F0,$FF,$F0,$FF,$F0,$FF,$F0,$FF,$F8,$FF,$FC,$FF,$FF,$FF
	db $40,$FF,$80,$FF,$02,$FF,$02,$FF,$00,$FF,$00,$FF,$03,$FF,$FF,$FF
	db $00,$FF,$08,$FF,$04,$FF,$00,$FF,$00,$FF,$1F,$FF,$E9,$E1,$28,$00
	db $00,$FF,$00,$FF,$01,$FF,$07,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FE,$FE,$FC,$FE,$FC
	db $7F,$7F,$BF,$BF,$BF,$BF,$9F,$9F,$8F,$0F,$07,$07,$03,$03,$03,$03
	db $FF,$FA,$FF,$FC,$FF,$FC,$FF,$FC,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$81,$FF,$07,$FF,$1F,$FF,$3F,$FF,$3F,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$FC,$FF,$FE,$FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$C0,$FF,$C0
	db $FF,$1F,$FF,$1F,$FF,$0F,$FF,$07,$FF,$03,$FF,$03,$FF,$01,$FF,$01
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FC,$FC,$F0,$F0,$C1,$C1,$83,$83
	db $FF,$FF,$FF,$FF,$FF,$FF,$E7,$E7,$1F,$1F,$FC,$FC,$E0,$E1,$C0,$C1
	db $FF,$80,$FF,$C0,$FF,$E0,$FF,$F0,$8F,$88,$01,$F1,$00,$90,$00,$00
	db $FF,$3F,$FF,$1F,$FF,$1F,$FF,$0F,$FF,$07,$FF,$87,$7F,$43,$3F,$23
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$F8,$FF,$00
	db $FE,$FE,$FE,$FE,$FC,$FC,$FE,$FE,$FE,$FE,$FF,$FF,$FF,$01,$FF,$01
	db $44,$00,$44,$00,$44,$00,$64,$00,$29,$01,$39,$01,$93,$82,$93,$82
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$07,$FF,$00,$FF,$00
	db $9F,$9F,$8F,$8F,$E7,$E7,$FB,$FB,$FD,$FD,$FE,$FE,$FE,$3E,$FF,$07
	db $FC,$F8,$F8,$F0,$F8,$E8,$FC,$EC,$F7,$D7,$F7,$37,$60,$60,$C2,$C2
	db $00,$00,$00,$00,$01,$01,$07,$07,$F8,$F8,$81,$81,$01,$01,$01,$01
	db $FF,$FF,$FF,$FF,$FF,$FF,$9F,$9F,$07,$07,$00,$00,$81,$81,$F1,$F1
	db $FF,$FF,$FF,$FF,$FE,$FE,$F1,$F1,$0F,$0F,$FF,$FF,$FF,$FF,$FF,$FF
	db $CF,$CF,$87,$87,$7F,$7F,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$E0,$FF,$F0,$FF,$F0,$FF,$F8,$FF,$F8,$FF,$FC,$FF,$FC,$FF,$FC
	db $FE,$FE,$FC,$FC,$FC,$7C,$FC,$3C,$FF,$3F,$F8,$3F,$F0,$3F,$FF,$3F
	db $07,$07,$1F,$1F,$3E,$3E,$3C,$3C,$FC,$FC,$03,$FF,$00,$FF,$FC,$FF
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$80,$80,$38,$F8,$08,$F8
	db $00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	db $1F,$17,$0F,$0C,$0F,$0C,$0F,$0E,$0F,$0E,$0B,$0F,$0B,$0F,$0B,$0F
	db $FF,$80,$FF,$00,$FF,$0E,$FF,$3F,$EB,$2F,$ED,$6D,$FF,$7F,$F0,$7F
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$80,$FF,$80,$FF,$C0
	db $C3,$40,$C7,$44,$C7,$40,$E7,$20,$E7,$20,$F7,$10,$FF,$08,$FF,$08
	db $FF,$03,$FF,$03,$FF,$03,$FF,$01,$FF,$01,$FE,$02,$FF,$03,$FF,$0F
	db $86,$86,$9E,$9E,$1E,$1E,$1F,$1F,$1F,$1F,$1C,$1C,$D8,$D8,$E0,$E0
	db $01,$01,$03,$03,$03,$03,$00,$00,$00,$00,$00,$00,$00,$00,$07,$07
	db $F1,$F1,$E0,$E0,$E0,$E0,$60,$60,$23,$23,$1F,$1F,$FE,$FE,$DF,$DF
	db $FF,$FF,$FF,$FF,$FF,$FF,$7F,$7F,$FF,$FF,$FF,$FF,$7F,$7F,$FF,$FF
	db $FF,$FE,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$80,$FF,$C0,$FF,$C0,$FF,$E0
	db $FF,$1F,$FF,$1F,$F4,$17,$FD,$3F,$FF,$7F,$FB,$7F,$E0,$7F,$C0,$FF
	db $FF,$FF,$BF,$FF,$C3,$C3,$D2,$D3,$E4,$E7,$F8,$FF,$F8,$FF,$3C,$FF
	db $83,$FF,$E1,$FF,$31,$FF,$9C,$FF,$7F,$FF,$2D,$EF,$6E,$EF,$D6,$D7
	db $00,$00,$00,$00,$80,$80,$C0,$C0,$30,$F0,$B8,$F8,$9C,$FC,$CC,$FC
	db $09,$0F,$09,$0F,$09,$0F,$19,$1F,$11,$1F,$10,$1F,$60,$7F,$60,$7F
	db $C0,$FF,$F0,$FF,$30,$FF,$30,$FF,$98,$FF,$98,$FF,$98,$FF,$99,$FF
	db $7F,$C0,$7F,$C0,$7F,$C0,$7F,$C0,$FF,$C0,$FF,$80,$FF,$80,$FF,$C0
	db $FF,$08,$FF,$00,$FF,$00,$FF,$00,$FF,$31,$FF,$7E,$DF,$5C,$FF,$70
	db $FF,$00,$FF,$00,$FF,$07,$FF,$3C,$FF,$C0,$FF,$00,$FF,$00,$FF,$00
	db $FF,$78,$FF,$E0,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FB,$3B,$FC,$3C,$FC,$1C,$FF,$0F,$FF,$03,$FF,$03,$FF,$01,$FF,$01
	db $F8,$F8,$00,$00,$00,$00,$00,$00,$80,$80,$C0,$C0,$C0,$C0,$C0,$C0
	db $07,$07,$07,$05,$07,$04,$0F,$0C,$0F,$0C,$0F,$0C,$0F,$0C,$7F,$70
	db $FF,$1F,$FF,$8F,$FF,$EF,$FF,$F3,$FF,$78,$FF,$3E,$FF,$1E,$FF,$0F
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$7F,$FF,$7F,$FF,$3F,$FF,$1F
	db $FF,$F0,$FF,$F8,$FF,$FD,$FF,$FD,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	db $E0,$FF,$F0,$FF,$70,$7F,$F0,$FF,$F8,$FF,$CC,$FF,$C4,$FF,$C2,$FF
	db $07,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF
	db $F1,$FF,$C0,$FF,$E1,$FF,$33,$FF,$1E,$FF,$00,$FF,$00,$FF,$00,$FF
	db $43,$FF,$C0,$FF,$C0,$FF,$00,$FF,$3C,$FF,$3F,$FF,$41,$FF,$41,$FF
	db $80,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$81,$FF
	db $F7,$F7,$F5,$F0,$F5,$F0,$F7,$F0,$F2,$D0,$F8,$D8,$FC,$8C,$FE,$86
	db $7F,$40,$7F,$40,$7F,$40,$7F,$40,$FF,$C0,$FF,$C0,$FF,$80,$FF,$80
	db $FF,$3F,$FC,$0C,$FC,$0C,$FE,$06,$FF,$03,$FF,$01,$FF,$00,$FF,$00
	db $DF,$D0,$3F,$20,$3F,$20,$3F,$20,$BF,$80,$FF,$C0,$FF,$C0,$FF,$C0
	db $FF,$07,$FF,$03,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$E3,$FF,$F1,$FF,$F9,$FF,$7D,$FF,$3F,$F9,$19,$F9,$19,$FF,$0F
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FC,$FF,$FC,$FF,$F8,$FF,$F0
	db $E3,$FF,$F3,$FF,$FF,$3C,$F5,$30,$E4,$20,$E4,$20,$F6,$30,$F3,$10
	db $00,$FF,$C0,$FF,$70,$7F,$B8,$3F,$9F,$13,$9F,$00,$9F,$1B,$8F,$09
	db $00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$C0,$FF,$E0,$FF,$F8,$FF
	db $40,$FF,$40,$FF,$40,$FF,$20,$FF,$3F,$FF,$30,$F0,$27,$E7,$5B,$DF
	db $81,$FF,$C3,$FF,$E7,$FE,$E7,$FE,$EF,$FC,$7F,$78,$FF,$F8,$BF,$B8
	db $FE,$02,$FF,$01,$FF,$01,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$80,$FF,$80,$FF,$80,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$40,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$02,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF,$FE,$FF,$FC,$FF,$FC
	db $FF,$E0,$FF,$E0,$FF,$C0,$FF,$80,$FF,$80,$FF,$00,$FF,$00,$FF,$00
	db $F8,$08,$FE,$06,$FF,$05,$FF,$02,$FF,$02,$FF,$01,$FF,$00,$FF,$00
	db $4F,$09,$0F,$08,$0F,$08,$CF,$C8,$FF,$38,$FF,$00,$FF,$84,$FF,$80
	db $FF,$87,$FF,$D3,$FF,$60,$FF,$38,$FF,$30,$FF,$18,$FF,$0C,$FF,$04
	db $53,$DF,$CE,$CE,$FA,$7A,$C2,$42,$FF,$7F,$E0,$3F,$E0,$3F,$F0,$3F
	db $9F,$98,$6F,$78,$4F,$78,$87,$F8,$07,$FC,$07,$FC,$07,$FC,$07,$FE
	db $FF,$FC,$FF,$FC,$FF,$F8,$FF,$F8,$FF,$F0,$FF,$E0,$FF,$E0,$FF,$C0
	db $FF,$40,$FF,$20,$FF,$20,$FF,$10,$FF,$08,$FF,$08,$FF,$04,$FF,$02
	db $FF,$06,$FF,$03,$FF,$01,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FC,$0F,$FE,$07,$FF,$83,$FF,$87,$FC,$C4,$FC,$64,$FC,$24,$FF,$33
	db $0D,$FD,$08,$F8,$F0,$F0,$F0,$E0,$C8,$00,$C8,$00,$68,$00,$28,$00
	db $FF,$00,$FF,$80,$FF,$80,$FF,$80,$FF,$80,$FF,$80,$FF,$80,$FF,$80
	db $FF,$02,$FF,$01,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$00,$FF,$00,$FF,$80,$FF,$80,$FF,$40,$FF,$20,$FF,$20,$FF,$10
	db $FF,$19,$FF,$0C,$FF,$04,$FF,$06,$FF,$03,$FF,$01,$FF,$00,$FF,$00
	db $19,$01,$89,$81,$81,$81,$E3,$63,$F3,$12,$FF,$0E,$FF,$8E,$FF,$44
	db $FF,$80,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00
	db $FF,$FF,$FF,$FE,$FF,$FE,$FF,$FE,$FF,$FE,$FF,$FC,$FF,$FC,$FF,$FC
	db $FF,$08,$FF,$08,$FF,$04,$FF,$06,$FF,$03,$FF,$01,$FF,$01,$FF,$00
	db $FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$00,$FF,$80,$FF,$80
	db $FF,$64,$FF,$30,$FF,$10,$FF,$18,$FF,$0C,$FF,$04,$FF,$06,$FF,$01
	db $FF,$F8,$FF,$F8,$FF,$F8,$FF,$F8,$FF,$F8,$FF,$F8,$FF,$F8,$FF,$F8
	db $FF,$40,$FF,$60,$FF,$20,$FF,$30,$FF,$18,$FF,$08,$FF,$0C,$FF,$04
	db $FF,$01,$FF,$00,$FF,$00,$FF,$00
titletilesend::
titlepalettes::
	; Gameboy Color palette 0
	dw 26400
	dw 758
	dw 383
	dw 10275

	; Gameboy Color palette 1
	dw 915
	dw 1485
	dw 383
	dw 10275

	; Gameboy Color palette 2
	dw 26400
	dw 21140
	dw 10570
	dw 10275

	; Gameboy Color palette 3
	dw 915
	dw 3040
	dw 1537
	dw 10275

windowmap::
	DB $BD,$C1,$EC,$C1,$C1,$C1,$B8,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BB
	DB $BD,$C1,$ED,$c4,$C1,$C1,$BD,$BE,$C1,$C1,$C1,$80,$80,$80,$80,$80,$80,$80,$80,$BD
	DB $BD,$C1,$EC,$c1,$C1,$a7,$BD,$BF,$C1,$C1,$C1,$80,$80,$80,$80,$80,$80,$80,$80,$BD
	DB $BD,$C1,$ED,$c5,$c1,$cB,$BD,$C0,$C1,$C1,$C1,$80,$80,$80,$80,$80,$80,$80,$80,$BD
	DB $B9,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BA,$BC
winmapend::
windowcgb::
	DB $04,$04,$05,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04
	DB $04,$04,$05,$05,$04,$04,$04,$04,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$04
	DB $04,$04,$04,$04,$04,$00,$04,$04,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$04
	DB $04,$04,$04,$04,$04,$04,$04,$04,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$06,$04
	DB $04,$04,$04,$04,$04,$04,$04,$04,$04,$06,$04,$04,$04,$04,$04,$04,$04,$04,$04,$04
winmapcgb::

earthorbittiles::
	DB $00,$FF,$00,$FF,$00,$EF,$00,$FF
	DB $00,$BF,$00,$FF,$00,$FD,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$F7,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$F7
	DB $00,$E3,$00,$F7,$00,$FF,$00,$FF
	DB $00,$FF,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$BF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$FF,$00,$FC,$01,$F0,$03,$E0
	DB $02,$C1,$05,$C2,$06,$81,$07,$A0
	DB $47,$90,$07,$A0,$03,$C0,$01,$C6
	DB $00,$E5,$00,$F2,$00,$FC,$00,$FF
	DB $00,$FF,$00,$3F,$F0,$0F,$F0,$07
	DB $6C,$93,$B4,$4B,$7E,$81,$FE,$01
	DB $DE,$21,$AE,$51,$DC,$23,$FC,$03
	DB $F0,$07,$00,$0F,$00,$3F,$00,$FF
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$EF,$28,$C7
	DB $00,$83,$28,$C7,$00,$EF,$00,$FF
earthorbittilesend::
earthorbitpalettes
	dw 31708
	dw 28896
	dw 5285
	dw 5344

	; Gameboy Color palette 1
	dw 10216
	dw 2497
	dw 5285
	dw 5344

	; Gameboy Color palette 2
	dw 31708
	dw 10570
	dw 5285
	dw 5344

	; Gameboy Color palette 3
	dw 313
	dw 22
	dw 5285
	dw 5344

	; Gameboy Color palette 0
	dw 31672
	dw $3def
	;dw 32741
	dw 6596
	dw 11297

	; Gameboy Color palette 1
	dw 31672
	dw $3def
	dw 125
	dw 11297

	; Gameboy Color palette 2
	dw 31672
	dw $3def
	dw 23872
	dw 11297

	; Gameboy Color palette 3
	dw 31672
	dw $3def
	dw 858
	dw 11297
earthorbitmap::
	DB $0A,$0A,$0A,$0A,$0A,$00,$00,$00,$00,$00
	DB $0A,$0A,$00,$00,$0A,$00,$0A,$00,$00,$00
	DB $0A,$00,$01,$01,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$01,$0A,$01,$0A,$0A,$0A,$00
	DB $00,$0A,$02,$00,$0A,$00,$0A,$02,$00,$0A
	DB $01,$01,$01,$0A,$01,$0A,$0A,$00,$0A,$00
	DB $02,$00,$00,$0A,$0A,$00,$0A,$01,$01,$01
	DB $0A,$00,$00,$01,$02,$02,$0A,$0A,$0A,$0A
	DB $01,$00,$01,$0A,$01,$01,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$00,$00,$01,$0A,$01,$01,$0A
	DB $02,$0A,$0A,$0A,$01,$00,$02,$0A,$0A,$01
	DB $02,$16,$0A,$02,$02,$02,$11,$13,$0A,$0A
	DB $0A,$0A,$02,$01,$01,$0A,$02,$01,$01,$0A
	DB $0A,$0A,$02,$00,$00,$01,$12,$14,$0A,$00
	DB $0A,$00,$02,$0A,$0A,$0A,$00,$00,$00,$0A
	DB $0A,$0A,$01,$01,$01,$01,$0A,$0A,$00,$0A
	DB $0A,$0A,$0A,$16,$0A,$0A,$0A,$0A,$0A,$0A
	DB $00,$00,$0A,$0A,$0A,$0A,$0A,$00,$00,$0A
	DB $00,$0A,$00,$02,$0A,$0A,$0A,$00,$00,$00
	DB $00,$0A,$00,$0A,$0A,$00,$00,$0A,$00,$00
	DB $08,$07,$06,$06,$05,$05,$04,$04,$03,$03
	DB $03,$03,$04,$04,$05,$05,$06,$06,$07,$08
	DB $0F,$0E,$0E,$0D,$0D,$0D,$0C,$0C,$0B,$0B
	DB $0B,$0B,$0C,$0C,$0D,$0D,$0D,$0E,$0E,$0F
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	
earthorbitcgb::
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$00,$00
	DB $00,$00,$00,$03,$03,$03,$03,$03,$03,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$00,$00
	DB $00,$00,$00,$03,$03,$03,$03,$03,$03,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$03,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$02,$02,$00,$00
	DB $00,$01,$01,$01,$01,$01,$03,$00,$00,$00
	DB $00,$00,$00,$01,$01,$01,$02,$02,$00,$00
	DB $00,$01,$01,$01,$01,$01,$00,$00,$00,$00
	DB $00,$00,$00,$01,$01,$01,$00,$00,$00,$00
	DB $00,$01,$01,$01,$01,$01,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
;

mercurytiles::

	DB $FF,$00,$FF,$00,$FF,$00,$E7,$18
	DB $DB,$24,$E7,$18,$FF,$00,$FF,$00
	DB $FF,$00,$9F,$60,$6F,$90,$9F,$60
	DB $FF,$00,$F3,$0C,$ED,$12,$F3,$0C
	DB $FF,$00,$FF,$00,$C7,$38,$BB,$44
	DB $BB,$44,$45,$BA,$F7,$08,$FF,$00
	DB $FF,$00,$C1,$3E,$BE,$41,$BC,$41
	DB $20,$C1,$40,$BF,$DA,$25,$FF,$00
	DB $FF,$00,$F8,$07,$E7,$18,$DF,$20
	DB $DF,$20,$BF,$40,$BF,$40,$BF,$40
	DB $BF,$40,$BF,$40,$BF,$40,$5F,$A0
	DB $DF,$20,$A6,$58,$B8,$47,$F5,$0A
	DB $FF,$00,$1F,$E0,$E7,$18,$FB,$04
	DB $FB,$04,$FD,$02,$FD,$02,$FD,$02
	DB $F9,$02,$F9,$02,$F9,$02,$F2,$05
	DB $E2,$05,$07,$18,$1B,$E4,$DF,$20
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
mercurytilesend::
mercurymap::
	DB $00,$00,$0B,$0B,$0B,$0B,$0B,$00,$0B,$0B
	DB $0B,$00,$00,$00,$00,$00,$00,$00,$00,$02
	DB $00,$0B,$0B,$00,$02,$00,$00,$00,$00,$00
	DB $00,$00,$0B,$0B,$0B,$0B,$00,$00,$02,$00
	DB $00,$0B,$0B,$0B,$0B,$0B,$02,$0B,$0B,$00
	DB $00,$00,$00,$00,$00,$00,$0B,$0B,$0B,$00
	DB $0B,$0B,$0B,$02,$0B,$0B,$0B,$0B,$0B,$0B
	DB $0B,$00,$01,$02,$02,$00,$00,$00,$0B,$00
	DB $00,$0B,$02,$00,$01,$01,$01,$00,$00,$0B
	DB $00,$0B,$00,$00,$00,$02,$00,$00,$00,$0B
	DB $02,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B
	DB $00,$0B,$00,$0B,$00,$0B,$0B,$0B,$0B,$0B
	DB $0B,$0B,$00,$00,$00,$01,$00,$00,$00,$00
	DB $0B,$0B,$00,$00,$00,$00,$00,$00,$00,$00
	DB $0B,$00,$00,$00,$01,$01,$00,$0B,$0B,$0B
	DB $0B,$0B,$0B,$0B,$00,$0B,$0B,$00,$00,$00
	DB $03,$03,$0C,$03,$03,$0C,$04,$03,$04,$0C
	DB $04,$03,$0C,$0C,$03,$04,$04,$04,$03,$0C
	DB $05,$05,$05,$0C,$0C,$05,$05,$05,$05,$05
	DB $05,$05,$0C,$05,$05,$05,$05,$05,$05,$0C
	DB $0C,$0C,$06,$06,$06,$0C,$0C,$0C,$06,$0C
	DB $0C,$06,$0C,$0C,$0C,$06,$06,$0C,$06,$0C
	DB $07,$09,$0C,$0C,$07,$09,$0C,$0C,$0C,$0C
	DB $0C,$07,$09,$0C,$0C,$0C,$0C,$0C,$0C,$0C
	DB $08,$0A,$0C,$0C,$08,$0A,$0C,$0C,$0C,$0C
	DB $0C,$08,$0A,$0C,$0C,$0C,$0C,$0C,$0C,$0C
	
mercurycgb::
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$03,$03,$03,$03,$03,$03,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$03,$03,$03,$03,$03,$03,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$03,$03,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$03,$03,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$03,$03,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
	DB $02,$02,$02,$02,$02,$02,$02,$02,$02,$02
mercurymapsend::

venusmap::
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$02,$01,$04,$02,$01,$01,$04
	DB $00,$00,$00,$00,$00,$00,$00,$02,$01,$01
	DB $04,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$02,$01,$01,$04
	DB $02,$01,$04,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$02,$01,$01,$04,$02,$01
	DB $04,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$02,$01,$04,$02
	DB $01,$01,$04,$00,$00,$00,$00,$02,$01,$01
	DB $04,$02,$01,$04,$00,$00,$00,$00,$04,$02
	DB $01,$04,$00,$00,$00,$00,$00,$00,$00,$02
	DB $01,$01,$04,$00,$00,$00,$00,$00,$02,$01
	DB $04,$00,$02,$01,$04,$00,$00,$00,$02,$01
	DB $01,$04,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$02,$01,$04,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$02,$06,$06,$06,$06,$06,$06,$06,$06
	DB $06,$0A,$09,$06,$06,$06,$06,$06,$06,$06
	DB $06,$06,$06,$06,$06,$06,$06,$06,$06,$06
	DB $06,$0A,$09,$06,$00,$00,$00,$00,$00,$03
	DB $07,$00,$03,$08,$08,$07,$00,$00,$03,$07
	DB $00,$00,$00,$00,$00,$03,$07,$00,$00,$00
	DB $00,$00,$03,$08,$08,$07,$07,$00,$00,$00
	DB $03,$08,$08,$07,$00,$00,$00,$00,$00,$03
	DB $08,$08,$07,$00,$00,$00,$03,$08,$08,$07
	DB $00,$00,$00,$03,$08,$08,$08,$08,$00,$00
	DB $00,$03,$08,$08,$08,$08,$07,$00,$00,$00
	DB $03,$08,$08,$08,$08,$07,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$03,$08,$08,$08,$08,$08,$08,$07
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$03,$07,$00,$00,$00,$00
	DB $00,$00,$06,$06,$06,$06,$06,$06,$06,$06
	DB $06,$06,$06,$06,$06,$06,$06,$06,$06,$06
	DB $06,$06,$06,$06,$06,$06,$06,$06,$06,$06
	DB $06,$06,$06,$06,$05,$05,$05,$05,$05,$05
	DB $05,$05,$05,$05,$05,$05,$05,$05,$05,$05
	DB $05,$05,$05,$05,$05,$05,$05,$05,$05,$05
	DB $05,$05,$05,$05,$05,$05
venuscgb::
	db 02
venustiles::
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$FF
	DB $00,$40,$00,$40,$00,$40,$00,$20
	DB $00,$20,$00,$18,$00,$07,$00,$00
	DB $00,$00,$01,$00,$03,$00,$07,$00
	DB $0F,$00,$1F,$00,$7F,$00,$FF,$00
	DB $00,$02,$00,$02,$00,$02,$00,$04
	DB $00,$04,$00,$18,$00,$E0,$00,$00
	DB $FF,$00,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	DB $00,$00,$AA,$00,$00,$00,$55,$00
	DB $00,$00,$AA,$00,$55,$00,$FF,$00
	DB $80,$00,$C0,$00,$E0,$00,$F0,$00
	DB $F0,$00,$F8,$00,$FE,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$AA,$00,$E0,$00,$F5,$00
	DB $F0,$00,$FA,$00,$FF,$00,$FF,$00
	DB $01,$00,$AB,$00,$03,$00,$57,$00
	DB $0F,$00,$BF,$00,$7F,$00,$FF,$00
venustilesend::




marstiles::
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$01,$00,$03,$00,$07,$00
	DB $0F,$00,$1F,$00,$7F,$00,$FF,$00
	DB $01,$00,$03,$00,$07,$00,$0F,$00
	DB $1F,$00,$3F,$00,$7F,$00,$FF,$00
	DB $03,$00,$0F,$00,$3F,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $07,$00,$0F,$00,$7F,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$80,$00,$C0
	DB $00,$E0,$00,$F0,$00,$FC,$00,$FF
	DB $00,$80,$00,$C0,$00,$E0,$00,$F0
	DB $00,$F8,$00,$FC,$00,$FE,$00,$FF
	DB $00,$C0,$00,$F0,$00,$FC,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$E0,$00,$F0,$00,$FE,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	DB $FF,$FF,$FF,$FF,$FF,$FF,$FF,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $80,$7F,$80,$7F,$C0,$3F,$E0,$1F
	DB $F0,$0F,$F8,$07,$FE,$01,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
marstilesend::
mars2map::
	DB $02,$05
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$04,$03
	DB $0A,$0C,$06,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$01,$05,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$01
	DB $0A,$0A,$0A,$0D,$0C,$07,$08,$00,$00,$00
	DB $00,$00,$00,$02,$0A,$0C,$05,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $01,$0A,$0A,$0A,$0A,$0A,$0D,$0C,$09,$07
	DB $05,$00,$00,$04,$03,$0A,$0A,$0D,$0C,$06
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0D,$0C,$05,$00,$00,$00,$00,$00,$04,$03
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$0A,$0B,$0B,$0B,$0B,$0B,$0B
	DB $0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B
	DB $0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B,$0B
	DB $0B,$0B,$0B,$0B,$0B,$0B
mars2mapend::


jupitertiles::
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $03,$FC,$00,$F8,$00,$F0,$00,$F0
	DB $00,$FF,$0F,$F0,$7F,$80,$FF,$00
	DB $FF,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$F0,$0F,$FE,$01,$FF,$00
	DB $FF,$00,$00,$00,$00,$00,$00,$00
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $C0,$3F,$40,$1F,$20,$0F,$50,$0F
	DB $10,$E0,$3F,$C0,$3F,$C0,$3F,$C0
	DB $00,$80,$00,$80,$00,$80,$00,$80
	DB $01,$00,$FF,$00,$FF,$00,$FF,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00
	DB $F0,$00,$FF,$00,$FF,$00,$FF,$00
	DB $03,$00,$00,$00,$00,$00,$00,$00
	DB $28,$07,$FC,$03,$FC,$03,$FC,$03
	DB $FE,$01,$14,$01,$0A,$01,$14,$01
	DB $00,$80,$7F,$80,$7F,$80,$7F,$80
	DB $3F,$C0,$00,$C0,$04,$C0,$00,$E0
	DB $3F,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FE,$00,$00,$00,$4F,$00,$00,$00
	DB $E0,$00,$FF,$00,$FF,$00,$E0,$00
	DB $00,$00,$1E,$00,$FF,$00,$1E,$00
	DB $2A,$01,$D4,$2B,$EA,$15,$D6,$29
	DB $68,$17,$28,$03,$14,$03,$28,$07
	DB $0F,$F0,$0F,$F0,$07,$F8,$00,$FC
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $FE,$00,$FF,$00,$FF,$00,$00,$00
	DB $01,$00,$7B,$84,$06,$F9,$00,$FF
	DB $00,$00,$01,$00,$FA,$05,$05,$00
	DB $2A,$00,$2A,$D5,$D0,$2F,$00,$FF
	DB $50,$0F,$50,$AF,$A0,$5F,$40,$3F
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
jupitertilesend::
jupitercgb::
	DB $00,$03,$03,$03,$03,$03,$03,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$00,$00
	DB $00,$00,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$03,$03
	DB $03,$03,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$03,$03
	DB $03,$03,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$03,$03,$03,$03,$00,$03,$03
	DB $03,$03,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$01,$01,$01,$01,$01,$03,$03
	DB $03,$03,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$03,$03,$01,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$00,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$01,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$01,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$01,$01,$01,$01,$01,$01,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
jupitermap::
	DB $02,$02,$13,$13,$13,$13,$13,$13,$13,$13
	DB $13,$13,$13,$13,$13,$13,$13,$13,$13,$13
	DB $01,$01,$13,$13,$13,$00,$13,$01,$01,$01
	DB $13,$13,$13,$01,$13,$02,$13,$02,$13,$13
	DB $13,$01,$13,$13,$13,$13,$01,$01,$13,$13
	DB $00,$00,$00,$00,$13,$13,$13,$13,$13,$13
	DB $13,$13,$13,$00,$13,$13,$01,$13,$13,$13
	DB $01,$13,$13,$00,$00,$13,$13,$13,$13,$13
	DB $13,$13,$13,$02,$13,$13,$13,$13,$01,$13
	DB $01,$13,$13,$13,$13,$13,$13,$13,$13,$13
	DB $00,$13,$13,$13,$13,$13,$13,$13,$03,$04
	DB $05,$06,$13,$13,$13,$13,$13,$13,$02,$13
	DB $13,$13,$13,$01,$13,$13,$01,$13,$07,$08
	DB $09,$0A,$01,$13,$13,$13,$00,$13,$13,$13
	DB $13,$13,$00,$13,$13,$13,$13,$01,$0B,$0C
	DB $0D,$0E,$13,$01,$13,$13,$00,$00,$13,$13
	DB $13,$13,$13,$13,$13,$13,$13,$13,$0F,$10
	DB $11,$12,$13,$01,$01,$13,$13,$00,$13,$13
	DB $13,$13,$13,$13,$00,$13,$01,$01,$13,$01
	DB $01,$13,$13,$13,$13,$13,$13,$13,$13,$13
	DB $01,$01,$13,$13,$00,$00,$13,$01,$01,$13
	DB $13,$01,$13,$13,$13,$13,$13,$13,$13,$13
	DB $01,$13,$13,$00,$00,$13,$13,$13,$13,$13
	DB $13,$13,$00,$13,$13,$02,$13,$13,$13,$13
	DB $13,$01,$13,$13,$13,$13,$02,$02,$13,$13
	DB $13,$13,$13,$13,$13,$13,$02,$13,$13,$13
;

titantiles::
	DB $06,$F9,$1D,$E0,$3D,$C0,$79,$80
	DB $73,$80,$E7,$00,$CE,$00,$1C,$00
	DB $A0,$5F,$54,$AA,$A8,$54,$C0,$29
	DB $81,$52,$02,$25,$05,$4A,$0A,$95
	DB $78,$01,$F0,$02,$C0,$04,$00,$89
	DB $01,$92,$83,$64,$06,$C8,$00,$98
	DB $1D,$22,$1E,$41,$39,$82,$72,$05
	DB $C4,$0B,$98,$07,$30,$0F,$E0,$1F
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$01,$FE,$02,$FD
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $40,$BF,$90,$6F,$00,$CF,$00,$9F
	DB $04,$FB,$08,$F6,$08,$F4,$00,$F9
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$3F,$00,$7F,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
titantilesend::
titanmap::
	DB $0A,$0A,$0A,$0A,$0A,$00,$00,$00,$00,$00
	DB $0A,$0A,$00,$00,$0A,$00,$0A,$00,$00,$00
	DB $0A,$00,$01,$01,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$01,$0A,$01,$0A,$0A,$0A,$00
	DB $00,$0A,$02,$00,$0A,$00,$0A,$02,$00,$0A
	DB $01,$01,$01,$0A,$01,$0A,$0A,$00,$0A,$00
	DB $02,$00,$00,$0A,$0A,$00,$0A,$01,$01,$01
	DB $0A,$00,$00,$01,$02,$02,$0A,$0A,$0A,$0A
	DB $01,$00,$01,$0A,$01,$01,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$00,$00,$01,$0A,$01,$01,$0A
	DB $02,$0A,$0A,$0A,$01,$00,$02,$0A,$0A,$01
	DB $02,$0A,$0A,$02,$02,$02,$0A,$0A,$0A,$0A
	DB $0A,$0A,$02,$01,$01,$0A,$02,$01,$01,$0A
	DB $0A,$15,$16,$00,$00,$01,$0A,$0A,$0A,$00
	DB $0A,$00,$02,$0A,$0A,$0A,$00,$00,$00,$0A
	DB $11,$12,$18,$01,$01,$01,$0A,$0A,$00,$0A
	DB $0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$0A,$15
	DB $13,$14,$0A,$0A,$0A,$0A,$0A,$00,$00,$0A
	DB $00,$0A,$00,$02,$0A,$0A,$0A,$00,$00,$17
	DB $18,$0A,$00,$0A,$0A,$00,$00,$0A,$00,$00
	DB $08,$07,$06,$06,$05,$05,$04,$04,$03,$03
	DB $03,$03,$04,$04,$05,$05,$06,$06,$07,$08
	DB $0F,$0E,$0E,$0D,$0D,$0D,$0C,$0C,$0B,$0B
	DB $0B,$0B,$0C,$0C,$0D,$0D,$0D,$0E,$0E,$0F
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	
titancgb::
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$00,$00
	DB $00,$00,$00,$03,$03,$03,$03,$03,$03,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$00,$00
	DB $00,$00,$00,$03,$03,$03,$03,$03,$03,$00
	DB $00,$03,$03,$03,$03,$00,$00,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$03,$00,$01,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$01,$01,$01,$01,$01,$03,$00,$00,$03
	DB $03,$03,$03,$01,$01,$01,$00,$00,$00,$00
	DB $00,$01,$01,$01,$01,$01,$00,$00,$00,$03
	DB $03,$03,$03,$01,$01,$01,$00,$00,$00,$00
	DB $00,$01,$01,$00,$01,$01,$00,$00,$00,$03
	DB $03,$03,$03,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$03
	DB $03,$03,$03,$00,$00,$00,$00,$00,$00,$00
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
	DB $01,$01,$01,$01,$01,$01,$01,$01,$01,$01
;

uranustiles::
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$00,$FF
	DB $00,$00,$00,$FF,$FF,$00,$FF,$00
	DB $F8,$07,$F8,$07,$F8,$07,$00,$FF
	DB $00,$00,$00,$FF,$F8,$07,$F8,$07
	DB $1F,$E0,$1F,$E0,$1F,$E0,$00,$FF
	DB $00,$00,$00,$FF,$1F,$E0,$1F,$E0
	DB $00,$FF,$00,$FF,$01,$FE,$03,$FC
	DB $07,$F8,$07,$F8,$0F,$F0,$0F,$F0
	DB $00,$FF,$00,$FF,$80,$7F,$C0,$3F
	DB $E0,$1F,$E0,$1F,$F0,$0F,$F0,$0F
	DB $FF,$00,$FF,$00,$FF,$00,$EA,$15
	DB $55,$AA,$AA,$55,$55,$AA,$A8,$57
	DB $FF,$00,$FF,$00,$FF,$00,$5F,$A0
	DB $AA,$55,$55,$AA,$AA,$55,$15,$EA
	DB $0F,$F0,$0B,$F4,$06,$F9,$05,$FA
	DB $02,$FD,$01,$FE,$00,$FF,$00,$FF
	DB $F0,$0F,$D0,$2F,$60,$9F,$A0,$5F
	DB $40,$BF,$80,$7F,$00,$FF,$00,$FF
	DB $00,$FF,$00,$FF,$00,$FF,$00,$FF
	DB $00,$00,$00,$FF,$00,$FF,$00,$FF
	DB $F8,$07,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
	DB $1F,$E0,$FF,$00,$FF,$00,$FF,$00
	DB $FF,$00,$FF,$00,$FF,$00,$FF,$00
uranustilesend::
uranuscgb::
	DB $03,$04,$00,$04,$00,$00,$04,$00,$00,$00
	DB $04,$00,$00,$00,$00,$04,$04,$04,$00,$00
	DB $04,$00,$00,$04,$00,$00,$04,$00,$04,$04
	DB $04,$00,$00,$04,$03,$00,$00,$00,$04,$04
	DB $00,$00,$00,$04,$00,$04,$04,$04,$04,$04
	DB $04,$04,$04,$04,$04,$00,$00,$00,$00,$04
	DB $04,$00,$04,$04,$04,$04,$04,$00,$03,$00
	DB $04,$04,$00,$04,$04,$04,$04,$04,$04,$04
	DB $04,$00,$00,$04,$04,$04,$04,$04,$04,$04
	DB $00,$00,$00,$00,$00,$04,$04,$04,$04,$04
	DB $04,$04,$04,$04,$03,$04,$04,$04,$04,$04
	DB $04,$04,$04,$00,$04,$00,$00,$04,$00,$04
	DB $04,$00,$04,$00,$04,$04,$04,$04,$09,$11
	DB $10,$0A,$00,$04,$04,$04,$00,$04,$00,$04
	DB $04,$04,$04,$04,$0F,$0F,$0F,$0F,$08,$06
	DB $06,$07,$0F,$0F,$0F,$0F,$04,$03,$00,$04
	DB $00,$04,$04,$00,$04,$04,$04,$04,$0D,$0C
	DB $0B,$0E,$04,$04,$04,$04,$04,$04,$00,$04
	DB $00,$04,$00,$04,$04,$00,$00,$04,$04,$04
	DB $04,$04,$04,$04,$00,$04,$04,$04,$04,$04
	DB $00,$04,$04,$04,$04,$04,$00,$04,$04,$04
	DB $00,$00,$00,$04,$00,$04,$04,$00,$00,$04
	DB $04,$00,$04,$04,$04,$00,$04,$04,$03,$04
	DB $04,$04,$04,$00,$00,$00,$00,$03,$04,$04
	DB $00,$04,$04,$04,$04,$04,$00,$04,$04,$04
	DB $04,$04,$04,$04,$04,$04,$04,$04,$04,$04
	
uranusmap::
	DB $01,$01,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $01,$01,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $01,$01,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $03,$03,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $03,$03,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $03,$03,$01,$01,$01,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $03,$03,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $03,$03,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $03,$03,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $01,$01,$01,$01,$01,$01,$01,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $01,$01,$01,$01,$01,$01,$01,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$03,$03,$03
	DB $03,$03,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
;

neptunemap::
	DB $0A,$0A,$0A,$0A,$0A,$00,$00,$00,$00,$00
	DB $0A,$0A,$00,$00,$0A,$11,$13,$00,$00,$00
	DB $0A,$00,$11,$13,$0A,$0A,$0A,$0A,$0A,$0A
	DB $0A,$0A,$0A,$01,$0A,$12,$14,$0A,$0A,$00
	DB $00,$0A,$12,$14,$0A,$00,$0A,$11,$13,$0A
	DB $01,$01,$01,$0A,$01,$0A,$0A,$00,$0A,$00
	DB $02,$00,$00,$0A,$0A,$00,$0A,$12,$14,$01
	DB $0A,$00,$00,$01,$02,$02,$0A,$0A,$0A,$0A
	DB $05,$05,$04,$04,$04,$03,$03,$03,$03,$03
	DB $03,$03,$03,$03,$03,$04,$04,$04,$05,$05
	DB $0D,$0D,$0C,$0C,$0C,$0B,$0B,$0B,$0B,$0B
	DB $0B,$0B,$0B,$0B,$0B,$0C,$0C,$0C,$0D,$0D
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$0B,$0C,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	DB $10,$10,$10,$10,$10,$10,$10,$10,$10,$10
	
neptunecgb::
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$02,$02,$00,$00,$00
	DB $00,$03,$00,$00,$03,$00,$00,$00,$00,$00
	DB $00,$00,$00,$03,$03,$02,$02,$03,$03,$00
	DB $00,$03,$00,$00,$03,$00,$00,$03,$03,$00
	DB $00,$00,$00,$03,$03,$03,$03,$03,$03,$00
	DB $00,$03,$03,$03,$03,$00,$00,$03,$03,$01
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
	DB $00,$00,$00,$00,$00,$00,$00,$00,$00,$00
;



gameover::DB $91,$8B,$97,$8F,$99,$A0,$8F,$9C
gameoverend::




;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;leveldata
earthorbit::
	db $00,$00,$00,$00,$50
	db $1C,$03,$02,$49,$20
	db $1C,$03,$02,$80,$65
	db $1C,$03,$02,$90,$01
	db $1C,$03,$02,$3a,$01
	db $1C,$03,$02,$50,$01
	db $48,$03,$01,$6a,$60
	db $20,$03,$01,$90,$30
	db $1C,$03,$02,$50,$01
	db $20,$03,$01,$20,$07
	db $1c,$05,$04,$90,$30
	db $48,$03,$01,$6a,$20
	db $48,$03,$01,$88,$1b
	db $38,$03,$01,$3a,$40
	db $38,$03,$01,$50,$70
	db $38,$03,$01,$90,$05
	db $38,$03,$01,$3f,$01
	db $38,$03,$01,$50,$01
	db $38,$03,$01,$62,$01
	db $38,$03,$01,$74,$01
	db $38,$03,$01,$86,$60

	db $38,$03,$01,$3f,$01
	db $38,$03,$01,$50,$05
	db $38,$03,$01,$62,$01
	db $38,$03,$01,$74,$01
	db $38,$03,$01,$86,$01
	db $38,$03,$01,$90,$60

	db $20,$03,$01,$45,$30
	db $38,$03,$01,$86,$60

	db $20,$03,$01,$42,$30
	db $20,$05,$04,$5b,$40

	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$04
	db $38,$03,$01,$85,$30
	db $38,$03,$01,$87,$55

	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$20
	db $38,$03,$01,$85,$04
	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$60

	db $20,$07,$05,$42,$30
	db $20,$07,$05,$80,$40
	db $20,$07,$05,$70,$40
	db $20,$07,$05,$42,$30

	db $6c,$03,$05,$42,$55
	db $6c,$03,$05,$42,$30
	db $6c,$03,$05,$80,$40
	db $6c,$03,$05,$70,$40
	db $6c,$05,$05,$42,$30

	db $00,$00,$00,$00,$ff,$80
earthorbititems::
	db $C6,$70,$ff
	db $C6,$62,$ff
	db $C7,$70,$45
	db $C7,$40,$45
	db $C8,$70,$ff
	db $C9,$70,$ff
earthorbittext::
	db $5d,$06
	dw ret2k32
	db $3d
	db $54,$04
	dw okretletsgo
	db $60
	db $5d,$06
	dw howtoshoot
	db $6b
	db $5d,$06
	dw howtoshootb
	db $60
	db $5d,$06
	dw keepeyeonfuel
	db $3d
	db $54,$04
	dw willdo
	db $ff
	db $00,$00
	dw blanktxt
	db $4b
	db $5d,$06
	dw incominggroupofenemies
	db $ff
	db $54,$04
	dw imalmostthere
	db $3d
	db $5d,$06
	dw mothershiplocated
	db $ff
earthorbitend::

mercury::
	db $00,$00,$00,$00,$50
	db $1C,$03,$02,$40,$40
	db $1C,$03,$02,$50,$10
	db $1C,$03,$02,$30,$01
	db $20,$03,$01,$70,$01
	db $20,$07,$05,$50,$01
	db $48,$03,$01,$6a,$60
	db $30,$03,$03,$90,$60
	db $1C,$03,$02,$50,$01
	db $20,$03,$01,$20,$07
	db $1c,$07,$05,$90,$30
	db $6c,$03,$05,$6a,$20
	db $6c,$03,$05,$88,$1b
	db $6c,$03,$05,$3a,$40
	db $6c,$03,$05,$50,$75
	db $6c,$03,$05,$3f,$70
	db $20,$02,$01,$50,$01
	db $30,$02,$01,$86,$60

	db $1c,$01,$01,$3f,$01
	db $1c,$01,$01,$50,$05
	db $1c,$01,$01,$62,$01
	db $1c,$01,$01,$74,$01
	db $1c,$01,$01,$86,$01
	db $1c,$01,$01,$90,$60

	db $30,$03,$03,$45,$30
	db $38,$03,$01,$86,$60

	db $30,$03,$03,$42,$30
	db $30,$03,$03,$5b,$40



	db $30,$07,$05,$40,$60
	db $30,$05,$04,$63,$20
	db $38,$02,$01,$85,$04
	db $30,$02,$01,$40,$04
	db $30,$02,$01,$63,$60

	db $30,$03,$03,$42,$30
	db $6c,$03,$05,$42,$30
	db $6c,$03,$05,$80,$40
	db $6c,$03,$05,$70,$40
	db $30,$03,$03,$80,$40
	db $30,$03,$03,$70,$40
	db $30,$05,$04,$42,$30

	db $00,$00,$00,$00,$ff,$80
mercuryitems::
venusitems::
	db $00,$00,$ff
	db $C6,$62,$ff
	db $00,$00,$10
	db $C9,$70,$35
	db $C7,$40,$20
	db $C9,$70,$25
	db $C8,$70,$ff
	db $C9,$70,$40
	db $C7,$40,$05
	db $C7,$45,$05
	db $C7,$4a,$05
	db $C7,$4f,$05
	db $C7,$40,$ff
mercurytext::
	db $5d,$06
	dw enteringorbit
	db $70
	db $54,$04
	dw whatswiththecolors
	db $3d
	db $5d,$06
	dw dependinontheenemy
	db $3d
	db $5d,$06
	dw itcanmeanhowstrongitis
	db $3d
	db $54,$06
	dw makessense
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $4b

	db $5d,$06
	dw incominggroupofenemies
	db $ff
	db $5d,$04
	dw mothershiplocated
	db $3d
	db $54,$06
	dw imalmostthere
	db $ff
mercuryend::

venus::
	db $00,$00,$00,$00,$50
	db $1C,$07,$05,$49,$20
	db $1C,$07,$05,$90,$65
	db $1C,$07,$05,$90,$01
	db $1C,$01,$01,$70,$30
	db $1C,$01,$01,$50,$01
	db $1c,$01,$01,$37,$60
	db $4c,$03,$04,$90,$30
	db $1C,$0f,$00,$50,$01
	db $20,$03,$01,$20,$07
	db $1c,$07,$05,$90,$30
	db $4c,$03,$01,$6a,$20
	db $4c,$03,$01,$88,$60
	db $30,$02,$02,$3a,$40
	db $30,$03,$02,$39,$70
	db $30,$04,$02,$53,$05
	db $30,$03,$02,$40,$01
	db $30,$02,$02,$37,$60
	db $30,$03,$02,$80,$60
	db $24,$03,$01,$90,$40
	db $24,$03,$01,$90,$60

	db $1c,$0f,$00,$3f,$01
	db $1c,$0f,$00,$50,$05
	db $1c,$0f,$00,$62,$01
	db $1c,$0f,$00,$74,$01
	db $1c,$0f,$00,$86,$01
	db $1c,$0f,$00,$90,$60

	db $30,$03,$02,$45,$30
	db $24,$03,$01,$90,$10
	db $30,$03,$02,$86,$60

	db $30,$03,$02,$42,$50
	db $30,$07,$05,$5b,$40

	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$04
	db $38,$03,$01,$85,$30
	db $38,$03,$01,$87,$55

	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$20
	db $38,$03,$01,$85,$04
	db $48,$03,$01,$40,$04
	db $48,$03,$01,$63,$60

	db $30,$03,$03,$42,$30
	db $30,$03,$03,$80,$40
	db $30,$03,$03,$70,$40
	db $30,$05,$04,$42,$30

	db $6c,$03,$05,$42,$55
	db $6c,$03,$05,$42,$30
	db $6c,$03,$05,$80,$40
	db $6c,$03,$05,$70,$40
	db $6c,$05,$05,$42,$30

	db $00,$00,$00,$00,$ff,$80


venustext::
	db $54,$04
	dw okretletsgo
	db $70
	db $54,$04
	dw itshotinhere
	db $3d
	db $5d,$06
	dw dontworry
	db $3d
	db $5d,$06
	dw yourshipcantakeit
	db $60
	db $5d,$06
	dw becareful
	db $3d
	db $5d,$06
	dw theresrocketsontheground
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $4b

	db $5d,$06
	dw incominggroupofenemies
	db $ff
	db $54,$04
	dw mothershiplocated
	db $ff
venusend::

mars::
	db $00,$00,$00,$00,$50
	db $24,$02,$01,$90,$20
	db $30,$02,$03,$40,$62

	db $24,$02,$01,$90,$05
	db $4c,$03,$01,$40,$1d
	db $30,$02,$03,$53,$37
	db $79,$03,$01,$42,$24
	db $30,$04,$04,$63,$62

	db $4c,$03,$04,$3d,$3b
	db $4c,$03,$04,$50,$30
	db $4c,$03,$04,$83,$64
	
	db $30,$02,$03,$3a,$08	
	db $30,$02,$03,$72,$0f	
	db $30,$02,$03,$50,$5a

	db $24,$05,$00,$90,$05
	db $4c,$03,$01,$40,$1d
	db $20,$02,$01,$53,$37
	db $4c,$03,$01,$42,$24
	db $79,$05,$00,$42,$63
	
	db $1c,$0f,$00,$84,$63
	
	db $30,$0f,$00,$42,$43
	
	db $24,$03,$01,$90,$20
	db $30,$03,$03,$42,$20
	db $4c,$05,$04,$70,$20
	db $30,$03,$03,$3d,$20
	db $24,$03,$04,$90,$aa,$80
marsitems::
	db $00,$00,$ff
	db $C6,$62,$f9
	db $C9,$8a,$10
	db $C8,$40,$45
	db $C7,$70,$ff
	db $C8,$70,$ff
	db $C7,$70,$ff
marstext::	
	db $5d,$06
	dw ret2k32
	db $3d
	db $54,$04
	dw yep
	db $ff
	db $00,$00
	dw blanktxt
	db $55	


	db $5d,$06
	dw iftheenemyistoo
	db $3d
	db $5d,$06
	dw strong
	db $3d
	db $54,$04
	dw useabomb
	db $3d
	db $5d,$06
	dw yep
	db $4d

	db $5d,$06
	dw mothershiplocated
	db $ff
marslevelend::

jupiter::
	db $00,$00,$00,$00,$50
	db $30,$03,$03,$40,$40
	db $6c,$04,$05,$50,$10
	db $38,$ff,$01,$50,$30
	
	db $48,$03,$01,$30,$01
	db $48,$03,$01,$50,$01
	db $48,$07,$05,$70,$01
	db $48,$03,$01,$90,$80

	db $30,$03,$03,$90,$20
	db $30,$03,$03,$50,$20
	db $30,$03,$03,$80,$40

	db $28,$ff,$01,$80,$40

	db $6c,$04,$05,$6a,$20
	db $6c,$05,$05,$88,$1b
	db $6c,$04,$05,$3a,$40
	db $6c,$05,$05,$50,$75
	db $6c,$04,$05,$3f,$70
	db $20,$05,$05,$50,$01
	db $30,$05,$04,$45,$60

	db $1c,$01,$01,$3f,$01
	db $1c,$01,$01,$50,$05
	db $1c,$01,$01,$62,$01
	db $1c,$01,$01,$74,$01
	db $1c,$01,$01,$86,$01
	db $1c,$01,$01,$90,$60

	db $30,$03,$03,$45,$30
	db $38,$03,$01,$86,$60

	db $48,$03,$01,$30,$01
	db $48,$03,$01,$50,$01
	db $48,$07,$05,$70,$01
	db $48,$07,$05,$90,$20
	db $38,$03,$01,$b0,$01
	db $30,$0f,$00,$47,$70



	db $28,$03,$01,$30,$01
	db $28,$03,$01,$40,$01
	db $28,$07,$01,$50,$01
	db $28,$07,$01,$70,$01
	db $28,$03,$01,$80,$30

	db $38,$04,$04,$42,$0f
	db $6c,$04,$05,$42,$50
	db $38,$04,$04,$7f,$0f
	db $6c,$04,$05,$7f,$50
	db $38,$04,$04,$55,$0f
	db $6c,$04,$05,$55,$50

	db $28,$04,$04,$40,$01	
	db $28,$04,$04,$50,$01	
	db $28,$04,$04,$60,$ff,$80
jupiteritems::
	db $00,$00,$ff
	db $C8,$70,$01
	db $C8,$80,$01
	db $C9,$62,$ff
	db $C7,$70,$10
	db $C8,$70,$45
	db $C7,$40,$45
	db $C8,$70,$01
	db $C8,$70,$45
	db $C9,$70,$01
	db $C8,$70,$01
	db $C7,$70,$f0
	db $C8,$70,$01
	db $C7,$70,$ff
jupitertext::
	db $54,$04
	dw enteringorbit
	db $70
	db $00,$00
	dw blanktxt
	db $3d
	db $00,$00
	dw blanktxt
	db $3d
	db $00,$00
	dw blanktxt
	db $60
	db $5d,$06
	dw becareful
	db $3d
	db $54,$04
	dw dontworry
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $4b

	db $5d,$06
	dw incominggroupofenemies
	db $ff
	db $56,$06
	dw mothershiplocated
	db $ff
jupiterend::

titan::
	db $00,$00,$00,$00,$50
	db $30,$03,$03,$40,$40
	db $1c,$03,$02,$70,$10
	db $20,$03,$01,$50,$30
	

	db $30,$03,$03,$40,$40
	db $1c,$03,$02,$50,$10
	db $1c,$03,$02,$83,$10
	db $20,$03,$01,$70,$80

	db $48,$03,$01,$80,$20
	db $48,$03,$01,$40,$20
	db $48,$03,$01,$60,$40

	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$40

	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$10
	db $6c,$03,$01,$40,$31

	db $30,$05,$05,$40,$40
	db $1c,$03,$02,$50,$10
	db $1c,$05,$04,$83,$10
	db $20,$05,$05,$70,$80


	db $6c,$04,$05,$3f,$70
	db $20,$05,$05,$50,$01
	db $30,$05,$04,$45,$60

	db $1c,$01,$01,$3f,$01
	db $1c,$01,$01,$50,$10
	db $1c,$01,$01,$62,$01
	db $1c,$01,$01,$74,$01
	db $30,$01,$01,$86,$01
	db $30,$10,$00,$90,$60

	db $30,$03,$03,$45,$30
	db $38,$03,$01,$86,$60

	db $48,$03,$01,$30,$01
	db $48,$03,$01,$50,$01
	db $48,$07,$05,$70,$01
	db $48,$07,$05,$90,$20
	db $38,$03,$01,$b0,$01
	db $30,$0f,$00,$47,$70



	db $20,$03,$01,$30,$01
	db $20,$03,$01,$40,$01
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$19
	db $20,$05,$05,$80,$30

	db $30,$04,$04,$42,$30
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$19
	db $30,$04,$04,$80,$40
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$19
	db $30,$04,$04,$70,$40
	db $30,$05,$05,$42,$ff,$80
titanitems::
	db $00,$00,$ff
	db $00,$00,$ff
	db $C6,$62,$45
	db $C6,$62,$01
	db $C6,$80,$45
	db $C7,$70,$45
	db $C7,$40,$45
	db $C9,$70,$10
	db $C8,$40,$ef
	db $C9,$70,$01
	db $C8,$70,$ff
	db $C8,$70,$01
	db $C7,$70,$f0
	db $C7,$70,$ff
titantext::
	db $54,$04
	dw enteringorbit
	db $70
	db $5d,$06
	dw welcometotitan
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $ff

	db $56,$06
	dw mothershiplocated
	db $ff
;titanend::

uranus::
	db $00,$00,$00,$00,$50
	db $30,$03,$03,$40,$20
	db $30,$04,$05,$50,$10
	db $30,$05,$04,$50,$30
	
	db $4c,$07,$05,$70,$20
	db $4c,$03,$01,$50,$20
	db $4c,$03,$01,$90,$20
	db $4c,$03,$01,$30,$40

	db $30,$03,$03,$90,$20
	db $30,$03,$03,$50,$20
	db $30,$03,$03,$80,$40

	db $28,$ff,$01,$80,$40

	db $48,$03,$01,$30,$01
	db $48,$03,$01,$50,$01
	db $48,$07,$05,$70,$01
	db $48,$07,$05,$90,$20
	db $38,$03,$01,$b0,$01
	db $30,$05,$05,$47,$a0

	db $38,$01,$01,$50,$10
	db $6c,$01,$01,$50,$24
	db $38,$01,$01,$80,$10
	db $6c,$01,$01,$80,$25
	db $38,$01,$01,$42,$10
	db $6c,$01,$01,$42,$30

	db $30,$03,$03,$45,$30

	db $30,$03,$03,$90,$20
	db $30,$03,$03,$50,$20
	db $30,$03,$03,$80,$40



	db $30,$04,$05,$90,$20
	db $30,$04,$05,$50,$20
	db $30,$04,$05,$80,$40

	db $30,$02,$02,$3f,$20
	db $30,$02,$02,$63,$20
	db $40,$02,$01,$40,$01
	db $44,$02,$01,$90,$01
	db $30,$02,$02,$8a,$40

	db $30,$05,$04,$72,$20
	db $40,$02,$01,$40,$01
	db $44,$02,$01,$90,$01
	db $30,$05,$04,$3f,$20
	db $30,$05,$04,$90,$40

	db $28,$04,$04,$40,$01	
	db $28,$04,$04,$50,$01	
	db $40,$02,$01,$40,$01
	db $44,$02,$01,$90,$01
	db $28,$04,$04,$80,$ff,$80
uranusitems::
neptuneitems::
	db $00,$00,$ff
	db $C8,$70,$10
	db $C8,$70,$10
	db $C8,$70,$40
	db $c7,$45,$70
	db $C8,$62,$01
	db $C9,$70,$10
	db $C8,$62,$01
	db $C9,$80,$45
	db $C7,$62,$01
	db $C7,$70,$45
	db $C8,$40,$45
	db $C9,$70,$10
	db $C8,$40,$ef
	db $C9,$70,$01
	db $C8,$70,$ff
	db $C8,$70,$01
	db $C7,$70,$f0
	db $C7,$70,$ff
uranustext::
	db $54,$04
	dw enteringorbit
	db $70
	db $00,$00
	dw blanktxt
	db $4b
	db $5d,$06
	dw useabomb
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $00,$00
	dw blanktxt
	db $ff

	db $00,$00
	dw blanktxt
	db $ff
	db $56,$06
	dw mothershiplocated
	db $ff
;uranusend::

neptune::
	db $00,$00,$00,$00,$50
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	db $1C,$05,$04,$49,$20
	db $1C,$05,$04,$80,$65
	db $1C,$05,$04,$90,$01
	db $1C,$05,$04,$3a,$01
	db $1C,$03,$02,$50,$01
	db $48,$03,$01,$6a,$60
	db $20,$03,$01,$90,$30
	db $1C,$03,$02,$50,$01
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	db $20,$03,$01,$20,$07
	db $1c,$05,$04,$90,$30
	db $48,$03,$01,$6a,$20
	db $48,$03,$01,$88,$1b
	db $28,$03,$01,$3a,$40
	db $28,$03,$01,$50,$70
	db $28,$03,$01,$90,$05
	db $28,$03,$01,$3f,$01
	db $28,$03,$01,$50,$01
	db $28,$03,$01,$62,$01
	db $28,$03,$01,$74,$01
	db $28,$03,$01,$86,$60

	db $28,$03,$01,$3f,$01
	db $28,$03,$01,$50,$05
	db $28,$03,$01,$62,$01
	db $28,$03,$01,$74,$01
	db $28,$03,$01,$86,$01
	db $28,$03,$01,$90,$60

	db $30,$03,$03,$45,$30
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	db $38,$03,$01,$86,$60

	db $20,$03,$01,$42,$30
	db $20,$05,$04,$5b,$40

	db $28,$03,$01,$40,$04
	db $28,$03,$01,$63,$04
	db $28,$03,$01,$85,$30
	db $28,$03,$01,$87,$55
	
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01

	db $30,$03,$03,$40,$04
	db $40,$02,$01,$40,$01
	db $44,$02,$01,$90,$01
	db $30,$03,$03,$63,$20
	db $30,$03,$03,$85,$04
	db $30,$03,$03,$40,$04
	db $30,$03,$03,$63,$60


	db $6c,$05,$04,$42,$55
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	db $6c,$05,$04,$42,$30
	db $6c,$05,$04,$80,$40
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	db $6c,$05,$04,$70,$40
	db $6c,$05,$04,$42,$30
	db $40,$03,$01,$40,$01
	db $44,$03,$01,$90,$01
	
	db $30,$07,$05,$40,$30
	db $30,$07,$05,$50,$40
	db $30,$07,$05,$60,$40
	db $30,$07,$05,$70,$ff,$80


neptunetext::
	db $5d,$06
	dw enteringorbit
	db $3d
	db $5d,$06
	dw welcometoneptune
	db $3d
	db $54,$04
	dw okretletsgo
	db $6b
	db $5d,$06
	dw ialwaysdreamtof
	db $3d
	db $5d,$06
	dw visitingthisplanet
	db $3d
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $4b
	db $00,$00
	dw blanktxt
	db $ff
	db $00,$00
	dw blanktxt
	db $50
	db $5d,$06
	dw mothershiplocated
	db $ff
;neptuneend::


;;;;;;;;;;;;;;;;;;;;;;;;;;;;text maps
blanktxt::
	db $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	db $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	db $80,$80,$80,$80
ret2k32::
	DB $95,$82,$87,$80,$9E,$99,$80,$80,$95,$84
	DB $83,$AD,$80,$8E,$99,$80,$A3,$99,$9F,$80
	DB $8D,$99,$9A,$A3
okretletsgo::
	DB $99,$95,$B1,$80,$80,$80,$80,$80,$96,$8F
	DB $9E,$9D,$80,$91,$99,$AF,$80,$80,$80,$80
	DB $80,$80,$80,$80
howtoshoot::
	DB $9F,$9D,$8F,$80,$A6,$80,$9E,$99,$9D,$92
	DB $99,$99,$9E,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
howtoshootb::
	DB $9F,$9D,$8F,$80,$A7,$80,$9E,$99,$9D,$92
	DB $99,$99,$9E,$80,$80,$80,$8C,$99,$97,$8C
	DB $9D,$80,$80,$80
keepeyeonfuel::
	DB $95,$8F,$8F,$9A,$80,$8B,$98,$80,$8F,$A3
	DB $8F,$80,$99,$98,$80,$80,$80,$90,$9F,$8F
	DB $96,$80,$80,$80
willdo::
	DB $99,$95,$80,$80,$80,$80,$80,$80,$80,$A1
	DB $93,$96,$96,$80,$8E,$99,$80,$80,$80,$80
	DB $80,$80,$80,$80
incominggroupofenemies::
	DB $93,$98,$8D,$99,$97,$93,$98,$91,$91,$9C
	DB $99,$9F,$9A,$80,$99,$90,$8F,$98,$8F,$97
	DB $93,$8F,$9D,$80
imalmostthere::
	DB $93,$B0,$97,$80,$80,$80,$80,$80,$8B,$96
	DB $97,$99,$9D,$9E,$80,$80,$80,$9E,$92,$8F
	DB $9C,$8F,$80,$80
mothershiplocated::
	DB $97,$99,$9E,$92,$8F,$9C,$B4,$80,$80,$80
	DB $9D,$92,$93,$9A,$80,$80,$96,$99,$8D,$8B
	DB $9E,$8F,$8E,$80
enteringorbit::
	DB $8F,$98,$9E,$8F,$9C,$93,$98,$91,$99,$9C
	DB $8C,$93,$9E,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
whatswiththecolors::
	DB $A1,$92,$8B,$9E,$9D,$80,$80,$80,$A1,$93
	DB $9E,$92,$80,$9E,$92,$8F,$8D,$99,$96,$99
	DB $9C,$9D,$AE,$80
dependinontheenemy::
	DB $8E,$8F,$9A,$8F,$98,$8E,$93,$98,$99,$98
	DB $80,$9E,$92,$8F,$80,$80,$8F,$98,$8F,$97
	DB $A3,$B1,$80,$80
itcanmeanhowstrongitis::
	DB $8C,$96,$9F,$8F,$80,$99,$9C,$80,$9C,$8F
	DB $8E,$80,$93,$9D,$80,$80,$9D,$9E,$9C,$99,$98
	DB $91,$8F,$9C
makessense::
	DB $97,$8B,$95,$8F,$9D,$80,$80,$80,$80,$80
	DB $9D,$8F,$98,$9D,$8F,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
itshotinhere::
	DB $93,$9E,$9D,$80,$80,$80,$80,$80,$80,$92
	DB $99,$9E,$80,$93,$98,$80,$92,$8F,$9C,$8F
	DB $AF,$80,$80,$80
dontworry::
	DB $8E,$99,$98,$9E,$80,$80,$80,$80,$A1,$99
	DB $9C,$9C,$A3,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
yourshipcantakeit::
	DB $A3,$99,$9F,$9C,$80,$80,$80,$80,$9D,$92
	DB $93,$9A,$80,$8D,$8B,$98,$9E,$8B,$95,$8F
	DB $80,$80,$93,$9E
becareful::
	DB $8C,$8F,$80,$80,$80,$80,$80,$80,$8D,$8B
	DB $9C,$8F,$90,$9F,$96,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
theresrocketsontheground::
	DB $9E,$92,$8F,$9C,$8F,$B0,$9D,$80,$9C,$99
	DB $8D,$95,$8F,$9E,$80,$80,$8C,$99,$97,$8C
	DB $9D,$80,$80,$80
yep::
	db $A3,$8F,$9A,$80,$80,$80,$80,$80,$80,$80
	db $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	db $80,$80,$80,$80
iftheenemyistoo::
	DB $93,$90,$80,$9E,$92,$8F,$80,$80,$8F,$98
	DB $8F,$97,$A3,$80,$93,$9D,$9E,$99,$99,$80
	DB $B4,$80,$80,$80
strong::
	DB $9D,$9E,$9C,$99,$98,$91,$B1,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80
useabomb::
	DB $80,$80,$80,$80,$80,$80,$80,$80,$9F,$9D
	DB $8F,$80,$8B,$80,$80,$80,$8C,$99,$97,$8C
	DB $80,$80,$80,$80
welcometotitan::
	DB $A1,$8F,$96,$8D,$99,$97,$8F,$80,$80,$80
	DB $80,$9E,$99,$80,$80,$80,$9E,$93,$9E,$8B
	DB $98,$80,$80,$80
welcometoneptune::
	DB $A1,$8F,$96,$8D,$99,$97,$8F,$80,$80,$80
	DB $80,$9E,$99,$80,$80,$80,$98,$8F,$9A,$9E
	DB $9F,$98,$8F,$80
ialwaysdreamtof::
	DB $93,$80,$8B,$96,$A1,$8B,$A3,$9D,$8E,$9C
	DB $8F,$8B,$97,$9E,$80,$80,$99,$90,$80,$80
	DB $80,$80,$80,$80
visitingthisplanet::
	DB $A0,$93,$9D,$93,$9E,$93,$98,$91,$9E,$92
	DB $93,$9D,$80,$80,$80,$80,$80,$80,$9A,$96
	DB $8B,$98,$8F,$9E
;
sound2::
	ld a,$70
	ld [rNR13],a
	ld a,$c7
	ld [rNR14],a
	ld a,$52
	jr sound.s2
sound::
	ld a,$ff
	ld [rNR13],a
	ld a,$c6
	ld [rNR14],a
	ld a,$52
.s2

	ld [rNR12],a
	ld a,$79
	ld [rNR10],a
	ld a,$8c
	ld [rNR11],a


ret

;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;music


intromap::
	DB $93,$9E,$80,$93,$9D,$80,$9E,$92,$8F,$80
	DB $A3,$8F,$8B,$9C,$80,$83,$82,$81,$A2,$B1
	DB $8B,$98,$8E,$80,$99,$9F,$9C,$80,$9D,$99
	DB $96,$8B,$9C,$80,$9D,$A3,$9D,$9E,$8F,$97
	DB $92,$8B,$9D,$80,$8C,$8F,$8F,$98,$80,$93
	DB $98,$A0,$8B,$8E,$8F,$8E,$80,$8C,$A3,$80
	DB $8B,$96,$93,$8F,$98,$9D,$80,$A1,$92,$99
	DB $9D,$8F,$80,$9A,$96,$8B,$98,$9D,$80,$80
	DB $8B,$9C,$8F,$80,$9E,$99,$80,$8D,$99,$97
	DB $9A,$96,$8F,$9E,$8f,$96,$A3,$80,$80,$80
	DB $8E,$9C,$8B,$93,$98,$80,$99,$9F,$9C,$80
	DB $9A,$96,$8B,$98,$8F,$9E,$9D,$80,$99,$90
	DB $9E,$92,$8F,$93,$9C,$80,$9C,$8F,$9D,$99
	DB $9F,$9C,$8D,$8F,$9D,$AD,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$9E,$92,$8F,$80,$8B,$96,$93,$8F,$98
	DB $9D,$80,$92,$8B,$A0,$8F,$80,$80,$80,$80
	DB $8B,$96,$9C,$8F,$8B,$8E,$A3,$80,$9E,$8B
	DB $95,$8F,$98,$80,$8E,$99,$A1,$98,$80,$80
	DB $8B,$96,$96,$80,$99,$9F,$9C,$80,$93,$98
	DB $9E,$8F,$9C,$9A,$96,$8B,$98,$8F,$9E,$B4
	DB $8B,$9C,$A3,$80,$8C,$8B,$9D,$8F,$9D,$AD
	DB $98,$99,$A1,$B1,$9E,$92,$8F,$A3,$80,$80
	DB $8B,$9C,$8F,$80,$92,$8F,$8B,$8E,$93,$98
	DB $91,$80,$9E,$99,$A1,$8B,$9C,$8E,$9D,$80
	DB $8F,$8B,$9C,$9E,$92,$AD,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$80,$80,$80,$80,$80,$80,$80,$80,$80
	DB $80,$A1,$8F,$80,$92,$8B,$A0,$8F,$80,$9E
	DB $99,$80,$90,$93,$91,$92,$9E,$80,$9E,$99
	DB $9A,$9C,$99,$9E,$8F,$8D,$9E,$80,$99,$9F
	DB $9C,$80,$9D,$99,$96,$8B,$9C,$80,$80,$80
	DB $9D,$A3,$9D,$9E,$8F,$97,$aD,$9E,$92,$8F
	DB $80,$9A,$96,$8B,$98,$80,$93,$9D,$80,$80
intromapend::




lctxt:: db $96,$8F,$A0,$8F,$96,$80,$8D,$99,$97,$9A,$96,$8F,$9E,$8F


SECTION "vars",WRAM0[$C400]
timer::
db
jpad::
db
pewtimer::
db
bombcount::
db
health::
db
fuel::
db
barline::
db
barline2::
db

x::
db
y::
db
x1::
db
y1::
db

levelend::
db

previoushealth::
db

invencible::
db

;;level build
enemywait::
db
nextenemyh::
db
nextenemyl::
db
itemwait::
db
nextitemh::
db
nextiteml::
db
textwait::
db
nexttexth::
db
nexttextl::
db	
textendwait::
db
;enemies health
e1h::
db
e2h::
db
e3h::
db
e4h::
db
e5h::
db
enemyhealth::
db



;;;;;;;;;;;;;;;;;;;;;;;;;;;;;sound vars;;;;;;;;;;;;
CH1note2PlayH::
db
CH1note2PlayL::
db
CH1loopADDRL::
db
CH1loopADDRH::
db
CH1musicLoopStartH::
db
CH1musicLoopStartL::
db
CH2note2PlayH::
db
CH2note2PlayL::
db
CH2loopADDRL::
db
CH2loopADDRH::
db
CH2musicLoopStartH::
db
CH2musicLoopStartL::
db
CH4note2PlayH::
db
CH4note2PlayL::
db
CH4loopADDRL::
db
CH4loopADDRH::
db
CH4musicLoopStartH::
db
CH4musicLoopStartL::
db
NR13::
db
NR14::
db
NR23::
db
NR24::
db
noise::
db



;;;;;;;;;;;textanimationvars
chart::
	db
ctah::
	db
ctal::
	db
cpal::
	db
ctab::
	db
ctac::
	db




;;;;;;;;;;;other
shipeffect::
db
scspeed::
db
bosspalette::
db
bosspewtile::
db
bosshealth::
db
bossit::
db
varb::
db

system::
db